:host {
    .tab-title {
        font-size: 18px;
        color: #2f2b66;
    }
     ::ng-deep {
        .dx-icon.fa.fa-plus {
            color: #fff !important;
        }
        .conten-block {
            margin-top: 5px;
            .content-title {
                text-align: left;
                padding: 10px 0 20px 0;
                font-size: 18px;
                color: #2f2b66;
                font-weight: bold;
            }
            .content-end-line {
                margin: auto;
                width: 100%;
                border-bottom: 1px solid #dddddd;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .content-title-line {
                margin: auto;
                width: 100%;
                border-bottom: 1px solid #dddddd;
                margin-top: 40px;
            }
            .content-form {
                .card>.card-header {
                    font-size: 18px;
                    font-weight: bold;
                    background: #374784 !important;
                    color: #ffffff !important;
                }
            }
        }
    }
    .btn-footer {
        margin-top: 40px;
    }
     ::ng-deep {
        .text-area-description .dx-texteditor-input {
            text-indent: 30px !important;
        }
    }
}

.custom-ratio {
     ::ng-deep .dx-widget.dx-collection>.dx-item.dx-radiobutton {
        width: 500px;
         ::ng-deep .dx-radio-value-container {
            width: 40px;
            vertical-align: top
        }
        .sub-content {
            padding-top: 10px;
        }
        .sub-content>.location {
            padding-left: 28px;
            padding-right: 0px;
        }
    }
}
