<div class="w-100 myFooter" style="background-image: url(assets/image/navbar/Footer-01.png);">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="footer-social-link d-flex">
                    <div class="col-sm-8 d-block">
                        <p>กองบัญชาการตำรวจสืบสวนสอบสวนอาชญากรรมทางเทคโนโลยี (บช.สอท.) อาคารเฉลิมพระเกียรติ สมเด็จพระบรมโอรสาธิราชฯ สยามมกุฎราชกุมาร พระชนมพรรษา 60 พรรษา ชั้น 6 เมืองทองธานี ถนนป๊อปปูล่า ตำบลบ้านใหม่ อำเภอปากเกร็ด จังหวัดนนทบุรี
                        </p>
                        <!-- <span>กองบัญชาการตำรวจสืบสวนอาชญากรรมทางเทคโนโลยี</span><br>
                        <span>อาคารเฉลิมพระเกียตรสมเด็จพระบรมโอสาธิราชฯ สยามมงกุฎราชกุมารพระชนมพรรษา 60 พรรษา (อาคาร 30
                            ชั้น) ชั้นที่ 4</span><br>
                        <span>เมืองทองธานี ถนนป๊อปปูล่า ตำบลบ้านใหม่ อำเภอปากเกร็ด จังหวัดนนทบุรี 1120</span> -->
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li>
                                <a style="padding-right: 5px;">
                                    <img src="assets/ccib/img/icon/f1.png" [height]="40">
                                </a>
                            </li>
                            <li>
                                <a style="padding-right: 5px;">
                                    <img src="assets/ccib/img/icon/f2.png" [height]="40">
                                </a>
                            </li>
                            <li>
                                <a style="padding-right: 5px;">
                                    <img src="assets/ccib/img/icon/f3.png" [height]="40">
                                </a>
                            </li>
                            <!-- <li>
                                <a style="padding-right: 5px;">
                                    <img src="assets/ccib/img/icon/f4.png" [height]="40">
                                </a>
                            </li>
                            <li>
                                <a style="padding-right: 5px;">
                                    <img src="assets/ccib/img/icon/f5.png" [height]="40">
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
