<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <div class="service-container">
            <div class="serviceHeader">
                <div class="breadcrumbs" (click)="goBack()" style="cursor: pointer;">
                    <img src="assets/icon/arrow-left.svg">ย้อนกลับ
                </div>
            </div>
            <div class="service-content">
                <div class="service-content-main">
                    <div class="service-header">
                        <p class="service-category">test</p>
                        <h1 class="service-title">test</h1>
                        <p class="service-author">test</p>
                        <p class="service-date">test</p>
                    </div>
                    <div class="service-image">
                        <img src="assets/icon/Emblem_of_Royal_Thai_Police 1.png">
                    </div>
                    <div class="service-body">
                        test
                    </div>
                    <hr>
                    <div class="service-footer">
                        <div class="sharebtncontrol">แชร์บทความนี้
                            <div class="social-icons">
                                <img src="assets/icon/facebook.svg">
                                <img src="assets/icon/instagram.svg">
                                <img src="assets/icon/twitter.svg">
                                <img src="assets/icon/youtube.svg">
                            </div>
                        </div>
                        <p class="view-count"><img src="assets/icon/view.svg">0 ครั้ง</p>
                    </div>
                </div>
                <div class="service-nav-list">
                    <app-security-box class="witget"></app-security-box>
                </div>
            </div>
        </div>
       <app-totopbtn></app-totopbtn>
    </div>
</div>
<footer-re-design></footer-re-design>