.menuHeader {
     z-index: 999;
     position: fixed;
     width: 100%;
     top: 0;
     padding: 1vw 2vw;
     background: #FFFFFF;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
     display: flex;
     align-items: center;
     justify-content: space-between;
     transition: all 0.3s ease-in-out;

     .menuHeaderLeft {
          list-style: none;
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0;

          img {
               height: 50px;
               cursor: pointer;
               transition: transform 0.3s ease-in-out;

               &:hover {
                    transform: scale(1.1);
               }
          }

          .boxCyberCrime {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               margin: 0 10px;

               .mainTitle {
                    font-size: 1.2vw;
                    color: #273880;
                    font-weight: 600;
                    margin: 0;
               }

               .subTitle {
                    font-size: 1vw;
                    color: #343434;
                    font-weight: 500;
                    margin: 0;
               }
          }
     }

     .menuHeaderRight {
          list-style: none;
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0;
          gap: 1vw;

          .textRight {
               font-size: 16px;
               font-weight: 600;
               color: #000000;
               margin: 0;
               cursor: pointer;
          }

          .btnSignin,
          .btnLogout {
               display: flex;
               align-items: center;
               justify-content: center;
               color: #ffffff;
               padding: 8px 20px;
               background: #273880;
               border-radius: 8px;
               max-height: 50px;
               transition: background-color 0.3s ease-in-out;

               &:hover {
                    background-color: #1a2b5a; // เปลี่ยนสีเมื่อ hover
               }

               .textSignin,
               .textLogout {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
               }
          }
     }

     .hamburger-menu {
          display: none;
          cursor: pointer;
          flex-direction: column;
          gap: 4px;
          justify-content: center;
          align-items: center;

          img {
               width: 5vw
          }
     }

}

/* 📌 หน้าจอเล็กมาก (มือถือขนาดเล็ก) */
@media screen and (min-width: 318px) and (max-width: 575px) {
     .menuHeader {
          padding: 3vw 2vw;

          .menuHeaderLeft {

               .boxLogo {
                    width: 20vw;
               }

               img {
                    height: 8vw;
               }

               .boxCyberCrime {
                    margin: 0;

                    .mainTitle {
                         font-size: 3vw;
                    }

                    .subTitle {
                         font-size: 2.5vw;
                    }
               }
          }
     }

     .menuHeaderRight {
          display: none !important;
     }

     .hamburger-menu {
          display: flex !important;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;

          img {
               width: 4vw !important;
          }

          .iconHamburger {
               width: 100%;
               height: auto;
               transition: transform 0.4s ease-in-out;
          }

          .iconHamburger.open {
               transform: rotate(180deg);
          }
     }


     .menuHeaderRight {
          position: absolute;
          top: 120%;
          right: 5%;
          background-color: #ffffff;
          width: 215px;
          padding: 0px 15px !important;
          border-radius: 12px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          flex-direction: column;
          align-items: flex-start;
          transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 0;
          transform: translateY(-20px); // เริ่มต้นอยู่สูงขึ้น
          z-index: 1000;
          pointer-events: none; // ป้องกันไม่ให้เมนูที่ปิดรับการคลิก
          display: none; // ซ่อนเมนูเมื่อไม่ได้เปิด

          // เมื่อเปิดเมนู
          &.open {
               display: flex !important;
               transform: translateY(0);
               opacity: 1;
               pointer-events: auto; // เมื่อเปิดเมนู ให้สามารถคลิกได้

               // สำหรับรายการในเมนูที่เปิด
               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 1;
                    transform: translateX(0); // เลื่อนมาจากซ้าย
               }
          }

          // เมื่อปิดเมนู
          &:not(.open) {
               display: none !important;
               pointer-events: none; // ป้องกันไม่ให้คลิกในเมนูที่ปิด

               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 0;
                    transform: translateX(-20px); // เลื่อนไปทางซ้ายเมื่อปิด
               }
          }

          // สำหรับรายการแต่ละตัวในเมนู
          li,
          .boxButton,
          .btnSignin,
          .btnLogout {
               width: 100%;
               padding: 10px 5px 5px 5px;
               font-size: 16px !important;
               font-weight: 600;
               color: #273880;
               cursor: pointer;
               transition: background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
               border-radius: 8px;
               opacity: 0;
               transform: translateX(-20px); // เริ่มต้นเลื่อนไปทางซ้าย
          }

          // Hover ของ li
          li:hover {
               background: #f4f6fc;
               color: #1a2b5a;
          }

          // ส่วนของ Box Button
          .boxButton {
               padding: 10px 10px;
               border-top: 1px solid;
               border-radius: 0px;
          }

          .btnSignin,
          .btnLogout {
               text-align: center;
               padding: 10px;
               font-size: 16px !important;
               font-weight: 600;
               border-radius: 8px;
               transition: background-color 0.3s ease-in-out;
          }

          .btnSignin {
               background: #273880;
               color: #ffffff;

               .textSignin {
                    font-size: 14px !important;
               }
          }

          .btnSignin:hover {
               background: #1a2b5a;
          }

          .btnLogout {
               background: #d9534f;
               color: #ffffff;
               font-size: 14px !important;

               .textLogout {
                    font-size: 14px !important;
               }
          }

          .btnLogout:hover {
               background: #c9302c;
          }

          .textRight {
               font-size: 14px !important;
          }
     }
}

/* 📌 หน้าจอมือถือปกติ */
@media screen and (min-width: 576px) and (max-width: 767px) {

     .menuHeader {
          padding: 3vw 2vw;

          .menuHeaderLeft {

               .boxLogo {
                    width: 20vw;
               }

               img {
                    height: 8vw;
               }

               .boxCyberCrime {
                    margin: 0;

                    .mainTitle {
                         font-size: 3vw;
                    }

                    .subTitle {
                         font-size: 2.5vw;
                    }
               }
          }
     }

     .menuHeaderRight {
          display: none !important;
     }

     .hamburger-menu {
          display: flex !important;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;

          img {
               width: 4vw !important;
          }

          .iconHamburger {
               width: 100%;
               height: auto;
               transition: transform 0.4s ease-in-out;
          }

          .iconHamburger.open {
               transform: rotate(180deg);
          }
     }


     .menuHeaderRight {
          position: absolute;
          top: 120%;
          right: 5%;
          background-color: #ffffff;
          width: 215px;
          padding: 0px 15px !important;
          border-radius: 12px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          flex-direction: column;
          align-items: flex-start;
          transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 0;
          transform: translateY(-20px); // เริ่มต้นอยู่สูงขึ้น
          z-index: 1000;
          pointer-events: none; // ป้องกันไม่ให้เมนูที่ปิดรับการคลิก
          display: none; // ซ่อนเมนูเมื่อไม่ได้เปิด

          // เมื่อเปิดเมนู
          &.open {
               display: flex !important;
               transform: translateY(0);
               opacity: 1;
               pointer-events: auto; // เมื่อเปิดเมนู ให้สามารถคลิกได้

               // สำหรับรายการในเมนูที่เปิด
               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 1;
                    transform: translateX(0); // เลื่อนมาจากซ้าย
               }
          }

          // เมื่อปิดเมนู
          &:not(.open) {
               display: none !important;
               pointer-events: none; // ป้องกันไม่ให้คลิกในเมนูที่ปิด

               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 0;
                    transform: translateX(-20px); // เลื่อนไปทางซ้ายเมื่อปิด
               }
          }

          // สำหรับรายการแต่ละตัวในเมนู
          li,
          .boxButton,
          .btnSignin,
          .btnLogout {
               width: 100%;
               padding: 10px 5px 5px 5px;
               font-size: 16px !important;
               font-weight: 600;
               color: #273880;
               cursor: pointer;
               transition: background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
               border-radius: 8px;
               opacity: 0;
               transform: translateX(-20px); // เริ่มต้นเลื่อนไปทางซ้าย
          }

          // Hover ของ li
          li:hover {
               background: #f4f6fc;
               color: #1a2b5a;
          }

          // ส่วนของ Box Button
          .boxButton {
               padding: 10px 10px;
               border-top: 1px solid;
               border-radius: 0px;
          }

          .btnSignin,
          .btnLogout {
               text-align: center;
               padding: 10px;
               font-size: 16px !important;
               font-weight: 600;
               border-radius: 8px;
               transition: background-color 0.3s ease-in-out;
          }

          .btnSignin {
               background: #273880;
               color: #ffffff;

               .textSignin {
                    font-size: 14px !important;
               }
          }

          .btnSignin:hover {
               background: #1a2b5a;
          }

          .btnLogout {
               background: #d9534f;
               color: #ffffff;
               font-size: 14px !important;

               .textLogout {
                    font-size: 14px !important;
               }
          }

          .btnLogout:hover {
               background: #c9302c;
          }

          .textRight {
               font-size: 14px !important;
          }
     }
}

/* 📌 หน้าจอแท็บเล็ต */
@media screen and (min-width: 768px) and (max-width: 991px) {

     .menuHeader {
          padding: 3vw 2vw;

          .menuHeaderLeft {

               .boxLogo {
                    width: 20vw;
               }

               img {
                    height: 8vw;
               }

               .boxCyberCrime {
                    margin: 0;

                    .mainTitle {
                         font-size: 3vw;
                    }

                    .subTitle {
                         font-size: 2.5vw;
                    }
               }
          }
     }

     .menuHeaderRight {
          display: none !important;
     }

     .hamburger-menu {
          display: flex !important;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;

          img {
               width: 4vw !important;
          }

          .iconHamburger {
               width: 100%;
               height: auto;
               transition: transform 0.4s ease-in-out;
          }

          .iconHamburger.open {
               transform: rotate(180deg);
          }
     }


     .menuHeaderRight {
          position: absolute;
          top: 120%;
          right: 5%;
          background-color: #ffffff;
          width: 215px;
          padding: 0px 15px !important;
          border-radius: 12px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          flex-direction: column;
          align-items: flex-start;
          transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 0;
          transform: translateY(-20px); // เริ่มต้นอยู่สูงขึ้น
          z-index: 1000;
          pointer-events: none; // ป้องกันไม่ให้เมนูที่ปิดรับการคลิก
          display: none; // ซ่อนเมนูเมื่อไม่ได้เปิด

          // เมื่อเปิดเมนู
          &.open {
               display: flex !important;
               transform: translateY(0);
               opacity: 1;
               pointer-events: auto; // เมื่อเปิดเมนู ให้สามารถคลิกได้

               // สำหรับรายการในเมนูที่เปิด
               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 1;
                    transform: translateX(0); // เลื่อนมาจากซ้าย
               }
          }

          // เมื่อปิดเมนู
          &:not(.open) {
               display: none !important;
               pointer-events: none; // ป้องกันไม่ให้คลิกในเมนูที่ปิด

               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 0;
                    transform: translateX(-20px); // เลื่อนไปทางซ้ายเมื่อปิด
               }
          }

          // สำหรับรายการแต่ละตัวในเมนู
          li,
          .boxButton,
          .btnSignin,
          .btnLogout {
               width: 100%;
               padding: 10px 5px 5px 5px;
               font-size: 16px !important;
               font-weight: 600;
               color: #273880;
               cursor: pointer;
               transition: background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
               border-radius: 8px;
               opacity: 0;
               transform: translateX(-20px); // เริ่มต้นเลื่อนไปทางซ้าย
          }

          // Hover ของ li
          li:hover {
               background: #f4f6fc;
               color: #1a2b5a;
          }

          // ส่วนของ Box Button
          .boxButton {
               padding: 10px 10px;
               border-top: 1px solid;
               border-radius: 0px;
          }

          .btnSignin,
          .btnLogout {
               text-align: center;
               padding: 10px;
               font-size: 16px !important;
               font-weight: 600;
               border-radius: 8px;
               transition: background-color 0.3s ease-in-out;
          }

          .btnSignin {
               background: #273880;
               color: #ffffff;

               .textSignin {
                    font-size: 14px !important;
               }
          }

          .btnSignin:hover {
               background: #1a2b5a;
          }

          .btnLogout {
               background: #d9534f;
               color: #ffffff;
               font-size: 14px !important;

               .textLogout {
                    font-size: 14px !important;
               }
          }

          .btnLogout:hover {
               background: #c9302c;
          }

          .textRight {
               font-size: 14px !important;
          }
     }
}

/* 📌 หน้าจอเดสก์ท็อปขนาดกลาง */
@media screen and (min-width: 992px) and (max-width: 1199px) {
     .menuHeader {
          padding: 3vw 2vw;

          .menuHeaderLeft {

               .boxLogo {
                    width: 15vw;
               }

               img {
                    height: 6vw;
               }

               .boxCyberCrime {
                    margin: 0;

                    .mainTitle {
                         font-size: 2vw;
                    }

                    .subTitle {
                         font-size: 1vw;
                    }
               }
          }
     }

     .menuHeaderRight {
          display: none !important;
     }
  

     .hamburger-menu {
          display: flex !important;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;

          img {
               width: 2.5vw !important;
          }

          .iconHamburger {
               width: 100%;
               height: auto;
               transition: transform 0.4s ease-in-out;
          }

          .iconHamburger.open {
               transform: rotate(180deg);
          }
     }


     .menuHeaderRight {
          position: absolute;
          top: 120%;
          right: 5%;
          background-color: #ffffff;
          width: 215px;
          padding: 0px 15px !important;
          border-radius: 12px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          flex-direction: column;
          align-items: flex-start;
          transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
          opacity: 0;
          transform: translateY(-20px); // เริ่มต้นอยู่สูงขึ้น
          z-index: 1000;
          pointer-events: none; // ป้องกันไม่ให้เมนูที่ปิดรับการคลิก
          display: none; // ซ่อนเมนูเมื่อไม่ได้เปิด

          // เมื่อเปิดเมนู
          &.open {
               display: flex !important;
               transform: translateY(0);
               opacity: 1;
               pointer-events: auto; // เมื่อเปิดเมนู ให้สามารถคลิกได้

               // สำหรับรายการในเมนูที่เปิด
               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 1;
                    transform: translateX(0); // เลื่อนมาจากซ้าย
               }
          }

          // เมื่อปิดเมนู
          &:not(.open) {
               display: none !important;
               pointer-events: none; // ป้องกันไม่ให้คลิกในเมนูที่ปิด

               li,
               .boxButton,
               .btnSignin,
               .btnLogout {
                    opacity: 0;
                    transform: translateX(-20px); // เลื่อนไปทางซ้ายเมื่อปิด
               }
          }

          // สำหรับรายการแต่ละตัวในเมนู
          li,
          .boxButton,
          .btnSignin,
          .btnLogout {
               width: 100%;
               padding: 10px 5px 5px 5px;
               font-size: 16px !important;
               font-weight: 600;
               color: #273880;
               cursor: pointer;
               transition: background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
               border-radius: 8px;
               opacity: 0;
               transform: translateX(-20px); // เริ่มต้นเลื่อนไปทางซ้าย
          }

          // Hover ของ li
          li:hover {
               background: #f4f6fc;
               color: #1a2b5a;
          }

          // ส่วนของ Box Button
          .boxButton {
               padding: 10px 10px;
               border-top: 1px solid;
               border-radius: 0px;
          }

          .btnSignin,
          .btnLogout {
               text-align: center;
               padding: 10px;
               font-size: 16px !important;
               font-weight: 600;
               border-radius: 8px;
               transition: background-color 0.3s ease-in-out;
          }

          .btnSignin {
               background: #273880;
               color: #ffffff;

               .textSignin {
                    font-size: 14px !important;
               }
          }

          .btnSignin:hover {
               background: #1a2b5a;
          }

          .btnLogout {
               background: #d9534f;
               color: #ffffff;
               font-size: 14px !important;

               .textLogout {
                    font-size: 14px !important;
               }
          }

          .btnLogout:hover {
               background: #c9302c;
          }

          .textRight {
               font-size: 14px !important;
          }
     }
}