<div class="block-content">
    <div class="title">
        <div class="title-left"><b>หน้าหลัก</b></div>
        <!--        <div class="title-right">หน้าหลัก</div>-->
    </div>
    <div class="block-main list-appointment" *ngIf="!(countAppointmentList == 0)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- <div class="inblock-title">การนัดหมาย</div> -->
                    <!-- <div class="table-list-Appointment">
                        <dx-data-grid #grid [dataSource]="listAppointment" [showColumnLines]="false" [wordWrapEnabled]="true" [showRowLines]="true" [columnAutoWidth]="true" [columnHidingEnabled]="true" [showBorders]="false" [rowAlternationEnabled]="true" [showColumnLines]="true"
                            [hoverStateEnabled]="true" [selectedRowKeys]="[]" noDataText="ไม่มีข้อมูล" [remoteOperations]="false">
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-load-panel text="กำลังโหลดข้อมูล..."></dxo-load-panel>
                            <dxo-search-panel [visible]="true" [width]="200" placeholder="ค้นหา..."></dxo-search-panel>
                            <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
                            </dxo-editing>
                            <dxo-selection mode="single"></dxo-selection>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
                            </dxo-pager>
                            <dxi-column dataField="" caption="จัดการ" [width]="100" alignment="center" [allowSorting]="false" cellTemplate="cellTemplateCommand"></dxi-column>
                            <div *dxTemplate="let cellValue of 'cellTemplateCommand'">
                                <div class="table-icon-edit" (click)="ViewTaskAppointmentId(cellValue)">
                                    <img src="assets/image/police/desktop/icon-view.png" alt="edit">
                                </div>
                            </div>
                            <dxi-column dataField="title" caption="เรื่อง" alignment="center">
                            </dxi-column>
                            <dxi-column dataField="date" [width]="200" caption="วันที่รับแจ้ง" alignment="center">
                            </dxi-column>
                            <dxi-column dataField="station" caption="สถานที่ตำรวจ" alignment="center">
                            </dxi-column>
                            <div *dxTemplate="let cell of 'cellTemplate'">
                                {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}
                            </div>
                        </dx-data-grid>
                    </div> -->
                    <div id="appointment-now">
                        <div class="row">
                            <div class="col-12">
                                <div class="inblock-title">การนัดหมาย</div>
                                <div>
                                    <div class="user-appointment">
                                        <div class="text-title">สวัสดี {{personalInfo.FullNameTH}} !</div>
                                        <div class="text">
                                            <span>คุณมีนัดหมายที่กำลังมาถึง </span>
                                            <span class="count-appointment">{{countAppointmentList}} </span>
                                            <span>รายการ ในวันนี้, ขอให้เป็นวันที่ดี :)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div *ngIf="showAppointmentList">
                                    <div *ngFor="let item of listAppointment" class="block-user-appointment">
                                        <div class="progress user-appointment-info color1">
                                            <div class="progress-bar left">
                                                <div class="text1">20 ม.ค.</div>
                                                <div class="text2">2564</div>
                                            </div>
                                            <div class="progress-bar center">
                                                <div class="text1">{{item.CATEGORY_NAME}}</div>
                                                <div class="text2">วันที่นัดหมาย 20 มกราคม2564 | เวลา 13.00 น.</div>
                                            </div>

                                            <div class="progress-bar station">
                                                <img src="assets/image/police/desktop/station.png" alt="station">
                                            </div>
                                            <div class="progress-bar right">
                                                <div class="text1">{{item.ORGANIZE_NAME_THA}}</div>
                                                <div class="text2">{{item.APP_PERSONAL_FULLNAME}} | โทร {{item.APPOINTMENT_PERSONAL_TEL_NO}}</div>
                                            </div>

                                        </div>
                                    </div>
                                </div> -->
                                <div *ngIf="showAppointmentList">
                                    <div *ngFor="let item of listAppointment; index as i"
                                        class="block-user-appointment">
                                        <div class="appointment-list" (click)="GotoUrlTaskList(item)">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row appointment-data">
                                                        <div class="col-6">
                                                            <div class="color-head"
                                                                [ngClass]="AppointmentColorClass(i)"> </div>
                                                            <div class="row">
                                                                <div class="col-auto">
                                                                    <div class="appointment-data-box1"
                                                                        *ngIf="item.APPOINTMENT_DATE != '4000-01-01T00:00:00'">
                                                                        <div class="text-title">
                                                                            {{ConvertDateTitle(item.APPOINTMENT_DATE)}}
                                                                        </div>
                                                                        <div class="text-subtitle">
                                                                            {{ConvertDateFullYear(item.APPOINTMENT_DATE)}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="appointment-data-box1"
                                                                        *ngIf="item.APPOINTMENT_DATE == '4000-01-01T00:00:00'">
                                                                        <div class="text-title">ยังไม่ได้ลงวันที่นัดหมาย
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col nopadding">
                                                                    <div class="appointment-data-box2">
                                                                        <div class="text-title track-code">
                                                                            <span
                                                                                class="marker">เลขรับแจ้งความออนไลน์</span>
                                                                            <span class="text-space-left">|</span>
                                                                            <span
                                                                                class="text-space-left">{{item.TRACKING_CODE}}</span>
                                                                        </div>
                                                                        <div class="text-title category">
                                                                            {{item.CATEGORY_NAME}}</div>
                                                                        <div class="text-subtitle"
                                                                            *ngIf="item.APPOINTMENT_DATE != '4000-01-01T00:00:00'">
                                                                            <span class="marker">วันที่นัดหมาย</span>
                                                                            <span
                                                                                class="text-space-left">{{ConvertDateFullMonth(item.APPOINTMENT_DATE)}}</span>
                                                                            <span class="text-space-left">|</span>
                                                                            <span
                                                                                class="text-space-left marker">เวลา</span>
                                                                            <span
                                                                                class="text-space-left">{{ConvertDateToMomentTime(item.APPOINTMENT_DATE)}}
                                                                                น.</span>
                                                                        </div>
                                                                        <div class="text-subtitle"
                                                                            *ngIf="item.APPOINTMENT_DATE == '4000-01-01T00:00:00'">
                                                                            <span class="marker">วันที่นัดหมาย</span>
                                                                            <span
                                                                                class="text-space-left">ยังไม่ได้ลงวันที่นัดหมาย</span>
                                                                            <span class="text-space-left">|</span>
                                                                            <span
                                                                                class="text-space-left marker">เวลา</span>
                                                                            <span
                                                                                class="text-space-left">ยังไม่ได้ลงเวลานัดหมาย</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 border-center">
                                                            <div class="row">
                                                                <div class="col-auto">
                                                                    <div class="appointment-data-box3">
                                                                        <img src="assets/image/police/desktop/station.png"
                                                                            alt="station">
                                                                    </div>
                                                                </div>
                                                                <div class="col nopadding">
                                                                    <div class="appointment-data-box4">
                                                                        <div class="text-title">
                                                                            {{item.ORGANIZE_NAME_THA}}</div>
                                                                        <div class="text-subtitle">
                                                                            <span
                                                                                class="marker">{{item.APP_PERSONAL_FULLNAME}}</span>
                                                                            <span
                                                                                class="marker text-space-left">|</span>
                                                                            <span class="text-space-left">โทร
                                                                                {{PhoneNumberFormat(item.APPOINTMENT_PERSONAL_TEL_NO)}}</span>
                                                                        </div>
                                                                        <div class="text-subtitle">
                                                                            <span
                                                                                class="marker">{{item.INVESTIGATE_OFFICER_NAME}}</span>
                                                                            <span
                                                                                class="marker text-space-left">|</span>
                                                                            <span class="text-space-left">โทร
                                                                                {{PhoneNumberFormat(item.INVESTIGATE_OFFICER_PHONE)}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="inblock-title">เรื่องที่แจ้ง</div>
                    <div>

                        <div class="panel panel-default pl-4 pr-4">

                            <!-- <div class="panel-heading">
                                <div class="panel-body w-100">
                                    <div class="row my-step">
                                        <div class="stepwizard form-no">
                                            <div class="stepwizard-row setup-panel">
                                                <div *ngFor="let item of data" class="stepwizard-step col-xs-3">
                                                    <span style="cursor: default !important;position: relative;" class="{{item.GROUP_STATUS_CLASS_DETAIL}}">
                                                        <div class="alert-task-new" *ngIf="checkValue(item.GROUP_COUNT)">{{item.GROUP_COUNT}}</div>
                                                        <button type="button" class="{{item.GROUP_STATUS_CLASS}}"
                                                            (click)="bindTaskList(item.GROUP_STATUS_CODE)">
                                                            <i class=" {{item.GROUP_ICON}}"></i>
                                                        </button>
                                                    </span>
                                                    <br>
                                                    <span class="{{item.GROUP_STATUS_CLASS_TXT}}"><label
                                                            class="step-text">{{item.GROUP_STATUS_NAME }}</label></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div style="margin: 10px;">
                                <div class="row justify-content-md-center">
                                    <div class="col-auto">
                                        <dx-scroll-view [height]="160" direction="horizontal">
                                            <div class="my-step">
                                                <div class="stepwizard form-no" [ngStyle]="{'width.px': statusWidth}">
                                                    <div class="stepwizard-row setup-panel">
                                                        <div *ngFor="let item of data" class="stepwizard-step">
                                                            <span style="cursor: pointer !important;position: relative;"
                                                                class="text-hover {{item.GROUP_STATUS_CLASS_DETAIL}}"
                                                                (click)="bindTaskList(item.GROUP_STATUS_CODE)">
                                                                <div class="alert-task-new"
                                                                    *ngIf="checkValue(item.GROUP_COUNT)">
                                                                    {{item.GROUP_COUNT}}</div>
                                                                <button type="button"
                                                                    class="{{item.GROUP_STATUS_CLASS}}">
                                                                    <i class=" {{item.GROUP_ICON}}"></i>
                                                                </button>
                                                            </span>
                                                            <br>
                                                            <span class="{{item.GROUP_STATUS_CLASS_TXT}}"><label
                                                                    class="step-text">{{item.GROUP_STATUS_NAME
                                                                    }}</label></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dx-scroll-view>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="tasklist-table" class="myContent">
                                <div class="block-add-btn d-flex justify-content-end mb-3" >
                                    <!-- <button  class="btn-add btn d-flex  align-items-center justify-content-center"
                                        (click)="Add()">
                                        <i class="fa fa-bullhorn " aria-hidden="true"></i>
                                        <span class="px-3 ">แจ้งเรื่องใหม่</span>
                                    </button> -->
                                </div>
                                <dx-data-grid #grid [dataSource]="_dataSource" [showColumnLines]="false" [rowAlternationEnabled]="true"
                                    [wordWrapEnabled]="true" [showRowLines]="true" [columnAutoWidth]="true"
                                    [columnHidingEnabled]="false" [showBorders]="false" [rowAlternationEnabled]="true"
                                    [showColumnLines]="true" [hoverStateEnabled]="true" [selectedRowKeys]="[]"
                                    noDataText="ไม่มีข้อมูล" [remoteOperations]="false">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-load-panel text="กำลังโหลดข้อมูล..."></dxo-load-panel>
                                    <dxo-search-panel [visible]="true"placeholder="ค้นหา..."></dxo-search-panel>
                                    <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false"
                                        [allowAdding]="false">
                                    </dxo-editing>
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxo-pager [visible]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"
                                        [showInfo]="true">
                                    </dxo-pager>
                                    <dxi-column dataField="" caption="จัดการ" [width]="100" alignment="center"
                                        [allowSorting]="false" cellTemplate="cellTemplateCommand"></dxi-column>
                                    <div *dxTemplate="let cellValue of 'cellTemplateCommand'">
                                        <div class="table-icon-edit" (click)="edit(cellValue)">
                                            <img src="assets/image/police/desktop/icon-view.png" alt="edit">
                                        </div>
                                    </div>
                                    <dxi-column dataField="" caption="เพิ่มเลขอ้างอิงธนาคาร" [width]="100" alignment="center"
                                    [allowSorting]="false" cellTemplate="cellTemplatebankcaseid"></dxi-column>
                                <div *dxTemplate="let cellValue of 'cellTemplatebankcaseid'">
                                    <div class="table-icon-edit" (click)="addbankcaseid(cellValue)">
                                        <img src="assets/icon/edit2.png" alt="bankcaseid" width="25px" height="25px">
                                    </div>
                                </div>
                                    <dxi-column dataField="" caption="รายงาน" [width]="100" alignment="center"
                                    [allowSorting]="false" cellTemplate="cellTemplateReport"></dxi-column>
                                <div *dxTemplate="let cellValue of 'cellTemplateReport'">
                                    <div class="table-icon-edit" (click)="report(cellValue)">
                                        <img src="assets/icon/icon-report.png" alt="Report" width="25px" height="25px">
                                    </div>
                                </div>

                                    <dxi-column dataField="TRACKING_CODE" [width]="200" caption="เลขรับแจ้งความออนไลน์"
                                        alignment="center">
                                    </dxi-column>
                                    <!-- <dxi-column dataField="CATEGORY_NAME" caption="เรื่อง" alignment="center">
                                    </dxi-column> -->
                                    <dxi-column dataField="OPTIONAL_DATA" caption="รายละเอียดของการเกิดเหตุโดยย่อ"
                                        alignment="center" cellTemplate="cellTemplateDescription">
                                    </dxi-column>
                                    <div *dxTemplate="let cell of 'cellTemplateDescription'">
                                        <div class="text-break text-left">
                                            {{ cell.data.OPTIONAL_DATA_REPLACE }}
                                        </div>
                                    </div>
                                    <dxi-column dataField="ORGANIZE_NAME_THA" caption="หน่วยงาน" alignment="center"
                                        [width]="200">
                                    </dxi-column>
                                    <dxi-column dataField="OFFICER_FULL_NAME" caption="พนักงานสืบสวน" alignment="center"
                                        [width]="200">
                                    </dxi-column>
                                    <!-- <dxi-column dataField="PERSONAL_TEL_NO" caption="ช่องทางติดต่อ" alignment="center"
                                        [width]="200">
                                    </dxi-column> -->
                                    <!-- <dxi-column dataField="CREATE_DATE_TEXT" caption="วันที่แจ้งเหตุ" alignment="center"
                                        [width]="150">
                                    </dxi-column> -->
                                    <dxi-column [allowSearch]="false" dataField="CREATE_DATE_TEXT" caption="วันที่แจ้งเหตุ"
                                    alignment="center" [width]="150" cellTemplate="displayFormatDate">
                                </dxi-column>
                                <div *dxTemplate="let celldata of 'displayFormatDate'">
                                    {{displayFormatDateTime(celldata.data.CREATE_DATE_TEXT)}}
                                </div>
                                    <dxi-column dataField="GROUP_STATUS_NAME" caption="สถานะคดี" alignment="center"
                                        [width]="150">
                                    </dxi-column>
                                    <!-- <div *dxTemplate="let cell of 'cellTemplateStatus'">
                                        <span class="click-tracking">{{calculateStatus(cell)}}</span>
                                    </div> -->
                                    <div *dxTemplate="let cell of 'cellTemplate'">
                                        {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}
                                    </div>

                                </dx-data-grid>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP -->

<dx-popup [width]="1300" [(height)]="popupHeight" [(visible)]="popupConsentVisible" [showTitle]="true" title="แจ้งเตือนจากระบบ" [closeOnOutsideClick]="false"
    [showCloseButton]="true" [hideOnOutsideClick]="true" [showTitle]="false"
    shadingColor="rgba(0, 0, 0, 0.7)">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div class="row mt-4">
                <div class="col-sm-3" style=" display: flex;justify-content: end">
                    <img src="assets/icon/warning-home.png" style="height:100px;" alt="warning-home" class="img-fluid">
                </div>
                <div class="col-sm-9">
                    <!-- <div class="title-popup" style="font-size: 35px;">ท่านเคยแจ้งความออนไลน์ไว้แล้วหรือไม่</div>
                    <div class="sub-title-popup" style="font-size: 20px;">กรณีต้องการเพิ่มเติมข้อมูลเลขอ้างอิงธนาคารที่ Case ID เดิมของท่าน <br> คลิกที่ปุ่มเพิ่มข้อมูลที่ Case ID เดิม<br><br></div> -->
                    <div class="title-popup" style="font-size: 35px;">ผู้เสียหายดำเนินการแจ้งธนาคาร (เจ้าของบัญชีผู้เสียหาย) <br>เพื่อระงับบัญชีชั่วคราว (ของคนร้าย) แล้ว<br>
                        กรุณากรอกเลขอ้างอิงธนาคาร (Bank Case ID)</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <!-- <div class="sub-title-popup" style="font-size: 20px;">
                        กรณีต้องการแจ้งเรื่องใหม่ คลิกที่ปุ่มแจ้งเรื่องใหม่
                    </div> -->
                </div>
            </div>
            <!-- <div class="row mt-5">
                <div class="col-sm-12 align-items-end d-flex align-content-center" style="display: flex;justify-content: center;">
                    <dx-button type="button" class="btn-block-block1 text-white m-1" text="เพิ่มข้อมูลที่ Case ID เดิม" (onClick)="onWaysValueChanged(1)"></dx-button>
                    <dx-button type="button" class="btn-block-block2 text-white m-1" text="แจ้งเรื่องใหม่" (onClick)="onSkip($event)"></dx-button>
                </div>
            </div> -->
            <!-- <div class="col-sm-12 customtext text-center">
                    <h4>ท่านเคยแจ้งความออนไลน์ไว้แล้วหรือไม่ กรณีต้องการเพิ่มเติมข้อมูล  </h4>
                    <h4></h4>
                    <br>
                    <h4>ให้แก้ไขเพิ่มเติมใน case id เดิมของท่าน</h4>

                    <dxi-item itemType="group">
                        <div class="dx-field"></div>
                        <div class="dx-field-value">
                            <dx-radio-group [items]="ways" valueExpr="id" displayExpr="text" [(value)]="submission.ways"
                                layout="horizontal" (onValueChanged)="onWaysValueChanged($event)">
                            </dx-radio-group>
                        </div>
                    </dxi-item>

                </div> -->
            <div class="row mt-1" *ngIf="_isShow || _isShow2">
                <div class="col-sm-12 customtext text-left my-5" style="margin-bottom:1rem;">
                    <div class="container">
                        <div class="mb-1">
                            <dx-form #formAgreeBank id="form" [formData]="submission" labelLocation="top" [colCount]="2"
                            [(visible)]="_isShow">
                                <dxi-item itemType="group">
                                    <div class="dx-field" id="bankid-container">
                                        <div class="dx-field-label">ได้รับเลขอ้างอิงจากธนาคารแล้ว : </div>
                                        <div class="dx-field-value">
                                            <dx-text-box [(value)]="submission.FREEZE_ACT_BANK_TRACK_NO" [maxLength]="20" (keypress)="CheckBankID($event)" (paste)="PasteCheckBankID($event)"
                                                [showClearButton]="true" placeholder="กรุณาระบุ" (onValueChanged)="checkBank($event)"
                                                ></dx-text-box>
                                        </div>
                                    </div>
                                </dxi-item>
                                <dxi-item itemType="group">
                                    <div class="dx-field" id="bankname-container">
                                        <div class="dx-field-label" >ติดต่อธนาคาร : </div>
                                        <div class="dx-field-value">
                                            <dx-text-box [(value)]="submission.FREEZE_ACT_BANK_NAME" [readOnly]="true"
                                                [showClearButton]="true" [maxLength]="200"
                                                ></dx-text-box>
                                        </div>
                                    </div>
                                </dxi-item>
                                <dxi-item template="datetime">
                                    <dxo-label text="" [showColon]="false"></dxo-label>
                                </dxi-item>
                                <div *dxTemplate="let data of 'datetime'">
                                    <div class="dx-field" id="bankdate-container">
                                        <div class="dx-field-label">วันและเวลาที่ได้รับเลขอ้างอิง<br>จากธนาคาร :</div>
                                        <div class="dx-field-value">
                                            <dx-date-box id="default" (onValueChanged)="OnSelectDate($event)" dateSerializationFormat="yyyy-MM-dd HH:mm:ss"  placeholder="เลือกวันเวลา"
                                            type="datetime" [max]="maxDateValue" [(value)]="now"  displayFormat="yyyy-MM-dd HH:mm:ss" [openOnFieldClick]="false" [useMaskBehavior]="true">
                                            </dx-date-box>
                                        </div>
                                    </div>
                                </div>
                            </dx-form>
                        </div>

                        <!-- <dx-data-grid #gridlist [dataSource]="_dataSource" [showColumnLines]="false" [(visible)]="_isShow"
                            [wordWrapEnabled]="true" [showRowLines]="true" [columnAutoWidth]="true"
                            [columnHidingEnabled]="true" [showBorders]="false" [rowAlternationEnabled]="true"
                            [showColumnLines]="true" [hoverStateEnabled]="true" [selectedRowKeys]="[]"
                            noDataText="ไม่มีข้อมูล" [remoteOperations]="false">
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-load-panel text="กำลังโหลดข้อมูล..."></dxo-load-panel>
                            <dxo-search-panel [visible]="true" [width]="250" placeholder="ค้นหา..."></dxo-search-panel>
                            <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
                            </dxo-editing>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
                            </dxo-pager>

                            <dxi-column dataField="TRACKING_CODE" [width]="200" caption="เลขรับแจ้งความออนไลน์"
                                alignment="center">
                            </dxi-column>

                            <dxi-column dataField="OPTIONAL_DATA" caption="รายละเอียดของการเกิดเหตุโดยย่อ"
                                alignment="center" cellTemplate="cellTemplateDescription">
                            </dxi-column>
                            <div *dxTemplate="let cell of 'cellTemplateDescription'">
                                <div class="text-break text-left">
                                    {{ cell.data.OPTIONAL_DATA_REPLACE }}
                                </div>
                            </div>
                            <dxi-column dataField="ORGANIZE_NAME_THA" caption="พนักงานสืบสวน" alignment="center"
                                [width]="200">
                            </dxi-column>

                            <dxi-column dataField="PERSONAL_TEL_NO" caption="หน่วยงาน" alignment="center" [width]="200">
                            </dxi-column>
                            <dxi-column dataField="CREATE_DATE_TEXT" caption="วันที่แจ้งเหตุ" alignment="center"
                                [width]="150">
                            </dxi-column>

                            <dxi-column dataField="GROUP_STATUS_NAME" caption="สถานะคดี" alignment="center" [width]="150">
                            </dxi-column>

                            <div *dxTemplate="let cell of 'cellTemplate'">
                                {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}
                            </div>

                        </dx-data-grid> -->
                        <div class="text-center py-3" *ngIf="_isShow2">
                            <div class="section2 col-12 col-lg-12 col-xl-12 mt-md-5 mt-lg-0 pt-md-5 pt-lg-0">
                                <div class="mt-5 mt-sm-0 px-2 py-2 mb-2  border border-dark rounded float-right" style=" background: #ffffffe8;">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2" >
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2888-8888')">
                                                <div class="col-4">
                                                    <img src="assets/icon/kbank.png" alt="kbank" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารกสิกรไทย</div>
                                                    <div class="text-detail">0 2888 8888 กด 001</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2" >
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2111-1111')">
                                                <div class="col-4">
                                                    <img src="assets/icon/ktb.png" alt="ktb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารกรุงไทย</div>
                                                    <div class="text-detail">0 2111 1111 กด 108</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:1572')">
                                                <div class="col-4">
                                                    <img src="assets/icon/bay.png" alt="bay" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารกรุงศรีอยุธยา</div>
                                                    <div class="text-detail">1572 กด 5</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank"  (click)="TelLink('tel:0-2645-5555')">
                                                <div class="col-4">
                                                    <img src="assets/icon/bbl.png" alt="bbl" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารกรุงเทพ</div>
                                                    <div class="text-detail">1333 หรือ 0 2645 5555 กด *3</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank " (click)="TelLink('tel:0-2777-7575')">
                                                <div class="col-4">
                                                    <img src="assets/icon/scb.png" alt="scb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารไทยพาณิชย์</div>
                                                    <div class="text-detail">0 2777 7575</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:1428')">
                                                <div class="col-4">
                                                    <img src="assets/icon/ttb.png" alt="ttb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารทหารไทยธนชาต</div>
                                                    <div class="text-detail">1428 กด 03</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank " (click)="TelLink('tel:1115')">
                                                <div class="col-4 ">
                                                    <img src="assets/icon/gsb.png" alt="gsb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารออมสิน</div>
                                                    <div class="text-detail">1115 กด 6</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2626-7777')">
                                                <div class="col-4">
                                                    <img src="assets/icon/cimb.png" alt="cimb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารซีไอเอ็มบี ไทย</div>
                                                    <div class="text-detail">0 2626 7777 กด 12</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1  p-3 item-box-bank " (click)="TelLink('tel:0-2697-5454')">
                                                <div class="col-4">
                                                    <img src="assets/icon/tcrb.png" alt="tcrb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารไทยเครดิต</div>
                                                    <div class="text-detail">0 2697 5454</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1  p-3 item-box-bank" (click)="TelLink('tel:0-2459-0000')">
                                                <div class="col-4">
                                                    <img src="assets/icon/lhb.png" alt="lhb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารแลนด์ แอนด์ เฮ้าส์</div>
                                                    <div class="text-detail">0 2459 0000 กด 8</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank " (click)="TelLink('tel:0-2645-9000')">
                                                <div class="col-4">
                                                    <img src="assets/icon/ghb.png" alt="ghb" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารอาคารสงเคราะห์</div>
                                                    <div class="text-detail">0 2645 9000 กด 33</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1  p-3 item-box-bank" (click)="TelLink('tel:0-2555-0555')">
                                                <div class="col-4">
                                                    <img src="assets/icon/baac.png" alt="baac" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารเพื่อการเกษตร</div>
                                                    <div class="text-detail">และสหกรณ์การเกษตร</div>
                                                    <div class="text-detail">0 2555 0555 กด *3</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank " (click)="TelLink('tel:0-2344-9555')">
                                                <div class="col-4">
                                                    <img src="assets/icon/uob.png" alt="uob" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารยูโอบี</div>
                                                    <div class="text-detail">0 2344 9555</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2344-9555')">
                                                <div class="col-4">
                                                    <img src="assets/icon/citi.png" alt="citi" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารซิตี้แบงค์</div>
                                                    <div class="text-detail">0 2344 9555</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank " (click)="TelLink('tel:0-2165-5555')">
                                                <div class="col-4">
                                                    <img src="assets/icon/kk.png" alt="kk" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารเกียรตินาคินภัทร</div>
                                                    <div class="text-detail">0 2165 5555 กด 6</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2633-6000')">
                                                <div class="col-4">
                                                    <img src="assets/icon/tisco.png" alt="tisco" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารทิสโก้</div>
                                                    <div class="text-detail">0 2633 6000 กด *7</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2629-5588')">
                                                <div class="col-4">
                                                    <img src="assets/icon/icbc.png" alt="icbc" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารไอซีบีซี(ไทย)</div>
                                                    <div class="text-detail">0 2629 5588 กด 4</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:1302')">
                                                <div class="col-4">
                                                    <img src="assets/icon/ibank.png" alt="ibank" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารอิสลามแห่งประเทศไทย</div>
                                                    <div class="text-detail">1302 กด 6</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:1240')">
                                                <div class="col-4">
                                                    <img src="assets/icon/true.png" alt="true" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ทรูมันนี่</div>
                                                    <div class="text-detail">1240 กด 6</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2026-3000')">
                                                <div class="col-4">
                                                    <img src="assets/icon/2C2P.png" alt="2C2P" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ทูซีทูพี(ประเทศไทย)</div>
                                                    <div class="text-detail">0 2026 3000 กด 0</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2078-9299')">
                                                <div class="col-4">
                                                    <img src="assets/icon/mpay.png" alt="mpay" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">แอดวานซ์ เอ็มเปย์</div>
                                                    <div class="text-detail">0 2078 9299 กด 1</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:0-2633-6000')">
                                                <div class="col-4">
                                                    <img src="assets/icon/tmc.jpg" alt="tmc" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">ธนาคารไทยไมโคร ดิจิทัล โซลูชั่นส์</div>
                                                    <div class="text-detail">0 2697 5353 กด 0</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xxl-4 box-bank mt-2">
                                            <div class="row m-1 p-3 item-box-bank" (click)="TelLink('tel:1614')">
                                                <div class="col-4">
                                                    <img src="assets/icon/max.jpg" alt="max" class="img-fluid">
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-detail">แมกซ์ การ์ด</div>
                                                    <div class="text-detail">1614 กด 4</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 customtext text-center" style="margin-bottom:1rem;position: fixed;bottom: 0;margin-bottom: 30px;" *ngIf="_isShow || _isShow2">
                    <dxi-item itemType="group" [colSpan]="3">
                        <dx-button stylingMode="contained" [disabled]="blockSave" text="บันทึก" type="default" [width]="120"
                            (onClick)="onRegister($event)">
                        </dx-button>
                        &nbsp;&nbsp;
                        <dx-button stylingMode="contained" text="ยกเลิก" type="default" [width]="120"
                            (onClick)="onSkip($event)">
                        </dx-button>
                    </dxi-item>
                </div>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>



<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" message="กำลังโหลดข้อมูล..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>
<template id="eval-template">
    <swal-title>
        Save changes to "Untitled 1" before closing?
    </swal-title>
    <swal-html>Evaluation Template</swal-html>
</template>
