<section class="ftco-section mt_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left  organiko-title-tpl3 "> <span class="subheading">ติดต่อเรา</span>
                    <h6 class="text-center"> Cyber Crime Investigation Bureau</h6>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-4">
                <img src="assets/image/banner.jpg" class="mb-4" width="100%" height="auto">
            </div>
            <div class="col-sm-8">
                <ul class="list-contact-info">
                    <li><i class="fa fa-building"></i> อาคารเฉลิมพระเกียรติ สมเด็จพระบรมโอรสาธิราชฯ สยามมกุฎราชกุมาร
                        พระชนมพรรษา 60 พรรษา ชั้น 6 เมืองทองธานี ถนนป๊อปปูล่า ตำบลบ้านใหม่ อำเภอปากเกร็ด จังหวัดนนทบุรี
                    </li>
                    <li><i class="icon-facebook-sign"></i> <a href="https://www.facebook.com/CybercopTH/"
                            target="_blank">facebook/cybercopTH</a></li>
                    <li><i class="fa fa-phone-square"></i> 02 504 4369</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="text-right head-maps">
                    <h2> แผนที่</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  maps">
                <div class="text-center">
                    <iframe
                        src="/"
                        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
