<section class="ftco-section mt_100">
    <div class="contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h3 class="text-uppercase system-head">ระบบบริหารจัดการคดีอาชญากรรมทางเทคโนโลยี </h3>
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <div class="card">
                        <div class="card-header">
                            <!-- <div class="back-to-sign">
                            <a class="ml-auto login" (click)="btnBack()">กลับหน้าเข้าสู่ระบบ</a>
                        </div> -->
                            <div class="text-left">
                                <h3>เปลี่ยนรหัสผ่าน</h3>
                                <p>คุณสามารถเปลี่ยนหัสผ่านของคุณได้ที่นี่.</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <form id="reset-password-form" role="form" autocomplete="off" class="form">
                                <div class="form-group">
                                    <div class="new-pass">
                                        <label for="inputPassword5" class="form-label">รหัสผ่านใหม่:<span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text icon-span"><i
                                                        class="fa fa-user-lock color-blue"></i></span>
                                            </div>
                                            <input #password type="password" id="inputPassword5" name="USER_PASSWORD"
                                                class="form-control" placeholder="กรอกรหัสผ่านใหม่">
                                        </div>
                                    </div>
                                    <div class="confirm-new-pass">
                                        <label for="inputPassword5"
                                            class="form-label text-left">ยืนยันรหัสผ่านใหม่:<span
                                                class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text icon-span"><i
                                                        class="fa fa-user-lock color-blue"></i></span>
                                            </div>
                                            <input #password_again type="password" id="inputPassword5"
                                                name="USER_PASSWORD_AGAIN" class="form-control"
                                                placeholder="กรอกยืนยันรหัสผ่านใหม่">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-2 text-center">
                                    <dx-button class="btn btn-primary btn-change-pass"
                                        (onClick)="onSubmit(password.value, password_again.value)"> เปลี่ยนรหัสผ่าน
                                    </dx-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>
