<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <div class="news-container">
            <div class="newsHeader">
                <div class="breadcrumbs" (click)="goBack()" style="cursor: pointer;">
                    <img src="assets/icon/arrow-left.svg">ย้อนกลับไปหน้าข่าวสาร
                </div>
            </div>
            <div class="news-content">
                <div class="news-nav-list">
                    <app-news-box class="witget"></app-news-box>
                    <app-security-box class="witget"></app-security-box>
                </div>
                <div class="news-content-main">
                    <div class="news-header">
                        <p class="news-category">test</p>
                        <h1 class="news-title">test</h1>
                        <p class="news-author">test</p>
                        <p class="news-date">test</p>
                      </div>
                      <div class="news-image">
                        <img src="assets/icon/Emblem_of_Royal_Thai_Police 1.png">
                      </div>
                      <div class="news-body">
                        test
                      </div>
                      <!-- <div class="news-footer">
                        <div>แชร์บทความนี้</div>
                        <p class="view-count">2,568 ครั้ง</p>
                      </div> -->
                </div>

            </div>

        </div>
    </div>
</div>
<footer-re-design></footer-re-design>