<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <div class="news-container">
            <div class="newsHeader">
                <div class="breadcrumbs" (click)="goBack()" style="cursor: pointer;">
                    <img src="assets/icon/arrow-left.svg">ย้อนกลับไปหน้าข่าวสาร
                </div>
            </div>
            <div class="news-content">
                <div class="news-nav-list">
                    <p>ข่าวสารที่น่าสนใจ</p>

                    <p>บริการที่เกี่ยวข้อง</p>
                    
                </div>
                <div class="news-content-main">
                    ddsdsd
                </div>

            </div>

        </div>
    </div>
</div>
<footer-re-design></footer-re-design>