.main_content_iner{
    padding: 80px;
    padding-top: 120px;
}
.mt_100 {
    top: 0%;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    // height: 100vh;
}
