<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <div class="news-container">
            <div class="news-header">
                <div class="breadcrumbs">หน้าแรก > ข่าวประชาสัมพันธ์และ เตือนภัยไซเบอร์</div>
                <h1>ข่าวประชาสัมพันธ์และเตือนภัยไซเบอร์</h1>
            </div>

            <div class="tabs-container">
                <!-- Tabs Header -->
                <div class="tabs-header">
                    <button class="tab-label" [class.active]="activeTab === 'all'" (click)="selectTab('all')">ทั้งหมด</button>
                    <button class="tab-label" [class.active]="activeTab === 'formation'"(click)="selectTab('formation')">ข่าวประชาสัมพันธ์</button>
                    <button class="tab-label" [class.active]="activeTab === 'cyber'" (click)="selectTab('cyber')">เตือนภัยไซเบอร์</button>
                    <button class="tab-label" [class.active]="activeTab === 'scam'" (click)="selectTab('scam')">กลโกงออนไลน์</button>
                </div>

                <!-- Tabs Content -->
                <div class="tab-content" *ngIf="activeTab === 'all'">
                    <section class="news-card">
                        <section class="news-list">
                            <div class="news-item fade-animation" *ngFor="let news of formationNews">
                                <img [src]="news.image" [alt]="news.title" class="news-image">
                                <div class="news-details">
                                    <span class="news-category">{{ news.category }}</span>
                                    <h4 class="news-title">{{ news.title }}</h4>
                                    <p class="news-description">{{ news.des }}</p>
                                    <div class="news-date">
                                        <img src="assets/icon/calendar.png" alt="calendar" class="calendar-icon">
                                        <span>{{ news.date }}</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
                <div class="tab-content" *ngIf="activeTab === 'formation'">
                    <p>เนื้อหาทั้งหมด</p>
                </div>
                <div class="tab-content" *ngIf="activeTab === 'cyber'">
                    <p>เนื้อหาทั้งหมด</p>
                </div>
                <div class="tab-content" *ngIf="activeTab === 'scam'">
                    <p>เนื้อหาทั้งหมด</p>
                </div>
            </div>

            <div class="view-more">
                <button>ดูข่าวเพิ่มเติม</button>
            </div>
        </div>
    </div>
</div>
<footer-re-design></footer-re-design>