.slide {
     min-width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     /* ให้เนื้อหาอยู่กลางจอ */
     background-color: #273880;
     background-size: cover;
     background-position: center;
     position: relative;

     .slide img {
          width: 100%;
          max-width: 1200px;
          height: auto;
          object-fit: contain;
     }

     .logoPolice {
          width: 43vw;
          position: relative;
          bottom: 35%;
     }

     .box {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 30%;
          left: 7%;
          width: 35vw;
          margin: 0px 30px;
     }



     .camera {
          width: 3vw;
     }

     .groupLL {}

     .buttonSenior {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #FF5A01;
          padding: 9px 0px;
          border-radius: 10px;
          cursor: pointer;
     }

     .boxFacebook {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px 20px;
     }

     .boxMask {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px 20px;
     }

     .textMask {
          display: flex;
          align-items: center;
     }

     .Mask {
          width: 25px;
          height: 25px;
          margin-left: 5px;
     }

     .day {
          width: 12vw;
          margin: 0px 0px 5px 5px;
     }

     .info {
          width: 35vw;
          margin: 0px 25px;
     }

     .facebook {
          width: 18vw;
     }

     .textZoom1 {
          font-size: 1.2vw;
          color: #fff;
          margin: 0 5px;
     }

     .result {
          margin-top: 10px;
          width: 15vw;
          margin: 0px 25px;
     }

     .textZoom {
          font-size: 1vw;
          color: #1976D2;
          padding: 0;
          margin: 0 5px;
     }

     .imgText {
          padding: 15px 20px;
     }

     .senior60 {
          width: 40vw;
     }

}

//Pages 
.slidePages {
     min-width: 100%;
     height: calc(100vh - 275px);
     background-color: #273880;
     background-size: cover;
     background-position: center;
     position: relative;
     padding: 65px 125px 65px 125px;

     .slidePages img {
          width: 100%;
          max-width: 1200px;
          height: auto;
          object-fit: contain;
     }

     .boxMain {
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .boxLeft {
               display: flex;
               flex-direction: column;
               align-items: flex-start;

               .logoPolicePages {
                    width: 35vw;
               }

               .logoSenior {
                    width: 35vw;
               }

               .logoTextTalk {
                    width: 35vw;
                    padding: 10px 0 30px 30px;
               }

               .buttonSenior {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FF5A01;
                    padding: 9px 0px;
                    border-radius: 10px;
                    width: 100%;
                    margin: 0 0 10px 30px;
                    cursor: pointer;

                    .camera {
                         width: 3vw;
                         cursor: pointer;
                    }

                    .textZoom1 {
                         font-size: 1.2vw;
                         color: #fff;
                         margin: 0 5px;
                         cursor: pointer;
                    }
               }

               .logoInfo {
                    width: 36vw;
                    padding: 10px 0 0 30px;
               }

               .logoResult {
                    width: 15vw;
                    padding: 10px 0 0 30px;
               }
          }

          .boxRight {

               .senior60 {
                    width: 35vw;
               }
          }
     }
}