// .slides {
//      min-width: 100%;
//      height: 100vh;
//      background-color: #273880;
//      background-size: cover;
//      background-position: center;
//      position: relative;

//      .slide {

//           display: flex;
//           justify-content: center;
//           align-items: center;

//           .slide img {
//                width: 100%;
//                max-width: 1200px;
//                height: auto;
//                object-fit: contain;
//           }

//           .logoPolice {
//                width: 55rem;
//                position: relative;
//                bottom: 35%;
//           }

//           .box {
//                display: flex;
//                flex-direction: column;
//                position: absolute;
//                left: 12rem;
//                width: 50rem;
//                margin: 0px 30px;
//           }

//           .camera {
//                width: 3vw;
//           }

//           .groupLL {}

//           .buttonSenior {
//                width: 100%;
//                display: flex;
//                align-items: center;
//                justify-content: center;
//                background-color: #FF5A01;
//                padding: 9px 0px;
//                border-radius: 10px;
//                cursor: pointer;
//                z-index: 99;
//           }

//           .boxFacebook {
//                display: flex;
//                flex-direction: row;
//                align-items: center;
//                padding: 15px 20px;
//           }

//           .boxMask {
//                display: flex;
//                flex-direction: row;
//                align-items: center;
//                padding: 15px 20px;
//           }

//           .textMask {
//                display: flex;
//                align-items: center;
//           }

//           .Mask {
//                width: 25px;
//                height: 25px;
//                margin-left: 5px;
//           }

//           .day {
//                width: 12vw;
//                margin: 0px 0px 5px 5px;
//           }

//           .info {
//                width: 35vw;
//                margin: 0px 25px;
//           }

//           .facebook {
//                width: 18vw;
//           }

//           .textZoom1 {
//                font-size: 1.2vw;
//                color: #fff;
//                margin: 0 5px;
//           }

//           .result {
//                margin-top: 10px;
//                width: 15vw;
//                margin: 0px 25px;
//           }

//           .textZoom {
//                font-size: 1vw;
//                color: #1976D2;
//                padding: 0;
//                margin: 0 5px;
//           }

//           .imgText {
//                padding: 15px 20px;
//           }

//           .senior60 {
//                width: 50rem;
//           }

//      }

//      .boxClip {
//           display: flex;
//           align-items: center;
//           justify-content: space-around;
//           position: relative;
//           bottom: 12rem;
//      }
// }

.bgImage {
    min-width: 100%;
    height: 100vh;
    background-color: #273880;
    background-size: cover;
    background-position: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .bixMainSenior {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .logoPoliceSenior {
            width: 45rem;
        }

        .boxLeft {
            display: flex;
            flex-direction: column;

            .camera {
                width: 3vw;
            }

            .groupLL {
                width: 40rem;
            }

            .imgText {
                padding: 15px 20px;
                width: 40rem;
            }

            .buttonSenior {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff5a01;
                padding: 9px 0px;
                border-radius: 10px;
                cursor: pointer;
                z-index: 99;
            }

            .textFacebook {
                margin: 0;
                font-size: 1rem;
                padding: 0px 20px;
                color: #273880;
                font-weight: 600;
            }

            .boxFacebook {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px 20px;
            }

            .boxMask {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px 20px;
            }

            .textMask {
                display: flex;
                align-items: center;
            }

            .Mask {
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }

            .day {
                width: 15rem;
                margin: 0px 0px 5px 5px;
            }

            .info {
                width: 35vw;
                margin: 0px 25px;
            }

            .facebook {
                width: 18vw;
            }

            .textZoom1 {
                font-size: 1.2vw;
                color: #fff;
                margin: 0 5px;
            }

            .result {
                margin-top: 10px;
                width: 15vw;
                margin: 0px 25px;
            }

            .textZoom {
                font-size: 1rem;
                font-weight: 600;
                color: #1976d2;
                padding: 0;
                margin: 0 5px;
            }

            .textSocial {
                font-size: 1rem;
                font-weight: 600;
                color: #1976d2 !important;
                padding: 0;
                margin: 0 5px;
            }
        }

        .boxRight {
            .senior60 {
                width: 40rem;
            }
        }
    }

    .boxClip {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;
    }

    .iframe-box {
        width: 520px;
        height: 315px;
    }
}

// schedule-box
.schedule-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 1.5rem auto 0 auto;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 280px;
}

.headerSchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff5a01;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    width: 90%;
    margin: auto;
}

h1 {
    color: white;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
}

.Z-header {
    background-color: #0B5CFF;
}

.Y-header {
    background-color: #FF0000;
}

.event-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    gap: 5px;
    width: 100%;
}

.event-date {
    background: #ff5a01;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    min-width: 90px;
}

.event-date strong {
    font-size: 2.5rem;
    display: block;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.event-item {
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.6;
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: block;
    max-width: 100%;
}

.event-time {
    font-size: 1rem;
    color: #555;
    margin-top: 5px;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid;
    height: 90%;
    border-radius: 8px;
}

.backbtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5a01;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    left: 40px;
    width: 250px;
}

//Pages
.slidePages {
    min-width: 100%;
    height: 100%;
    background-color: #273880;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 35px 50px 50px 50px;

    .slidePages img {
        width: 100%;
        max-width: 1200px;
        height: auto;
        object-fit: contain;
    }

    .boxMain {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .boxLeft {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .logoPolicePages {
                width: 35vw;
            }

            .logoSenior {
                width: 35vw;
            }

            .logoTextTalk {
                width: 35vw;
                padding: 15px 0;
            }

            .buttonSenior {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff5a01;
                padding: 9px 0px;
                border-radius: 10px;
                width: 100%;
                margin: 0;
                cursor: pointer;
                z-index: 99;

                .camera {
                    width: 3vw;
                    cursor: pointer;
                }

                .textZoom1 {
                    font-size: 1.2vw;
                    color: #fff;
                    margin: 0 5px;
                    cursor: pointer;
                }
            }

            .logoInfo {
                width: 36vw;
                padding: 0.8rem 0px;
            }

            .logoResult {
                width: 15vw;
                padding: 0;
            }
        }

        .textZoom {
            font-size: 1rem;
            font-weight: 600;
            color: #1976D2;
            padding: 0;
            margin: 0 5px;
        }

        .boxRight {
            .senior60 {
                width: 35vw;
            }
        }
    }
}

@media screen and (min-width: 318px) and (max-width: 575px) {
    .slidePages {
        padding: 0;

        .boxMain {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0px;

            .boxLeft {
                .logoPolicePages {
                    width: 75vw;
                }

                .logoSenior {
                    width: 75vw;
                }

                .logoTextTalk {
                    width: 75vw;
                    padding: 15px 0;
                }

                .buttonSenior {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ff5a01;
                    padding: 9px 0px;
                    border-radius: 10px;
                    width: 100%;
                    margin: 0;
                    cursor: pointer;
                    z-index: 99;

                    .camera {
                        width: 1.5rem !important;
                        cursor: pointer;
                    }

                    .textZoom1 {
                        font-size: 1rem !important;
                        color: #fff;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }

                .logoInfo {
                    width: 80vw;
                    padding: 10px 0px;
                }

                .logoResult {
                    width: 40vw;
                    padding: 0;
                }
            }

            .boxRight {
                .senior60 {
                    width: 40vw;
                    margin: 30px 0 10px 0;
                }
            }
        }
    }

    // bixMain senior
    .bixMainSenior {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;

        .logoPoliceSenior {
            width: 18.5rem !important;
            align-self: center;
        }

        .boxLeft {
            display: flex;
            flex-direction: column;

            .camera {
                width: 3rem !important;
            }

            .groupLL {
                width: 18.5rem !important;
                align-self: center;
            }

            .imgText {
                padding: 15px 20px;
                width: 20rem !important;
                align-self: center;
            }

            .buttonSenior {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff5a01;
                padding: 9px 0px;
                border-radius: 10px;
                cursor: pointer;
                z-index: 99;
            }

            .textFacebook {
                font-size: 0.875rem !important;
                align-self: center;
            }

            .boxFacebook {
                display: flex;
                flex-direction: column !important;
                align-items: center;
                padding: 15px 20px;
            }

            .boxMask {
                display: flex;
                flex-direction: column !important;
                align-items: center;
                padding: 15px 20px;
            }

            .textMask {
                margin: 10px 0px;
                display: flex;
                align-items: center;
            }

            .Mask {
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }

            .day {
                width: 15rem;
                margin: 15px 5px !important;
            }

            .info {
                width: 18.5rem !important;
                align-self: center;
            }

            .facebook {
                width: 18.5rem !important;
            }

            .textZoom1 {
                font-size: 1.5rem !important;
                color: #fff;
                margin: 0 5px;
            }

            .result {
                margin-top: 10px;
                width: 18rem !important;
                margin: 0px 25px;
            }

            .textZoom {
                font-size: 1rem;
                font-weight: 600;
                color: #1976d2;
                padding: 0;
                margin: 0 5px;
            }
        }

        .boxRight {
            .senior60 {
                width: 18rem !important;
                margin-top: 10px;
            }
        }
    }

    .boxClip {
        flex-direction: column !important;
    }

    .iframe-box {
        width: 100%;
        max-width: 280px;
        margin-bottom: 20px;
    }

    .backbtn {
        left: 7px !important;
        width: 160px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .slidePages {
        padding: 0;

        .boxMain {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0px;

            .boxLeft {
                .logoPolicePages {
                    width: 75vw;
                }

                .logoSenior {
                    width: 75vw;
                }

                .logoTextTalk {
                    width: 75vw;
                    padding: 15px 0;
                }

                .buttonSenior {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ff5a01;
                    padding: 9px 0px;
                    border-radius: 10px;
                    width: 100%;
                    margin: 0;
                    cursor: pointer;
                    z-index: 99;

                    .camera {
                        width: 3vw;
                        cursor: pointer;
                    }

                    .textZoom1 {
                        font-size: 1.2vw;
                        color: #fff;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }

                .logoInfo {
                    width: 80vw;
                    padding: 10px 0px;
                }

                .logoResult {
                    width: 40vw;
                    padding: 0;
                }
            }

            .boxRight {
                .senior60 {
                    width: 40vw;
                    margin: 30px 0 10px 0;
                }
            }
        }
    }

    // bixMain senior
    .bixMainSenior {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;

        .logoPoliceSenior {
            width: 35rem !important;
            align-self: center;
        }

        .boxLeft {
            display: flex;
            flex-direction: column;

            .camera {
                width: 3rem !important;
            }

            .groupLL {
                width: 35rem !important;
                align-self: center;
            }

            .imgText {
                padding: 15px 20px;
                width: 35rem !important;
                align-self: center;
            }

            .buttonSenior {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff5a01;
                padding: 9px 0px;
                border-radius: 10px;
                cursor: pointer;
                z-index: 99;
            }

            .textFacebook {
                font-size: 1.7rem !important;
                align-self: center;
            }

            .boxFacebook {
                display: flex;
                flex-direction: column !important;
                align-items: center;
                padding: 15px 20px;
            }

            .boxMask {
                display: flex;
                flex-direction: column !important;
                align-items: center;
                padding: 15px 20px;
            }

            .textMask {
                margin: 10px 0px;
                display: flex;
                align-items: center;
            }

            .Mask {
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }

            .day {
                width: 20rem;
                margin: 15px 5px !important;
            }

            .info {
                width: 35rem !important;
                align-self: center;
            }

            .facebook {
                width: 25rem !important;
            }

            .textZoom1 {
                font-size: 1.5rem !important;
                color: #fff;
                margin: 0 138px !important;
            }

            .result {
                margin-top: 10px;
                width: 20rem !important;
                margin: 0px 25px;
            }

            .textZoom {
                font-size: 1.5rem;
                font-weight: 600;
                color: #1976d2;
                padding: 0;
                margin: 0 5px;
            }
        }

        .boxRight {
            .senior60 {
                width: 30rem !important;
                margin-top: 10px;
            }
        }
    }

    .boxClip {
        flex-direction: column !important;
    }

    .iframe-box {
        width: 100%;
        max-width: 520px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .slidePages {
        padding: 0;

        .boxMain {
            padding: 20px 15px;

            .boxLeft {
                .logoPolicePages {
                    width: 45vw;
                }

                .logoSenior {
                    width: 50vw;
                }

                .logoTextTalk {
                    width: 50vw;
                    padding: 15px 0;
                }

                .buttonSenior {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ff5a01;
                    padding: 9px 0px;
                    border-radius: 10px;
                    width: 100%;
                    margin: 0;
                    cursor: pointer;
                    z-index: 99;

                    .camera {
                        width: 3vw;
                        cursor: pointer;
                    }

                    .textZoom1 {
                        font-size: 2vw;
                        font-weight: 600;
                        color: #fff;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }

                .logoInfo {
                    width: 55vw;
                    padding: 10px 0px;
                }

                .logoResult {
                    width: 20vw;
                    padding: 0;
                }
            }

            .boxRight {
                .senior60 {
                    width: 40vw;
                    margin: 0;
                }
            }
        }
    }

    // bixMain senior
    .bixMainSenior {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;

        .logoPoliceSenior {
            width: 45rem !important;
            align-self: center;
        }

        .boxLeft {
            display: flex;
            flex-direction: column;

            .camera {
                width: 3rem !important;
            }

            .groupLL {
                width: 35rem !important;
                align-self: center;
            }

            .imgText {
                padding: 15px 20px;
                width: 40rem !important;
                align-self: center;
            }

            .buttonSenior {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff5a01;
                padding: 9px 0px;
                border-radius: 10px;
                cursor: pointer;
                z-index: 99;
            }

            .textFacebook {
                font-size: 1.7rem !important;
                align-self: center;
            }

            .boxFacebook {
                display: flex;
                flex-direction: row !important;
                align-items: center;
                padding: 15px 20px;
            }

            .boxMask {
                display: flex;
                flex-direction: row !important;
                align-items: center;
                padding: 15px 20px;
                margin: auto;
            }

            .textMask {
                margin: 10px 0px;
                display: flex;
                align-items: center;
            }

            .Mask {
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }

            .day {
                width: 15rem;
                margin: 15px 15px !important;
            }

            .info {
                width: 40rem !important;
                align-self: center;
                margin: 0px 40px !important;
            }

            .facebook {
                width: 18.5rem !important;
            }

            .textZoom1 {
                font-size: 1.5rem !important;
                color: #fff;
                margin: 0 5px;
            }

            .result {
                margin-top: 10px;
                width: 20rem !important;
                margin: 0px 200px !important;
            }

            .textZoom {
                font-size: 1rem;
                font-weight: 600;
                color: #1976d2;
                padding: 0;
                margin: 0 5px;
            }
        }

        .boxRight {
            .senior60 {
                width: 35rem !important;
                margin-top: 10px;
            }
        }
    }

    .boxClip {
        flex-direction: column !important;
    }

    .iframe-box {
        width: 100%;
        max-width: 520px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .slidePages {
        padding: 0;

        .boxMain {
            padding: 20px 15px;

            .boxLeft {
                .logoPolicePages {
                    width: 45vw;
                }

                .logoSenior {
                    width: 50vw;
                }

                .logoTextTalk {
                    width: 50vw;
                    padding: 15px 0;
                }

                .buttonSenior {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ff5a01;
                    padding: 9px 0px;
                    border-radius: 10px;
                    width: 100%;
                    margin: 0;
                    cursor: pointer;
                    z-index: 99;

                    .camera {
                        width: 3vw;
                        cursor: pointer;
                    }

                    .textZoom1 {
                        font-size: 2vw;
                        font-weight: 600;
                        color: #fff;
                        margin: 0 5px;
                        cursor: pointer;
                    }
                }

                .logoInfo {
                    width: 55vw;
                    padding: 10px 0px;
                }

                .logoResult {
                    width: 20vw;
                    padding: 0;
                }
            }

            .boxRight {
                .senior60 {
                    width: 40vw;
                    margin: 0;
                }
            }
        }
    }



    //bixMain senior
    .bixMainSenior {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .logoPoliceSenior {
            width: 30rem !important;
        }

        .boxLeft {
            display: flex;
            flex-direction: column;

            .camera {
                width: 3vw;
            }


            .groupLL {
                width: 30rem !important;
            }

            .imgText {
                padding: 15px 20px;
                width: 30rem !important;
            }

            .buttonSenior {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff5a01;
                padding: 9px 0px;
                border-radius: 10px;
                cursor: pointer;
                z-index: 99;
            }

            .textFacebook {
                margin: 0;
                font-size: 1rem;
                padding: 0px 20px;
                color: #273880;
                font-weight: 600;
            }

            .boxFacebook {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px 20px;
            }

            .boxMask {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px 20px;
            }

            .textMask {
                display: flex;
                align-items: center;
            }

            .Mask {
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }

            .day {
                width: 10rem !important;
                margin: 0px 0px 5px 5px;
            }

            .info {
                width: 30rem !important;
                margin: 0px 25px;
            }

            .facebook {
                width: 20rem !important;
            }

            .textZoom1 {
                font-size: 1.5rem !important;
                color: #fff;
                margin: 0 5px;
            }

            .result {
                margin-top: 10px;
                width: 20rem !important;
                margin: 0px 25px;
            }

            .textZoom {
                font-size: 1.5rem;
                font-weight: 600;
                color: #1976d2;
                padding: 0;
                margin: 0 5px;
            }
        }

        .boxRight {
            .senior60 {
                width: 30rem !important;
            }
        }
    }

    .boxClip {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;
        gap: 10px !important;
    }

    .iframe-box {
        width: 520px;
        height: 315px;
    }
}

::ng-deep .popup.channel .dx-form .dx-field-item-label-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

::ng-deep .popup.channel .dx-form .dx-radiobutton {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
}

@media screen and (min-width: 1300px) {
    ::ng-deep .popup.channel .dx-form .custom-radio.dx-show-invalid-badge.dx-radiogroup.dx-radiogroup-vertical.dx-widget.dx-validator.dx-visibility-change-handler {
        padding-left: 35%
    }

    ::ng-deep .popup.channel .dx-form .dx-texteditor.dx-editor-outlined {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (max-width: 1300px) {
    ::ng-deep .popup.channel .dx-form .custom-radio.dx-show-invalid-badge.dx-radiogroup.dx-radiogroup-vertical.dx-widget.dx-validator.dx-visibility-change-handler {
        padding-left: 24%;
    }
}

@media screen and (max-width: 800px) {
    ::ng-deep .popup.channel .dx-form .custom-radio.dx-show-invalid-badge.dx-radiogroup.dx-radiogroup-vertical.dx-widget.dx-validator.dx-visibility-change-handler {
        padding-left: 5%;
    }
}