<div class="bg-light py-5 d-flex flex-column justify-content-between">
    <div class="container mb-5 d-flex flex-column flex-lg-row justify-content-between align-items-center bg-blue-800 rounded-xl p-3">
        <div class="text-center text-lg-start mb-4 mb-lg-0">
            <h1 class="display-4 font-weight-bold text-warning">CYBER CHECK</h1>
            <p class="mb-4 text-white font-weight-bold h4 text-res">แอปพลิเคชันปกป้องข้อมูลให้ปลอดภัยจาก<br>อาชญากรไซเบอร์</p>
            <p class="mb-4 text-white font-weight-bold font-sm text-res">สามารถดาวน์โหลด Mobile Application ได้ทั้งสองระบบ</p>
            <div class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start align-items-center">
                <div class="btn btn-dark d-flex align-items-center justify-content-center px-4 mb-2 mb-lg-0 me-lg-2" style="min-width: 150px;">
                    <img src="" alt="Google Play" style="height: 30px; margin-right: 10px;">
                    <span class="text-center">Google Play</span>
                </div>
                <div class="btn btn-dark d-flex align-items-center justify-content-center px-4" style="min-width: 150px;">
                    <img src="" alt="App Store" style="height: 30px; margin-right: 10px;">
                    <span class="text-center">App Store</span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <img src="../assets/image/img/phone.png" alt="Phone Mockup" class="img-fluid rounded-xl img-w">
        </div>
    </div>

    <!-- faq -->
    <div class="container mt-5">
        <h2 class="h2 text-blue font-weight-bold text-center res-con">คำถามที่พบบ่อย</h2>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">ลงทะเบียนเข้าสู่ระบบได้ช่องทางใดบ้าง
            <i class="text-warning p-2 fas fa-chevron-right"></i>
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">เมื่อตกเป็นเหยื่อต้องดำเนินอย่างไร
            <i class="text-warning p-2 fas fa-chevron-right"></i>
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">ต้องการแจ้งความออนไลน์ต้องดำเนินอย่างไร
            <i class="text-warning p-2 fas fa-chevron-right"></i>
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">ติดตามผลการแจ้งความหรือความคืบหน้าของคดี
            <i class="text-warning p-2 fas fa-chevron-right"></i>
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">วิธีการตรวจสอบบุคคลต้องสงสัยเป็นมิจฉาชีพ
            <i class="text-warning p-2 fas fa-chevron-right"></i>
        </div>
    </div>
</div>
