.text-blue{
    color: #1E3A8A !important;
}
.bg-gray-300{
    background-color: #E0E0E0 !important;
}
.bg-blue-800{
    background: linear-gradient(0deg, #273880, #273880),
    linear-gradient(0deg, rgba(0, 16, 88, 0.5) 0%, rgba(39, 56, 128, 0) 73.5%) !important; 
}

.rounded-xl{
    border-radius: 24px;
}

.pl{
    padding-left: 100px;
}

.font-sm{
    font-size: 14px;
}
.img-w{
    max-height: 300px;
}

@media (max-width: 576px) {
    .container {
        padding: 0 !important;
        margin:0 !important;
    }
    .text-res{
        padding: 0 8px 0 8px !important;
    }
    .rounded-xl {
        border-radius: 0 !important;
    }
    .py-5 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .mb-5 {
        margin-bottom: 0 !important;
    }
    .btn {
            margin: 10px !important;
            width: 60%;     
    }
    .display-4 {
        font-size: 2rem;
        padding-top: 10px !important;
    }
    .h4 {
        font-size: 1.2rem;
    }
    .font-sm {
        font-size: 0.9rem;
    }
    .img-w{
        max-height: 500px;
    }
    .res-con{
        margin-top: 20px !important;
    }
}