.text-blue{
    color: #1E3A8A !important;
}
.bg-gray-300{
    background-color: #E0E0E0 !important;
}
.bg-blue-800{
    background: linear-gradient(0deg, #273880, #273880),
    linear-gradient(0deg, rgba(0, 16, 88, 0.5) 0%, rgba(39, 56, 128, 0) 73.5%) !important; 
}

.rounded-xl{
    border-radius: 24px;
}

.pl{
    padding-left: 100px;
}

.font-sm{
    font-size: 14px;
}