<div class="bg-light py-5 d-flex flex-column justify-content-between">
    <div class="container mb-5 d-flex flex-column flex-md-row justify-content-between align-items-center bg-blue-800 rounded-xl">
        <div class="text-center text-md-left p">
            <h1 class="display-4 font-weight-bold h1 text-warning">CYBER CHECK</h1>
            <p class="mb-4 text-white font-weight-bold h4">แอปพลิเคชันปกป้องข้อมูลให้ปลอดภัยจาก<br>อาชญากรไซเบอร์</p>
            <p class="text-white font-weight-bold font-sm">สามารถดาวน์โหลด Mobile Application ได้ทั้งสองระบบ</p>
            <div class="d-flex justify-content-center m-2">
                <div class="d-flex align-items-center py-2 rounded-3 mr-1">
                    <img src="../assets/image/btn/googleplaybtn.png" alt="Google Play" style="height: 70px; width: 220px; border-radius: 8px;">
                </div>
                <div class="d-flex align-items-center py-2 rounded-3 mr-1">
                    <img src="../assets/image/btn/appstorebtn.png" alt="App Store" style="height: 70px; width: 220px; border-radius: 8px;">
                </div>
            </div>
        </div>
        <div class="">
            <img src="../assets/image/img/phone.png" alt="Phone Mockup" class="img-fluid rounded-xl mh">
        </div>
    </div>

    <!-- faq -->
    <!-- <div class="container mt-5" style="max-width: 750px; margin: 0 auto;">
        <h2 class="h2 text-blue font-weight-bold text-center res-con">คำถามที่พบบ่อย</h2>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">ลงทะเบียนเข้าสู่ระบบได้ช่องทางใดบ้าง
            <img src="assets/icon/arrowright.svg" alt="arrow" class="iconarrow">
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">เมื่อตกเป็นเหยื่อต้องดำเนินอย่างไร
            <img src="assets/icon/arrowright.svg" alt="arrow" class="iconarrow">
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">ต้องการแจ้งความออนไลน์ต้องดำเนินอย่างไร
            <img src="assets/icon/arrowright.svg" alt="arrow" class="iconarrow">
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">ติดตามผลการแจ้งความหรือความคืบหน้าของคดี
            <img src="assets/icon/arrowright.svg" alt="arrow" class="iconarrow">
        </div>
        <div class="text-blue bg-gray-300 font-weight-bold p-2 m-2 rounded h5 d-flex justify-content-between align-items-center">วิธีการตรวจสอบบุคคลต้องสงสัยเป็นมิจฉาชีพ
            <img src="assets/icon/arrowright.svg" alt="arrow" class="iconarrow">
        </div>
    </div> -->

</div>
