<section class="ftco-section mt_100">
    <div class="container">
        <div class="row d-flex" style="flex-wrap: nowrap;">
            <div class="col-sm-6">
                <img src="assets/icon/logo.png" class="image">
            </div>
            <div class="col-sm-6">
                <div class="mt-5 mb-5  text-about">
                    <h3 style="color: #6EC1E4;">สำนักงานตำรวจแห่งชาติ
                    </h3>
                    <h6>เป็นส่วนราชการที่อยู่ในบังคับบัญชาขึ้นตรงต่อนายกรัฐมนตรีแห่งราชอาณาจักรไทย จัดตั้งขึ้นในปี พ.ศ.2541 โดยเปลี่ยนจากกรมตำรวจ กระทรวงมหาดไทย ปัจจุบันสำนักงานตำรวจแห่งชาติ อยู่ในบังคับบัญชาของ พลเอก ประยุทธ์ จันทร์โอชา นายกรัฐมนตรี และรัฐมนตรีว่าการกระทรวงกลาโหม
                        ในฐานะกำกับดูแลสำนักงานตำรวจแห่งชาติ มี พล.ต.อ.สุวัฒน์ แจ้งยอดสุข เป็น ผบ.ตร. (ข้อมูล ณ 1 พ.ย.64)
                    </h6>
                </div>
            </div>
        </div>
        <div class="row d-flex mt-3" style="flex-wrap: nowrap;">
            <div class="col-sm-6">
                <img src="assets/icon/PCT.png" class="image2">
            </div>
            <div class="col-sm-6">
                <div class="mt-5 mb-5  text-about">
                    <h3 style="color: #6EC1E4;">ศูนย์ปราบปรามอาชญากรรมทางเทคโนโลยีสารสนเทศ (ศปอส.ตร.)(PCT : Police Cyber Taskforce)
                    </h3>
                    <h6>จัดตั้งขึ้นในปี พ.ศ.2562 โดยมี พล.ต.อ.สุวัฒน์ แจ้งยอดสุข รอง ผบ.ตร. เป็น ผอ.ศปอส. ตร.(ยศและตำแหน่งขณะนั้น) ต่อมา ตั้งแต่ 30 ต.ค.63 ถึง ปัจจุบัน มี พล.ต.อ.ดำรงศักดิ์ กิตติประภัสร์ รอง ผบ.ตร. เป็น ผอ.ศปอส.ตร. (ข้อมูล ณ 1 พ.ย.64)
                    </h6>
                </div>
            </div>
        </div>
        <div class="row d-flex mt-3" style="flex-wrap: nowrap;">
            <div class="col-sm-6">
                <img src="assets/icon/police.png" class="image3">
            </div>
            <div class="col-sm-6">
                <div class="mt-5 mb-5  text-about">
                    <h3 style="color: #6EC1E4;">กองบัญชาการตำรวจสืบสวนสอบสวนอาชญากรรมทางเทคโนโลยี (บช.สอท.)(CCIB : Cyber Crime Investigation Bureau)
                    </h3>
                    <h6>จัดตั้งขึ้นในปี พ.ศ.2563 โดยมี พล.ต.ท.กรไชย คล้ายคลึง ดำรงตำแหน่ง ผบช.สอท. จนถึงปัจจุบัน (ข้อมูล ณ 1 พ.ย.64)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
