<div class="newscontainer">
    <header class="newsheader">
        <h2 class="newstitle">ข่าวประชาสัมพันธ์ / เตือนภัยไซเบอร์</h2>
        <div class="newscontrols">
            <button class="newsbutton">ดูข่าวสารทั้งหมด</button>
        </div>
    </header>
        <section class="news-card">
            <section class="news-list">
                <div class="news-item fade-animation" *ngFor="let news of paginatedNews[currentPage]">
                    <img [src]="news.image" [alt]="news.title" class="news-image">
                    <div class="news-details">
                        <span class="news-category">{{ news.category }}</span>
                        <h4 class="news-title">{{ news.title }}</h4>
                        <p class="news-description">{{ news.des }}</p>
                        <div class="news-date">
                            <img src="assets/icon/calendar.png" alt="calendar" class="calendar-icon">
                            <span>{{ news.date }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    <footer class="pagination-controls">
        <div class="dot-controls">
            <span *ngFor="let page of paginatedNews; let i = index" class="dot" [class.active]="i === currentPage"
                (click)="navigateToPage(i)"></span>
        </div>
        <div class="button-controls">
            <button class="prev-button" (click)="prevPage()" [disabled]="currentPage === 0">&larr;</button>
            <button class="next-button" (click)="nextPage()"
                [disabled]="currentPage === paginatedNews.length - 1">&rarr;</button>
        </div>
    </footer>
</div>