<section class="ftco-section mt_100">
    <div class="btn-back">
        <dx-button hint="ย้อนกลับ" text="ย้อนกลับ" (onClick)="Back()">
        </dx-button>
    </div>
    <div class="p-5 contents-tab">
        <div class="row">
            <div class="col-sm-12">
                <dx-tab-panel id="tabPanel" [selectedIndex]="0" [animationEnabled]="false" [swipeEnabled]="false">
                    <dxi-item title="ภาพรวม">
                        <ng-container *dxTemplate>
                            <app-overview></app-overview>
                        </ng-container>
                    </dxi-item>
                    <dxi-item title="ใบรับแจ้งเหตุฯ">
                        <ng-container *dxTemplate>
                            <app-cyber-issue-new-edit></app-cyber-issue-new-edit>
                        </ng-container>
                    </dxi-item>
                    <dxi-item title="ไฟล์แนบ">
                        <ng-container *dxTemplate>
                            <app-attach-file></app-attach-file>
                        </ng-container>
                    </dxi-item>
                    <dxi-item title="ไฟล์แนบเจ้าหน้าที่">
                        <ng-container *dxTemplate>
                            <app-attach-file-officer></app-attach-file-officer>
                        </ng-container>
                    </dxi-item>
                    <!-- *ngIf="checkStatus" เปิดปิดแชท -->
                    <dxi-item title="สนทนา">
                        <ng-container *dxTemplate>
                            <app-chat></app-chat>
                        </ng-container>
                    </dxi-item>
                    <dxi-item title="ขอถอนเรื่อง">
                        <ng-container *dxTemplate>
                            <app-take-back></app-take-back>
                        </ng-container>
                    </dxi-item>
                </dx-tab-panel>
            </div>
        </div>
    </div>

</section>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>