<div class="conten-block">
    <div class="content-title">ไฟล์หลักฐานเพิ่มเติม (ถ้ามี)</div>
    <div class="content-form">
        <div class="add-data">
            <dx-button class="btn btn-add-data" text="เพิ่มรายการ" (onClick)="PopupUploadAdd()"></dx-button>
        </div>
        <!-- <div>limitAttachmentSize->{{limitAttachmentSize}}</div>
        <div>limitAttachmentSize->{{BytesToSize(limitAttachmentSize)}}</div> -->
        <div class="remark-table-upload">* ขนาดไฟล์ทั้งหมดไม่เกิน 5MB</div>
        <dx-data-grid #grid [dataSource]="listAttachment" [showColumnLines]="false" [showRowLines]="true" [columnHidingEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="false" [columnAutoWidth]="true" [selectedRowKeys]="[]"
            noDataText="ไม่มีข้อมูล">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [visible]="true" [allowedPageSizes]="[10, 20, 50]" displayMode="full" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
            </dxo-editing>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="" caption="จัดการ" [width]="80" alignment="center" [allowSorting]="false" cellTemplate="cellTemplateCommand"></dxi-column>
            <div *dxTemplate="let d of 'cellTemplateCommand'">
                <img class="text-download" src="assets/icon/trash.png" alt="icon" (click)="PopupUploadDelete(d.component.pageIndex() * d.component.pageSize() + d.rowIndex)">
            </div>
            <dxi-column dataField="" caption="ลำดับ" [width]="80" alignment="center" [allowEditing]="false" cellTemplate="cellTemplate"></dxi-column>
            <dxi-column dataField="" caption="ชื่อไฟล์" alignment="center" cellTemplate="cellTemplateName"></dxi-column>
            <div *dxTemplate="let cell of 'cellTemplateName'">
                <div class="text-break text-left">
                    <span class="text-download" (click)="PopupViewFile(cell.data)">{{cell.data['originalName']}}</span>
                </div>
            </div>
            <dxi-column dataField="" caption="ขนาดไฟล์" alignment="center" [width]="150" cellTemplate="cellTemplateDetail"></dxi-column>
            <div *dxTemplate="let cell of 'cellTemplateDetail'">
                <div class="text-break">{{cell.data['sizeDetail']}}</div>
            </div>
            <div *dxTemplate="let cell of 'cellTemplate'">
                {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}
            </div>
        </dx-data-grid>
    </div>
</div>
<div class="text-right btn-footer">
    <dx-button class="btn btn-back" text="ย้อนกลับ" (onClick)="Back($event)">
    </dx-button>
    &nbsp;
    <dx-button class="btn btn-submit" text="ถัดไป" (onClick)="SubmitForm($event)"></dx-button>
</div>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>


<dx-popup [width]="800" [height]="400" [showTitle]="true" title="เพิ่มรายการ" [dragEnabled]="false" [closeOnOutsideClick]="false" [showCloseButton]="false" [visible]="popupAttachment">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #view_form_popup_attachment [showScrollbar]="'always'" style="height: calc(100% - 45px);">
            <!-- <div>maxSizeBuffer->{{maxSizeBuffer}}</div>
            <div>maxSizeBuffer->{{BytesToSize(maxSizeBuffer)}}</div> -->
            <div id="popup-issue-online-attachment">
                <dx-form #form_popup_attachment [colCount]="2" labelLocation="top">
                    <dxi-item template="temp1" [colSpan]="1" [isRequired]="true">
                        <dxo-label text="ชื่อไฟล์" [showColon]="false"></dxo-label>
                        <dxi-validation-rule type="required" message="กรุณากรอกข้อมูล">
                        </dxi-validation-rule>
                    </dxi-item>
                    <div *dxTemplate="let data of 'temp1'">
                        <dx-text-box [(value)]="popupForm.originalName"></dx-text-box>
                    </div>
                </dx-form>
                <div id="upload-file">
                    <div *ngIf="!popupFormUploaded" class="block-dropzone">
                        <!-- <div class="text-head">แนบไฟล์เอกสาร หรือไฟล์ภาพ</div> -->
                        <div class="dropzone" appDrag (files)="FilesDroppedAttachment($event)">
                            <span class="dropzone-text"><img src="assets/image/police/desktop/icon-file.png">วางไฟล์ที่ต้องการนำเข้าที่นี่ หรือ <span class="text-link" (click)="OpenFileDialogAttachment(uploadfileAttachment)">เลือกไฟล์</span><br>ไฟล์เอกสารไฟล์ภาพ
                            นามสกุล .pdf, .jpg, .png
                            <input #uploadfileAttachment type="file" [multiple]="false" accept="*" tabindex="-1" class="dx-fileuploader-input" (change)="UploadFileAttachment(uploadfileAttachment)"></span>
                        </div>
                    </div>
                    <div *ngIf="popupFormUploaded" class="block-uploaded-file">
                        <div class="text-head">Uploaded files</div>
                        <div class="block-file">
                            <div class="row">
                                <div class="col-auto nopading">
                                    <img class="text-download icon-file" src="assets/image/police/desktop/fileupload.png" alt="">
                                </div>
                                <div class="col detail-center">
                                    <span>{{popupForm.originalName}}</span><br>
                                    <span>ขนาด {{popupForm.sizeDetail}}</span>
                                </div>
                                <div class="col-auto block-remove-file">
                                    <div class="remove-img-list">
                                        <img src="assets/image/police/desktop/exit.png" alt="" (click)="ClearDocBufferAttachment()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dx-scroll-view>
        <div class="text-right btn-dx">
            <button class="btn btn-cancle" (click)="PopupUploadClose()">ยกเลิก</button>&nbsp;
            <button class="btn btn-submit" (click)="PopupUploadSave()">บันทึก</button>
        </div>
    </div>
</dx-popup>

<ng-container *ngIf="popupViewFile">
    <app-view-file-upload [fileData]="popupViewFileData" (popupChange)="ClosePopupViewFile($event)"></app-view-file-upload>
</ng-container>