<!-- <div class=""
    style="background-image: url(assets/image/navbar/top_header-left.png), url(assets/image/navbar/top_header.png)">
</div> -->
<img class="navbar_img" style="position: fixed; z-index: 999; width: 100vw;" src="assets/image/navbar/top_header.png">
<img class="navbar_img" style="position: fixed; z-index: 999;" src="assets/image/police/desktop/header-detail.png">
<img class="navbar_img img-icon-home" src="assets/icon/25694.png" (click)="onHome()">
<div style="position: fixed; z-index: 999;
top: 0;
text-align: center;
color: #fff; width: 100%;
margin-top: 5px;">
    <div style="font-weight: bold; font-size: 20px;">การรับแจ้งความทางออนไลน์</div>
    <div  style="font-size: 12px;"> คดีอาชญากรรมทางเทคโนโลยี
        สำนักงานตำรวจแห่งชาติ</div>
</div>
