:host {
    .tab-title {
        font-size: 18px;
        color: #2f2b66;
    }
     ::ng-deep {
        .dx-icon.fa.fa-plus {
            color: #fff !important;
        }
        .conten-block {
            margin-top: 5px;
            .content-title {
                text-align: left;
                padding: 10px 0 20px 0;
                font-size: 18px;
                color: #2f2b66;
                font-weight: bold;
            }
            .content-end-line {
                margin: auto;
                width: 100%;
                border-bottom: 1px solid #dddddd;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
    .btn-footer {
        margin-top: 40px;
    }
    .block-location-collaps {
        .location-collaps {
            .collaps-header {
                cursor: pointer;
                .icon {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: #ffffff;
                    width: 25px;
                    height: 25px;
                    border-radius: 40px;
                    padding: 3px 0px 0px 5px;
                    .collaps {
                        display: block;
                        font-size: 23px !important;
                        color: #374784;
                    }
                    .expand {
                        display: none;
                    }
                }
            }
            .collaps-header.active {
                cursor: pointer;
                .icon {
                    padding: 1px 0px 0px 5px;
                    .collaps {
                        display: none;
                    }
                    .expand {
                        display: block;
                        font-size: 23px !important;
                        color: #374784;
                    }
                }
            }
            .collaps-header:hover {
                opacity: 0.75;
            }
            .collaps-body {
                display: none;
            }
        }
        .not-copy {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

::ng-deep .dx-datagrid-headers+.dx-datagrid-rowsview {
    border-top: 1px solid #fff !important;
}

.collapsible {
    background-color: #5586df;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: rgb(46, 95, 187);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

button.active:before {
    right: 0;
    position: fixed;
    margin-top: -5px;
    font-size: 20px;
    margin-right: 40px;
    background-color: #fff;
    color: #1c2f52;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    content: "\f106";
    font-family: "FontAwesome";
    font-weight: bold;
}

button:before {
    right: 0;
    position: fixed;
    margin-top: -5px;
    font-size: 20px;
    margin-right: 40px;
    background-color: #fff;
    color: #1c2f52;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: bold;
}

:host ::ng-deep .custom-ratio .dx-widget.dx-collection > .dx-item.dx-radiobutton {
    width: 700px; /* Default width for larger screens */
    max-width: 100%; /* Ensure it doesn’t overflow */
}

:host ::ng-deep .custom-ratiow .dx-widget.dx-collection > .dx-item.dx-radiobutton {
    width: 730px; /* Default width for larger screens */
    max-width: 100%; /* Ensure it doesn’t overflow */
}

:host ::ng-deep .custom-ratio .dx-widget.dx-collection > .dx-item.dx-radiobutton .dx-radio-value-container,
:host ::ng-deep .custom-ratiow .dx-widget.dx-collection > .dx-item.dx-radiobutton .dx-radio-value-container {
    width: 40px;
    vertical-align: top;
}

:host ::ng-deep .custom-ratio .dx-widget.dx-collection > .dx-item.dx-radiobutton .sub-content,
:host ::ng-deep .custom-ratiow .dx-widget.dx-collection > .dx-item.dx-radiobutton .sub-content {
    padding-top: 10px;
}

:host ::ng-deep .custom-ratio .dx-widget.dx-collection > .dx-item.dx-radiobutton .sub-content > .location,
:host ::ng-deep .custom-ratiow .dx-widget.dx-collection > .dx-item.dx-radiobutton .sub-content > .location {
    padding-left: 15px;
    padding-right: 0px;
}