:host {
    .tab-title {
        font-size: 18px;
        color: #2f2b66;
    }
    ::ng-deep {
        .dx-icon.fa.fa-plus {
            color: #fff !important;
        }
        .conten-block {
            margin-top: 5px;
            .content-title {
                text-align: left;
                padding: 10px 0 20px 0;
                font-size: 18px;
                color: #2f2b66;
                font-weight: bold;
            }
            // .content-end-line {
            //     margin: auto;
            //     width: 95%;
            //     border-bottom: 1px solid #dddddd;
            //     margin-top: 40px;
            // }
        }
    }
    .btn-footer {
        margin-top: 40px;
    }
}
::ng-deep .dx-datagrid-headers + .dx-datagrid-rowsview {
    border-top: 1px solid #fff !important;
}
.collapsible {
    background-color: #5586df;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: rgb(46, 95, 187);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
button.active:before {
    right: 0;
    position: fixed;
    margin-top: -5px;
    font-size: 20px;
    margin-right: 40px;
    background-color: #fff;
    color: #1c2f52;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    content: "\f106";
    font-family: "FontAwesome";
    font-weight: bold;
}
button:before {
    right: 0;
    position: fixed;
    margin-top: -5px;
    font-size: 20px;
    margin-right: 40px;
    background-color: #fff;
    color: #1c2f52;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: bold;
}
