<div class="block-content">
    <div class="title">
        <div class="title-left">หน้าหลัก</div>
        <div class="title-right">หน้าหลัก</div>
    </div>
    <div class="block-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="inblock-title">การนัดหมายที่กำลังมาถึง</div>
                    <div>
                        <div class="user-appointment">
                            <div class="text-title">สวัสดี {{personalInfo.FullNameTH}} !</div>
                            <div class="text">คุณมีนัดหมายที่กำลังมาถึง 2 รายการ ในวันนี้, ขอให้เป็นวันที่ดี :)</div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color1">
                            <div class="progress-bar left">
                                <div class="text1">20 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 20 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>

                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>

                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color2">
                            <div class="progress-bar left">
                                <div class="text1">21 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 21 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="inblock-title">เรื่องที่แจ้ง</div>

                    <div class="block-user-follow">
                        <div class="progress user-appointment-info color1">
                            <div class="progress-bar left">
                                <div class="block">
                                    <img src="assets/image/police/desktop/icon-user-follow.png" alt="station">
                                </div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">เลขที่รับแจ้ง OCL20211012385</div>
                                <div class="text3">วันที่รับแจ้ง 10 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/icon-user-follow-mail.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานะ รอการนัดหมาย</div>
                                <div class="text2">ข้อความจากเจ้าหน้าที่ 5 ข้อความ</div>
                            </div>
                        </div>
                    </div>

                    <div class="block-user-follow">
                        <div class="progress user-appointment-info color1">
                            <div class="progress-bar left">
                                <div class="block">
                                    <img src="assets/image/police/desktop/icon-user-follow.png" alt="station">
                                </div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">เลขที่รับแจ้ง OCL20211012385</div>
                                <div class="text3">วันที่รับแจ้ง 10 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/icon-user-follow-mail.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานะ อยู่ระหว่างการสืบสวน</div>
                                <div class="text2">ข้อความจากเจ้าหน้าที่ 0 ข้อความ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="inblock-title">การนัดหมายที่กำลังมาถึง</div>
                    <div>
                        <div class="user-appointment">
                            <div class="text-title">สวัสดี {{personalInfo.FirstNameTH}} !</div>
                            <div class="text">คุณมีนัดหมายที่กำลังมาถึง 2 รายการ ในวันนี้, ขอให้เป็นวันที่ดี :)</div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color1">
                            <div class="progress-bar left">
                                <div class="text1">20 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 20 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color2">
                            <div class="progress-bar left">
                                <div class="text1">21 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 21 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="inblock-title">การนัดหมายที่กำลังมาถึง</div>
                    <div>
                        <div class="user-appointment">
                            <div class="text-title">สวัสดี {{personalInfo.FirstNameTH}} !</div>
                            <div class="text">คุณมีนัดหมายที่กำลังมาถึง 2 รายการ ในวันนี้, ขอให้เป็นวันที่ดี :)</div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color1">
                            <div class="progress-bar left">
                                <div class="text1">20 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 20 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color2">
                            <div class="progress-bar left">
                                <div class="text1">21 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 21 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="inblock-title">การนัดหมายที่กำลังมาถึง</div>
                    <div>
                        <div class="user-appointment">
                            <div class="text-title">สวัสดี {{personalInfo.FirstNameTH}} !</div>
                            <div class="text">คุณมีนัดหมายที่กำลังมาถึง 2 รายการ ในวันนี้, ขอให้เป็นวันที่ดี :)</div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color1">
                            <div class="progress-bar left">
                                <div class="text1">20 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 20 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-user-appointment">
                        <div class="progress user-appointment-info color2">
                            <div class="progress-bar left">
                                <div class="text1">21 ม.ค.</div>
                                <div class="text2">2564</div>
                            </div>
                            <div class="progress-bar center">
                                <div class="text1">หลอกลวงให้ลงทุนออนไลน์</div>
                                <div class="text2">วันที่นัดหมาย 21 มกราคม2564 | เวลา 13.00 น.</div>
                            </div>
                            <div class="progress-bar station">
                                <img src="assets/image/police/desktop/station.png" alt="station">
                            </div>
                            <div class="progress-bar right">
                                <div class="text1">สถานีตำรวจนครบาลห้วยขวาง</div>
                                <div class="text2">ร.ต.อ ณัฐพล ทองดี (รอง สว.สอบสวน) | โทร 098-234-2342</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>