:host {
    background-color: #808080;
    .conten-block {
        padding: 0px 50px 1px 50px;
        border-radius: 20px;
        background-color: #eeeeee;
    }
    ::ng-deep .dx-radiogroup {
        display: flex;
        justify-content: center;
    }
}

.row {
    display: flex;
    justify-content: center;
}

::ng-deep .title-popup {
    font-size: 30px;
}

::ng-deep .btn-add {
    padding: 7px !important;
    span {
        padding-top: 2px;
        top: 0px !important;
    }
    i {
        font-size: 25px !important;
    }
}

.block-add-btn {
    // margin: 5px 0 5px 0;
    .btn-add {
        background-color: #ffd84f;
        width: 250px;
        height: 50px;
        font-weight: 600;
        font-size: large;
    }
}

#bankid-container > .dx-field-value {
    ::ng-deep .dx-texteditor.dx-editor-outlined {
        border: 1px solid #808080;
    }
}

#bankname-container > .dx-field-label {
    width: 25%;
}

#bankname-container > .dx-field-value {
    width: 75%;
    ::ng-deep .dx-texteditor.dx-editor-outlined {
        border: 1px dashed #555 !important;
    }
}

#bankdate-container > .dx-field-label {
    padding: 0px 15px 9px 0;
}

#bankdate-container > .dx-field-value {
    ::ng-deep .dx-texteditor.dx-editor-outlined {
        border: 1px solid #808080;
    }
}

.box-bank {
    cursor: pointer;
    .item-box-bank {
        align-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }
}
