.box-tasktop {
     z-index: 999;
     position: fixed;
     bottom: 2rem;
     right: 1rem;
     display: flex;
     align-items: center;

     img {
          width: 2rem;
          margin-right: 0vw;
     }

     .caseOnline {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 11rem;
          height: 3rem;
          font-size: 1rem;
          font-weight: 600;
          color: #ffffff;
          background-color: #FF5A01;
          border-radius: 8px;
          cursor: pointer;

          img {
               margin-right: 0.2rem;
          }
     }

     .tel1441 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 11rem;
          height: 3rem;
          font-size: 1rem;
          font-weight: 600;
          color: #ffffff;
          background-color: #273880;
          border-radius: 8px;
          cursor: pointer;

          img {
               margin-right: 0.2rem;
          }
     }

     .facebook {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 13rem;
          height: 3rem;
          font-size: 1rem;
          font-weight: 600;
          color: #ffffff;
          background-color: #273880;
          border-radius: 8px;
          cursor: pointer;

          img {
               margin-right: 0.2rem;
          }
     }

     .uploadDoc {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18rem;
          height: 3rem;
          font-size: 1rem;
          font-weight: 600;
          color: #ffffff;
          background-color: #273880;
          border-radius: 8px;
          cursor: pointer;
          img {
               margin-right: 0.2rem;
          }
     }
}

.box-moblie {
     display: none;
}

.to-top-btn {
     text-align: center;
     background-color: #ff5a01;
     color: white;
     border: none;
     font-size: 1.2rem;
     width: 2rem;
     border-radius: 50%;
     cursor: pointer;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     display: none;
     /* ซ่อนปุ่มไว้ก่อน */
}

.to-top-btn.show {
     display: block;
     z-index: 9999;
}

@media screen and (min-width: 318px) and (max-width: 575px) {

     .box-tasktop {
          display: none;
     }

     .box-moblie {
          z-index: 11;
          position: fixed;
          bottom: 1rem;
          right: 1rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          img {
               width: 1rem;
               margin-right: 0vw;
          }

          .caseOnline {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 2rem;
               height: 2rem;
               font-weight: 600;
               color: #ffffff;
               background-color: #FF5A01;
               border-radius: 50%;
               cursor: pointer;
               margin: 3px 0;
          }

          .tel1441 {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 2rem;
               height: 2rem;
               font-weight: 600;
               color: #ffffff;
               background-color: #273880;
               border-radius: 50%;
               cursor: pointer;
               margin: 3px 0;
          }

          .facebook {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 2rem;
               height: 2rem;
               font-weight: 600;
               color: #ffffff;
               background-color: #273880;
               border-radius: 50%;
               cursor: pointer;
               margin: 3px 0;
          }

          .uploadDoc {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 15rem;
               height: 2rem;
               font-weight: 600;
               color: #ffffff;
               background-color: #FF5A01;
               border-radius: 10px;
               cursor: pointer;
               margin: 3px 0;
               padding: 1rem 0.5rem;
          }
     }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
     .box-tasktop {
          z-index: 999;
          position: fixed;
          bottom: 8vw;
          right: 5vw;
          display: flex;
          flex-direction: column;

          img {
               width: 3vw;
               margin-right: 1vw;
          }

          .caseOnline {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 21vw;
               height: 5vw;
               font-size: 2vw;
               font-weight: 600;
               color: #ffffff;
               background-color: #FF5A01;
               border-radius: 8px;
               cursor: pointer;
               margin: 3px 0;
          }

          .tel1441 {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 21vw;
               height: 5vw;
               font-size: 2vw;
               font-weight: 600;
               color: #ffffff;
               background-color: #273880;
               border-radius: 8px;
               cursor: pointer;
               margin: 3px 0;
          }

          .facebook {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 21vw;
               height: 5vw;
               font-size: 1.5vw;
               font-weight: 600;
               color: #ffffff;
               background-color: #273880;
               border-radius: 8px;
               cursor: pointer;
               margin: 3px 0;
          }

          .uploadDoc {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 21vw;
               height: 5vw;
               font-size: 1.5vw;
               font-weight: 600;
               color: #ffffff;
               background-color: #273880;
               border-radius: 8px;
               cursor: pointer;
               margin: 3px 0;
          }
     }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
     .caseOnline {
          width: 15vw !important;
          height: 4vw !important;
          font-size: 1.4vw !important;
     }

     .tel1441 {
          width: 15vw !important;
          height: 4vw !important;
          font-size: 1.4vw !important;
     }

     .facebook {
          width: 15vw !important;
          height: 4vw !important;
          font-size: 1.4vw !important;
     }

     .uploadDoc {
          width: 15vw !important;
          height: 4vw !important;
          font-size: 1.4vw !important;
     }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {}