<div class="box-tasktop">
         <div class="caseOnline mx-2" (click)="OnClickButtonprototype(1)">
          <img src="assets/icon/white1.png">
          แจ้งความออนไลน์ Prototype
     </div>
     <div class="caseOnline mx-2" (click)="OnClickButton(1)">
          <img src="assets/icon/white1.png">
          แจ้งความออนไลน์
     </div>
     <div class="caseOnline mx-2" (click)="OnClickButton(2)">
          <img src="assets/icon/white1.png">
          แจ้งเบาะแส
     </div>
     <div class="caseOnline mx-2" (click)="OnClickButton(3)">
          <i class="fa fa-comments" aria-hidden="true"></i> &nbsp;
          สนทนากับเจ้าหน้าที่
     </div>
     <!-- <div class="tel1441 mx-2" (click)="TelLink('tel:1441')">
          <img src="assets/icon/white2.png">
          สายด่วน 1441
     </div> -->
     <div class="facebook mx-2" (click)="openThaiD()">
          ตรวจสอบสถานะบัญชีม้า
     </div>
     <div class="uploadDoc mx-2" (click)="OnClickButton(4)">
          อัปโหลดเอกสารเพิ่มเติมเกี่ยวกับคดี
     </div>
     <!-- <div class="facebook mx-2" (click)="openLink('https://www.facebook.com/CybercopTH')">
          <img src="assets/icon/facebook.png">
          ตำรวจไซเบอร์ บช.สอท.
     </div> -->
</div>

<div class="box-moblie">
     <div class="caseOnline mx-2" (click)="OnClickButton(1)">
          <img src="assets/icon/white1.png">
     </div>
     <div class="caseOnline mx-2" (click)="OnClickButton(2)">
          <img src="assets/icon/white1.png">
     </div>
     <div class="caseOnline mx-2" (click)="OnClickButton(3)">
          <i class="fa fa-comments" aria-hidden="true"></i>
     </div>
     <!-- <div class="tel1441 mx-2" (click)="TelLink('tel:1441')">
          <img src="assets/icon/white2.png">
     </div> -->
     <div class="caseOnline mx-2" (click)="openThaiD()">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
     </div>
     <div class="uploadDoc mx-2" (click)="OnClickButton(4)">
          อัปโหลดเอกสารเพิ่มเติมเกี่ยวกับคดี
     </div>
     <!-- <div class="facebook mx-2" (click)="openLink('https://www.facebook.com/CybercopTH')">
          <img src="assets/icon/facebook.png">
     </div> -->
     <div class="to-top-btn mx-2" (click)="scrollToTop()">
          &#8679;
     </div>
</div>