<div class="box-tasktop">
     <div class="caseOnline mx-2" (click)="OnIssueOnline()">
          <img src="assets/icon/white1.png">
          แจ้งความออนไลน์
     </div>
     <div class="caseOnline mx-2" (click)="OnIssueReport()">
          <img src="assets/icon/white1.png">
          แจ้งเบาะแส
     </div>
     <div class="tel1441 mx-2" (click)="TelLink('tel:1441')">
          <img src="assets/icon/white2.png">
          สายด่วน 1441
     </div>
     <div class="facebook mx-2" (click)="openLink('https://www.facebook.com/CybercopTH')">
          <img src="assets/icon/facebook.png">
          ตำรวจไซเบอร์ บช.สอท.
     </div>
</div>

<div class="box-moblie">
     <div class="caseOnline mx-2" (click)="OnIssueOnline()">
          <img src="assets/icon/white1.png">
     </div>
     <div class="tel1441 mx-2" (click)="TelLink('tel:1441')">
          <img src="assets/icon/white2.png">
     </div>
     <div class="facebook mx-2" (click)="openLink('https://www.facebook.com/CybercopTH')">
          <img src="assets/icon/facebook.png">
     </div>
     <div class="to-top-btn mx-2" (click)="scrollToTop()">
          &#8679;
     </div>
</div>