.slider-container {
     position: relative;
     width: 100%;
     // height: 100vh;
     height: auto;
     overflow: hidden;
}

.slides {
     display: flex;
     height: 100%;
     transition: transform 0.5s ease-in-out;
}

.slide {
     min-width: 100%;
     // height: 100vh;
     height: calc(100vh - 90px);
     display: flex;
     justify-content: center;
     align-items: center;
     /* ให้เนื้อหาอยู่กลางจอ */
     background-color: #273880;
     background-size: cover;
     background-position: center;
     position: relative;
}

.slide img {
     width: 90%;
     max-width: 1200px;
     /* ป้องกันการขยายเกินไป */
     height: auto;
     object-fit: contain;
}

.nav {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     border: none;
     cursor: pointer;
     z-index: 1000;
     padding: 0px;
     border-radius: 50%;
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid white;
     background: #FFFFFF33;

     &:hover {
          color: #FF5A01;
     }

}

.nav-left {
     left: 2vw;
}

.nav-right {
     right: 2vw;
}

.dots {
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     justify-content: center;
}

.dot {
     height: 14px;
     width: 14px;
     margin: 0 6px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.2s;
}

.dot.active {
     background-color: #FF5A01;
     transform: scale(1.3);
}

.box-text {
     display: flex;
     flex-direction: column;
     position: absolute;
     bottom: 10%;
     left: 5vw;
     color: white;
}

.box-text .caseOnline {
     font-size: 5vw;
     font-weight: 700;
}

.box-text .caseTechnolody {
     font-size: 2vw;
     font-weight: 600;
     opacity: 0.9;
}

.boxFrame {
     transform: translateY(30px);
     transition: opacity 1s ease-out, transform 1s ease-out;
     opacity: 0;

     &.slide-in {
          opacity: 1;
          transform: translateY(0);
          transition-delay: calc(0.2s * var(--i));
     }
}