<div class="slideContainer">
     <div class="slideBox" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
          <div class="slideDetail" *ngFor="let slide of slides"
               [ngStyle]="{'background-image': 'url(' + slide.images + ')'}">
               <box-frame *ngIf="slide.id === 1"></box-frame>
               <box-frame-second *ngIf="slide.id === 2"></box-frame-second>
               <app-phoneappcom *ngIf="slide.id === 3" bgColor="transparent"></app-phoneappcom>
          </div>
     </div>

     <button class="btn btnLeft" (click)="prevSlide()">
          &#8592;
     </button>
     <button class="btn btnRight" (click)="nextSlide()">
          &#8594;
     </button>

     <div class="dots">
          <span class="dot" *ngFor="let slide of slides; let i = index" [class.active]="i === currentIndex"
               (click)="goToSlide(i)"></span>
     </div>
</div>