<div class="slider-container">
     <div class="slides" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
          <div class="slide" *ngFor="let slide of slides" [ngStyle]="{'background-image': 'url(' + slide.images + ')'}">
               <!-- app-box-frame ที่ตำแหน่งตายตัว -->
               <div class="box-container" *ngIf="slide.id === 1">
                    <box-frame [boxes]="boxes" class="box-frame"></box-frame>
               </div>
               <div *ngIf="slide.id === 2">
                    <box-frame-second></box-frame-second>
               </div>
          </div>
     </div>

     <!-- ปุ่มเลื่อน -->
     <button class="nav left" (click)="prevSlide()">&#10094;</button>
     <button class="nav right" (click)="nextSlide()">&#10095;</button>

     <!-- จุด Dot -->
     <div class="dots">
          <span class="dot" *ngFor="let slide of slides; let i = index" [class.active]="i === currentIndex"
               (click)="goToSlide(i)"></span>
     </div>
</div>