<nav class="menu-header not-copy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col col-p-unset">
                        <div class="menu-header-list-left">
                            <div class="list-detail">
                                <ul>
                                    <li class="nav-logo text-link">
                                        <div>
                                            <img src="assets/icon/logo-title.png" alt="logo" (click)="RedirectUrl('/')">
                                        </div>
                                    </li>
                                    <li class="nav-title text-link" (click)="RedirectUrl('/')">
                                        <div class="text-desktop">
                                            <!-- <div>การรับแจ้งความทางออนไลน์คดีอาชญากรรมทางเทคโนโลยี (thaipoliceonline.com)</div> -->
                                            <div>สำนักงานตำรวจแห่งชาติ</div>
                                            <div class="sub-title">ROYAL  THAI  POLICE</div>
                                        </div>
                                        <div class="text-mobile">
                                            <!-- <div>การรับแจ้งความทางออนไลน์คดีอาชญากรรมทางเทคโนโลยี (thaipoliceonline.com)</div> -->
                                            <div>สำนักงานตำรวจแห่งชาติ</div>
                                            <div class="sub-title">ROYAL  THAI  POLICE</div>
                                        </div>
                                        <!-- <div class="line"></div>
                                        <div>สำนักงานตำรวจแห่งชาติ</div> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-menu-header col-auto col-p-unset">
                        <div class="menu-header-list-right">
                            <div class="list-detail">
                                <ul>
                                    <!-- <li class="btn-menu">
                                        <div class="text-link" (click)="RedirectUrl('/news')">ประชาสัมพันธ์</div>
                                    </li> -->
                                    <li>
                                        <div style="text-align: right; font-size: 20px;text-shadow: 0px 1px 14px black;">เคยลงทะเบียนแล้ว<br>สามารถเข้าสู่ระบบได้ทันที</div>
                                    </li>
                                    <li class="btn-menu row" *ngIf="!hasSession">
                                        <div class="text-link" (click)="OnIssueOnline()"><span><img src="assets/icon/Chield_check_light.png" height="30px" alt="icon"></span> เข้าสู่ระบบ</div>
                                    </li>
                                    <!-- กรณีปิดระบบชั่วคราวต้องปิด tag ไว้ เปิดใช้ระบบเอา comment ออก แล้วปิดด้านล่างไว้ -->
                                    <!-- <li class="btn-menu" >
                                        <div class="text-link" (click)="RedirectUrl('/')">เข้าสู่ระบบ</div>
                                    </li> -->
                                    <li class="btn-menu" *ngIf="hasSession">
                                        <div class="text-link logout-text" (click)="logout()">ออกจากระบบ</div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logout-icon" *ngIf="hasSession">
                    <img class="text-link" src="assets/image/police/desktop/logout.png" alt="logout" (click)="logout()">
                </div>
            </div>

        </div>
    </div>

</nav>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>

<dx-popup class="fullscreen" [hideOnOutsideClick]="true" [width]="1000" [height]="450" [(visible)]="popupVisible" [showCloseButton]="false" [showTitle]="false"  shadingColor="rgba(0, 0, 0, 0.7)">
    <div class="row mt-4">
        <div class="col-sm-4" style=" display: flex;justify-content: center">
            <img src="assets/icon/warning-home.png" style="width:130px;height: auto;" alt="warning-home" class="img-fluid">
        </div>
        <div class="col-sm-8">
            <div class="title-popup" style="font-size: 50px;">ประชาชนที่ใช้งาน<b>ครั้งแรก</b><br>กรุณาลงทะเบียนก่อนใช้งาน</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="sub-title-popup" style="font-size: 20px;"><b>คำแนะนำ</b><br>การกรอกข้อมูลเหมาะกับอุปกรณ์คอมพิวเตอร์แบบตั้งโต๊ะ (Desktop Computer) หรือคอมพิวเตอร์แบบพกพา (Laptop/Notebook)</div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 align-items-end d-flex align-content-center" style="display: flex;justify-content: center;">
            <dx-button type="button" class="btn-block text-white" text="ตกลง" style="background-color: #06C755;border: 1px solid #079C44;
            border-radius: 5px; width: 330px;height: 60px;" (onClick)="closePopupWarning()"></dx-button>
        </div>
    </div>
</dx-popup>
