<div class="frameMain">

     <div class="boxLeft">
          <!-- ใช้ ngFor เพื่อวนลูป boxes และแสดงข้อมูลใน header -->
          <div *ngFor="let box of boxes" class="header">
               {{box.header}}
               <!-- แสดงแต่ละ box ใน content โดยแบ่งคอลัมน์ -->
               <div class="box-main">

                    <div class="boxs" style="border-right: 2px solid #FFD300;">
                         <div class="textCaseOnline">
                              {{box.textCaseOnline}}
                         </div>
                         <div class="countCaseOnline">
                              {{box.countCaseOnline}}
                         </div>
                         <div class="unitCaseOnline">
                              {{box.unitCaseOnline}}
                         </div>
                    </div>

                    <div class="boxs">
                         <div class="textCaseOnline">
                              {{box.textCaseOnline2}}
                         </div>
                         <div class="countCaseOnline">
                              {{box.countCaseOnline2}}
                         </div>
                         <div class="unitCaseOnline">
                              {{box.unitCaseOnline2}}
                         </div>
                    </div>

               </div>

               <div class="box-second" style="border-top: 2px solid #FFD300;">

                    <div class="boxs" style="border-right: 2px solid #FFD300;">
                         <div class="textWhite1">
                              {{box.reportOnline}}
                         </div>
                         <div class="textWhite2">
                              {{box.reportOnlineCount}}
                         </div>
                         <div class="textWhite3">
                              {{box.reportOnlineSubject}}
                         </div>
                    </div>

                    <div class="boxs" style="border-right: 2px solid #FFD300;">
                         <div class="textWhite1">
                              {{box.reportToThePoliceAgency}}
                         </div>
                         <div class="textWhite2">
                              {{box.reportToThePoliceAgencyCount}}
                         </div>
                         <div class="textWhite3">
                              {{box.reportToThePoliceAgencySubject}}
                         </div>
                    </div>

                    <div class="boxs" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                         <div class="textWhite1">
                              {{box.averageCase}}
                         </div>
                         <div class="textWhite2">
                              {{box.averageCaseCount}}
                         </div>
                         <div class="textWhite3">
                              {{box.averageCaseSubjectToday}}
                         </div>
                    </div>

               </div>

               <div class="box-third">
                    <div class="boxs" style="border-right: 2px solid #FFD300;">
                         <div class="textCaseOnline">
                              {{box.freezeTheAccountImmediately}}
                         </div>
                         <div class="countCaseOnline">
                              {{box.freezeTheAccountImmediatelyCount}}
                         </div>
                         <div class="unitCaseOnline">
                              {{box.freezeTheAccountImmediatelyValue}}
                         </div>
                         <div class="unitCaseOnline">
                              {{box.freezeTheAccountImmediatelyFrom}}
                         </div>
                    </div>
                    <div class="boxs">
                         <div class="textYellow1">
                              {{box.mostCommonOnlineCases}}
                         </div>
                         <div class="textWhite1 mostCases" *ngFor="let item of box.mostCases">
                              <div>
                                   {{item.case}}
                              </div>

                              <div>
                                   {{item.count}}
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <div class="boxRight">
          <label class="caseOnline m-0" style="color: #fff;">แจ้งความออนไลน์</label>
          <label class="caseTechnolody" style="color: #fff;">คดีอาชญากรรมทางเทคโนโลยี</label>
     </div>
</div>