.mobile {
     display: none;
}

.frame-desktop {
     width: 580px;
     height: 100%;
     max-width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     /* พื้นหลังกล่องที่โปร่งใส */
     border-radius: 12px;
     padding: 15px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
     position: relative;
     z-index: 1;

}

.header {
     color: #FFD300;
}

.box {
     padding: 20px 0;
     display: flex;
     justify-content: space-between;

     .box-content {
          .title-content {
               color: #ffffff;
          }

          .text-count {
               color: #FFD300;
               font-size: 36px;
               font-weight: 600;
               letter-spacing: 2px;
               margin-top: 2px;
          }

          .text-unit {
               color: #ffffff;
               font-size: 14px;
               font-weight: 600;
               letter-spacing: 1px;
               margin-top: 2px;
          }
     }
}

.box2 {
     padding: 20px 0;
     display: flex;
     justify-content: space-between;
     border-top: 1px solid #FFD300;
     border-bottom: 1px solid #FFD300;

     .box-content {

          .title-content {
               color: #ffffff;
          }

          .text-count {
               color: #FFD300;
               font-size: 32px;
               font-weight: 600;
               margin-top: 2px;
          }

          .text-count-average {
               color: #FFD300;
               font-size: 48px;
               font-weight: 600;
               margin-top: 2px;
          }

          .text-unit {
               color: #ffffff;
               font-size: 14px;
               font-weight: 600;
               letter-spacing: 1px;
               margin-top: 2px;
          }
     }
}

.box3 {
     padding: 20px 0;
     display: flex;
     justify-content: space-between;

     .box-content {
          .title-content {
               color: #ffffff;
          }

          .mostCommonOnlineCases {
               font-size: 16px;
               font-weight: 600;
               color: #FFD300;
          }

          .text-count {
               color: #FFD300;
               font-size: 42px;
               font-weight: 600;
               letter-spacing: 2px;
               margin-top: 2px;
          }

          .text-unit {
               color: #ffffff;
               font-size: 14px;
               font-weight: 600;
               letter-spacing: 1px;
               margin-top: 2px;
          }

          .mostCases {
               display: flex;
               justify-content: space-between;
               font-weight: 500;
          }
     }
}

@media screen and (max-width: 495px) {

     .frame-desktop {
          display: none;
     }

     .mobile {
          display: flex;
     }

     .frame-mobile {
          width: 100% !important;
          height: 100%;
          max-width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          /* พื้นหลังกล่องที่โปร่งใส */
          border-radius: 12px;
          padding: 15px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          position: relative;
          z-index: 1;

          .header {
               display: flex;
               justify-content: center !important;
          }

          .titleMobile {
               color: #ffffff;
               font-size: 3.5vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .countMobile {
               color: #FFD300;
               font-size: 7vw;
               font-weight: 800;
               letter-spacing: 1px;
               margin: 2px 0px;
          }

          .unitMobile {
               color: #ffffff;
               font-size: 3vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .titleFreeze {
               color: #ffffff;
               font-size: 3.5vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .countFreeze {
               color: #FFD300;
               font-size: 7vw;
               font-weight: 800;
               letter-spacing: 1px;
               margin: 2px 0px;
          }

          .textFreeze {
               color: #ffffff;
               font-size: 3vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .box-center {

               display: flex;
               justify-content: center;
               flex-direction: column;
               align-items: center;

          }

          .mostCommonOnlineCases {
               font-size: 4vw;
               font-weight: 600;
               color: #FFD300;
          }

          .mostCases {
               font-size: 3vw;
               font-weight: 500;
               color: #ffffff;
               display: flex;
               justify-content: space-between;
          }
     }

}

@media screen and (max-width: 575px){
     .frame-desktop {
          display: none;
     }

     .mobile {
          display: flex;
          margin: 0 20px;
     }

     .frame-mobile {
          width: 100% !important;
          height: 100%;
          max-width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          /* พื้นหลังกล่องที่โปร่งใส */
          border-radius: 12px;
          padding: 15px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          position: relative;
          z-index: 1;

          .header {
               font-size: 3vw;
               font-weight: 600;
               display: flex;
               justify-content: center !important;
          }

          .titleMobile {
               color: #ffffff;
               font-size: 3vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .countMobile {
               color: #FFD300;
               font-size: 6vw;
               font-weight: 800;
               letter-spacing: 1px;
               margin: 2px 0px;
          }

          .unitMobile {
               color: #ffffff;
               font-size: 2.5vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .titleFreeze {
               color: #ffffff;
               font-size: 3vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .countFreeze {
               color: #FFD300;
               font-size: 7vw;
               font-weight: 800;
               letter-spacing: 1px;
               margin: 2px 0px;
          }

          .textFreeze {
               color: #ffffff;
               font-size: 2.5vw;
               font-weight: 500;
               letter-spacing: 1px;
               margin: 2px 0px
          }

          .box-center {

               display: flex;
               justify-content: center;
               flex-direction: column;
               align-items: center;

          }

          .mostCommonOnlineCases {
               font-size: 3vw;
               font-weight: 600;
               color: #FFD300;
          }

          .mostCases {
               font-size: 2.5vw;
               font-weight: 500;
               color: #ffffff;
               display: flex;
               justify-content: space-between;
          }
     }

}