<section class="ftco-section mt_100">
    <div class="form-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h3 class="text-uppercase system-head">ระบบบริหารจัดการคดีอาชญากรรมทางเทคโนโลยี </h3>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="card">
                        <div class="contens-header text-center">
                            <h3><i class="fa fa-lock fa-3x"></i></h3>
                            <h3 class="text-center">ลืมรหัสผ่าน?</h3>
                            <p>คุณสามารถเปลี่ยนรหัสผ่านของคุณได้ที่นี่.</p>
                        </div>
                        <div class="card-body">
                            <form id="forgot-password-form" role="form" autocomplete="off" class="form">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text icon-span"><i
                                                    class="fa fa-envelope"></i></span>
                                        </div>
                                        <input #email id="email" name="USER_EMAIL" placeholder="กรอกอีเมลผู้ใช้งาน"
                                            class="form-control" type="email" (keyup.enter)="onForget(email.value)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="ส่งอีเมล" type="submit" (Click)="onForget(email.value)"> -->
                                    <dx-button class="btn btn-primary btn-block btn-forget-pass"
                                        (onClick)="onForget(email.value)"><i class="fa fa-paper-plane"></i> ส่งอีเมล
                                    </dx-button>
                                </div>
                            </form>
                            <div class="d-sm-flex mb-5 align-items-center">
                                <a class="ml-auto login" (click)="login()"><i class="fa fa-sign-in"></i> เข้าสู่ระบบ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>
