<div class="block-content-detail not-copy">
    <div class="container-fluid">
        <div class="row section1">
            <div class="col-xl-6 col-sm-12 left-content">
                <div class="block-title-1">
                    <div class="title">แจ้งความออนไลน์</div>
                    <div class="sub-title">คดีอาชญากรรมทางเทคโนโลยี</div>
                </div>
                <div class="block-box-content-left mt-1 mb-4">
                    <div class="box-detail box1" (click)="OnIssueOnline()">
                        <div class="box-item">
                            <div class="item">
                                <img src="assets/icon/File_dock_light.png" alt="icon">
                            </div>
                            <div class="item title title1"><b>แจ้งความ</b> เฉพาะคดีอาชญากรรมทางเทคโนโลยี</div>
                        </div>
                    </div>
                </div>
                <div class="block-box-content-left">
                    <div class="box-detail box2">
                        <div class="box-item" (click)="OpenManual()">
                            <div class="item">
                                <img src="assets/icon/Order_light.png" alt="icon">
                            </div>
                            <div class="item title title1">คู่มือการใช้งานระบบแจ้งความออนไลน์</div>
                        </div>
                        <!-- <div class="box-item">
                            <div class="item">
                                <img src="assets/icon/Question_light.png" alt="icon">
                            </div>
                            <div class="item title title2">คดีอาชญากรรมทางเทคโนโลยีคืออะไร</div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12 right-content">
                <div class="block-title-2">
                    <div class="title">บริการอื่นๆ</div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box1 text-center">
                        <div class="block-box">
                            <div class="box-detail" (click)="TelLink('tel:1441')">
                                <div class="box-item">
                                    <div class="item col-12">
                                        <img src="assets/icon/TeI-icon.png" alt="icon">
                                    </div>
                                    <div class="item">
                                        <div class="title">โทร <span style="font-size: 25px; font-weight: bold">1441</span> บช.สอท.</div>
                                        <div class="text-detail">บริการ 24 ชั่วโมง</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box2 text-center">
                        <div class="block-box">
                            <div class="box-detail" (click)="TelLink('tel:081-866-3000')">
                                <div class="box-item">
                                    <div class="item col-12">
                                        <img src="assets/icon/TeI-icon.png" alt="icon">
                                    </div>
                                    <div class="item">
                                        <div class="title">โทร. 081 866 3000</div>
                                        <div class="text-detail">ศูนย์ PCT</div>
                                        <div class="text-detail">บริการ 24 ชั่วโมง</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box3 text-center">
                        <div class="block-box">
                            <div class="box-detail" (click)="TelLink('tel:081-866-3000')">
                                <div class="box-item">
                                    <div class="item col-12">
                                        <img src="assets/icon/358726.jpg" alt="line">
                                    </div>
                                    <div class="item">
                                        <div class="text-detail">@police1441</div>
                                        <div class="text-detail">Line Chat</div>
                                        <div class="text-detail">แชทบอทให้คำปรึกษาคดี</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box4 text-center">
                        <div class="block-box">
                            <div class="box-detail" (click)="RedirectExternal('https://m.me/mysisbot')">
                                <div class="box-item">
                                    <div class="item col-12">
                                        <img src="assets/icon/chat-icon.png" alt="icon">
                                    </div>
                                    <div class="item mt-4">
                                        <div class="text-detail">Chat บอทให้คำปรึกษา</div>
                                        <div class="text-detail">ความรุนแรงในครอบครัว</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box5 text-center">
                        <div class="block-box">
                            <div class="box-detail" (click)="RedirectExternal('https://www.facebook.com/PCTPOLICE')">
                                <div class="box-item">
                                    <div class="item col-12">
                                        <img src="assets/icon/facebook-icon.png" alt="icon">
                                    </div>
                                    <div class="item mt-2">
                                        <div class="text-detail">Facebook PCT Police</div>
                                        <div class="text-detail">ข้อมูล/ปรึกษา/แนะนำ/</div>
                                        <div class="text-detail">แจ้งเบาะแส</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box6 text-center">
                        <div class="block-box">
                            <div class="box-detail" (click)="RedirectExternal('https://24hicarecenter.com/cybervaccinated')">
                                <div class="box-item">
                                    <div class="item col-12">
                                        <img src="assets/icon/completed-icon.png" alt="icon">
                                    </div>
                                    <div class="item mt-4">
                                        <div class="text-detail">ข้อมูลประชาสัมพันธ์ <br>และเตือนภัย</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-2 block-box-content-right box6 text-center">
                        <div class="block-box ext">
                            <div class="box-detail" (click)="RedirectExternal('https://www.chaladohn.com/')">
                                <div class="box-item">
                                    <div class="item ext col-12">
                                        <img src="assets/icon/logo_CHO1.png" alt="icon">
                                    </div>
                                    <div class="item mt-4">
                                        <div class="text-detail">ฉลาดโอน<br>ตรวจสอบบัญชีก่อนโอนเงิน</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-box-login col-12" *ngIf="!hasSession">
            <div class="box-login-detail" (click)="OnIssueOnline()">เข้าสู่ระบบ</div>
        </div>
        <div class="row section2">
            <div class="block-title">
                <div class="title"><b>ท่านสามารถแจ้งธนาคารเพื่ออายัดธุรกรรม</b></div>
                <div class="sub-title">โดยธนาคารจะดำเนินการประสานธนาคารที่เกี่ยวข้องเพื่อติดตามทรัพย์สิน โดยธนาคารจะให้ Bank Case ID ท่านสามารถนำมาแจ้งผ่านระบบ เพื่อดำเนินการต่อไป</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2888-8888')">
                        <div class="col-4">
                            <img src="assets/icon/kbank.png" alt="kbank" class="img-fluid rounded mx-auto d-block">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารกสิกรไทย</div>
                            <div class="text-detail">0-2888-8888 กด 001</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2111-1111')">
                        <div class="col-4">
                            <img src="assets/icon/ktb.png" alt="ktb" class="img-fluid rounded mx-auto d-block  ">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารกรุงไทย</div>
                            <div class="text-detail">0-2111-1111 กด 108</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1 p-3 d-flex item-box-bank h-100" (click)="TelLink('tel:1572')">
                        <div class="col-4">
                            <img src="assets/icon/bay.png" alt="bay" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารกรุงศรีอยุธยา</div>
                            <div class="text-detail">1572 กด 5</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2645-5555')">
                        <div class="col-4">
                            <img src="assets/icon/bbl.png" alt="bbl" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารกรุงเทพ</div>
                            <div class="text-detail">1333 หรือ </div>
                            <div class="text-detail">0-2645-5555 กด * 3</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank " (click)="TelLink('tel:0-2777-7575')">
                        <div class="col-4">
                            <img src="assets/icon/scb.png" alt="scb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารไทยพาณิชย์</div>
                            <div class="text-detail">0-2777-7575</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:1428')">
                        <div class="col-4">
                            <img src="assets/icon/ttb.png" alt="ttb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารทหารไทยธนชาต</div>
                            <div class="text-detail">1428 กด 03</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank " (click)="TelLink('tel:1115')">
                        <div class="col-4 ">
                            <img src="assets/icon/gsb.png" alt="gsb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารออมสิน</div>
                            <div class="text-detail">1115 กด 6</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2626-7777')">
                        <div class="col-4">
                            <img src="assets/icon/cimb.png" alt="cimb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารซีไอเอ็มบี ไทย</div>
                            <div class="text-detail">0-2626-7777 กด 12</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank " (click)="TelLink('tel:0-2697-5454')">
                        <div class="col-4">
                            <img src="assets/icon/tcrb.png" alt="tcrb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารไทยเครดิต</div>
                            <div class="text-detail">0-2697-5454</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2459-0000')">
                        <div class="col-4">
                            <img src="assets/icon/lhb.png" alt="lhb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารแลนด์ แอนด์ เฮ้าส์</div>
                            <div class="text-detail">0-2459-0000 กด 8</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank " (click)="TelLink('tel:0-2645-9000')">
                        <div class="col-4">
                            <img src="assets/icon/ghb.png" alt="ghb" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารอาคารสงเคราะห์</div>
                            <div class="text-detail">0-2645-9000 กด 33</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2555-0555')">
                        <div class="col-4">
                            <img src="assets/icon/baac.png" alt="baac" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารเพื่อการเกษตร</div>
                            <div class="text-detail">และสหกรณ์การเกษตร</div>
                            <div class="text-detail">0-2555-0555 กด * 3</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank " (click)="TelLink('tel:0-2344-9555')">
                        <div class="col-4">
                            <img src="assets/icon/uob.png" alt="uob" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารยูโอบี</div>
                            <div class="text-detail">0-2344-9555</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2344-9555')">
                        <div class="col-4">
                            <img src="assets/icon/citi.png" alt="citi" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารซิตี้แบงค์</div>
                            <div class="text-detail">0-2344-9555</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank " (click)="TelLink('tel:0-2165-5555')">
                        <div class="col-4">
                            <img src="assets/icon/kk.png" alt="kk" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารเกียรตินาคินภัทร</div>
                            <div class="text-detail">0-2165-5555 กด 6</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2633-6000')">
                        <div class="col-4">
                            <img src="assets/icon/tisco.png" alt="tisco" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารทิสโก้</div>
                            <div class="text-detail">0-2633-6000 กด * 7</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2629-5588')">
                        <div class="col-4">
                            <img src="assets/icon/icbc.png" alt="icbc" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารไอซีบีซี(ไทย)</div>
                            <div class="text-detail">0 2629 5588 กด 4</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:1302')">
                        <div class="col-4">
                            <img src="assets/icon/ibank.png" alt="ibank" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารอิสลามแห่งประเทศไทย</div>
                            <div class="text-detail">1302 กด 6</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:1240')">
                        <div class="col-4">
                            <img src="assets/icon/true.png" alt="true" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ทรูมันนี่</div>
                            <div class="text-detail">1240 กด 6</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2026-3000')">
                        <div class="col-4">
                            <img src="assets/icon/2C2P.png" alt="2C2P" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ทูซีทูพี(ประเทศไทย)</div>
                            <div class="text-detail">0 2026 3000 กด 0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2078-9299')">
                        <div class="col-4">
                            <img src="assets/icon/mpay.png" alt="mpay" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">แอดวานซ์ เอ็มเปย์</div>
                            <div class="text-detail">0 2078 9299 กด 1</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:0-2633-6000')">
                        <div class="col-4">
                            <img src="assets/icon/tmc.jpg" alt="tmc" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">ธนาคารไทยไมโคร ดิจิทัล โซลูชั่นส์</div>
                            <div class="text-detail">0 2697 5353 กด 0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 box-bank mt-2">
                    <div class="row m-1  p-3 d-flex h-100 item-box-bank" (click)="TelLink('tel:1614')">
                        <div class="col-4">
                            <img src="assets/icon/max.jpg" alt="max" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="text-detail">แมกซ์ การ์ด</div>
                            <div class="text-detail">1614 กด 4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- POPUP -->
<dx-popup class="popup attactment" [width]="1000" [height]="700" [showTitle]="false" title="แจ้งเตือนปรับปรุงระบบ" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="showpopupweb" [showCloseButton]="false">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view [showScrollbar]="'always'" style="height: calc(100% - 45px);background-color: #2D437C;">
            <div style=" display: flex;justify-content: center">
                <img src="assets/icon/warning-home.png" style="width:100px;height: 100px;" alt="warning-home" class="img-fluid">
            </div>
            <div style="text-align: center;margin: 20px;">
                <h3 style="color: #fff;">ระบบบริหารจัดการคดีอาชญากรรมทางเทคโนโลยี</h3>
                <h1 style="color: #fff;">แจ้งเตือนปรับปรุงระบบชั่วคราว</h1>

            </div>

            <div style=" text-align: center; margin-top: 2%; background-color: #2D437C; padding: 2%;">
                <h4 style="color: #fff;">เนื่องจากในวันเสาร์ที่ 14 ตุลาคม 2566 <br>เวลา 00.00 - 08.00 น. <br>จะมีการปิดปรับปรุงระบบรับแจ้งความออนไลน์ (www.thaipoliceonline.com) <br>ตามช่วงเวลาดังกล่าว ขออภัยในความไม่สะดวก</h4>
                <!-- <h2 style="background-color: #fff;padding:2%;"><b>ขณะนี้ท่านสามารถใช้งานระบบได้ตามปกติ</b></h2> -->
            </div>
        </dx-scroll-view>
        <!-- <div class="text-right btn-dx">
            <button class="btn btn-cancle" (click)="closepopup()">ปิด</button>&nbsp;
        </div> -->
    </div>
</dx-popup>