:host {
    .block-content-detail {
        padding-bottom: 30px;
        .section1{
            background: #4e9dff1c;
            padding-bottom: 50px;
            .left-content{
                margin-top: 100px;
                display: grid;
                justify-content: center;
            }
            .right-content{
                margin-top: 20px;
                .row{
                    display: flex;
                    justify-content: center;
                }
            }
            .block-title-1 {
                .title {
                    font-size: 82px;
                    color: #ffffff;
                    font-weight: normal;
                    text-shadow: 2px 2px 14px #454545;
                }
                .sub-title {
                    font-size: 48px;
                    color: #ffffff;
                    font-weight: normal;
                    margin-top: -25px;
                    text-shadow: 2px 2px 14px #454545;
                }
                .sub-title2 {
                    font-size: 18px;
                    color: #ffffff;
                    font-weight: normal;
                }
            }
            .block-title-2 {
                .title {
                    // margin-left: 60px;
                    text-shadow: 2px 2px 14px #454545;
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: bold;
                }
            }
            .block-box-content-left {
                .box-detail {
                    cursor: pointer;
                    box-sizing: border-box;
                    &.box1 {
                        display: flex;
                        justify-content: center;
                        background-color: #ff5a01;
                        border: 1px solid #E6A98C;
                        // width: 485px;
                        border-radius: 5px;
                        &:hover {
                            background-color: #e1530e;
                        }
                    }
                    &.box2{
                        .title {
                            text-shadow: 2px 2px 18px black;
                        }
                    }
                    .box-item {
                        display: table-row;
                        .item {
                            display: table-cell;
                            height: 80px;
                            margin: 0;
                            vertical-align: middle;
                            padding: 0 0 0 15px;
                            &.title {
                                font-size: 25px;
                                color: #ffffff;
                                .text-detail {
                                    font-size: 20px;
                                }
                            }
                            img {
                                width: 40px;
                            }
                        }
                    }
                }
            }
            .block-box-content-right {
                padding-left: 5px;
                padding-right: 5px;
                height: 220px;
                // display: grid;
                // align-content: center;
                // justify-content: center;
                .block-box {
                    &.ext {
                        padding-top: 60px !important;
                    }
                    padding-top: 35px;
                    background: rgb(0 0 0 / 49%);
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    .box-detail {
                        cursor: pointer;
                        .box-item {
                            .item {
                                &.ext{
                                    img {
                                        width: 160px;
                                    }
                                }
                                .title {
                                    margin-top: 5px;
                                    justify-content: center;
                                    font-size: 23px;
                                    color: #ffffff;
                                    text-shadow: 0px 1px 7px black;
                                }
                                .text-detail {
                                    display: grid;
                                    justify-content: center;
                                    font-size: 20px;
                                    color: #ffffff;
                                    text-shadow: 0px 1px 7px black;
                                }
                                img {
                                    width: 70px;
                                }
                            }
                        }
                    }
                }
            }
            // .box4 , .box5{
            //     background: rgb(0 0 0 / 49%);
            // }
            // .box6{
            //     background: rgb(0 0 0 / 49%);
            // }
        }
        .block-header{
            padding: 30px 20px;
            background-color: #ff6228;
            color: #ffffff;
            font-size: 2vw;
            font-weight: 600;
        }
        .section2{
            background: #ffffff;
            .block-title{
                padding: 30px 20px;
                color: #0B2652;
                font-size: 35px;
                .sub-title{
                    font-size: 21px;
                    font-weight: 600;
                }
            }
            .box-bank{
                cursor: pointer;
                .item-box-bank{
                    align-content: center;
                    align-items: center;
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }
        .block-box-login {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 20px;
            // .box-login-detail {
            //     cursor: pointer;
            //     height: 50px;
            //     border-radius: 4px;
            //     width: 100%;
            //     font-size: 22px;
            //     color: #ffffff;
            //     background-color: #dd5f22;
            //     border: 1px solid #010b16;
            //     padding-top: 8px;
            //     text-align: center;
            //     &:hover {
            //         background-color: #e1530e;
            //     }
            // }
            .text-link{
                cursor: pointer;
                color: #000000;
                padding: 10px;
                padding-left: 25px;
                padding-right: 40px;
                background: #ffcd57;
                border-radius: 5px;
                box-sizing: border-box;
                font-size: 25px;
            }
        }
    }
    @media screen and (max-width: 1500px) {
        .block-box-content-right {
            .item {
                &.ext{
                    img {
                        width: 100px !important;
                    }
                }
                .title {
                    font-size: 21px !important;
                }
                .text-detail {
                    font-size: 18px !important;
                }
            }
        }
    }
    @media screen and (max-width: 1250px) {
        .block-box-content-right {
            .item {
                &.ext{
                    img {
                        width: 100px !important;
                    }
                }
                .title {
                    font-size: 23px !important;
                }
                .text-detail {
                    font-size: 13px !important;
                }
            }
        }
    }

    @media screen and (max-width: 840px) {
        .block-header{
            font-size: 3vw !important;
        }
        .block-content-detail {
            margin: 50px;
        }
    }
    @media screen and (max-width: 500px) {
        .block-header{
            font-size: 5vw !important;
        }
    }
    @media screen and (min-width: 1299px) {
        .block-box-login {
            display: none;
        }
        .col-sm-3 {
            max-width: 100% !important;
        }
    }
    @media screen and (max-width: 620px) {
        .block-content-detail {
            margin: 30px;
            .block-title {
                .title {
                    font-size: 26px;
                }
                .sub-title {
                    font-size: 16px;
                }
            }
        }
        .custometitlelink{
            width: 42%;
            // background-color: #fff;
            margin-top: 1%;
            margin-left: 28%;
            text-align: center;
            padding: 1%;
            border-radius: 5px;
            color: #fff;
        }

        .customlink{
            position: inherit;
            top: 2%;
            left: 0%;

        }
        .block-box-login{
            margin-top: 15%;
        }
        .omb_login .omb_socialButtons .omb_btn-facebookcustom {
            background: #1972e6;
            width: fit-content;
            margin-top: 12px;
            padding-right: 0px;
        }

        .facebook-img{
            margin-left: 32%;
        }
    }
    @media screen and (max-width: 585px) {
        .block-content-detail {
            margin: 20px;
            .block-title {
                .title {
                    font-size: 26px !important;
                }
                .sub-title {
                    font-size: 16px !important;
                }
                &.title2 {
                    padding: 20px 0 5px 2px;
                }
            }
        }
        .block-box {
            .box-detail {
                width: 100% !important;
                .box-item {
                    .item {
                        margin-top: 20px;
                        &.ext {
                            img {
                                width: 160px !important;
                            }
                        }
                        &.title {
                            font-size: 20px !important;
                            .text-detail {
                                font-size: 14px !important;
                            }
                        }
                        img {
                            width: 35px !important;
                        }
                    }
                    .item.cybercheck {
                        margin-top: 0px;
                        img {
                            height: 60vw !important;
                            width: auto !important;
                        }
                    }
                }
            }
        }
        .custometitlelink{
            width: 42%;
            // background-color: #fff;
            margin-top: 1%;
            margin-left: 28%;
            text-align: center;
            padding: 1%;
            border-radius: 5px;
            color: #fff;
        }


        .customlink{
            position: inherit;
            top: 2%;
            left: 0%;

        }
        .block-box-login{
            margin-top: 15%;
        }
        .omb_login .omb_socialButtons .omb_btn-facebookcustom {
            background: #1972e6;
            width: fit-content;
            margin-top: 12px;
            padding-right: 0px;
        }
        .facebook-img{
            margin-left: 32%;
        }
    }
    @media screen and (max-width: 575px) {
        .col-sm-3 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        .content-position {
            width: 100% !important;
        }
        .qr-img img {
            object-fit: cover;
            width: 150px !important;
            height: 150px !important;
            display: none;
            margin: 0 auto;
        }
        .line-img img {
            object-fit: cover;
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }
        .facebook-img img {
            object-fit: cover;
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }

        .custometitlelink{
            width: 42%;
            // background-color: #fff;
            margin-top: 1%;
            margin-left: 28%;
            text-align: center;
            padding: 1%;
            border-radius: 5px;
            color: #fff;
        }


        .customlink{
            position: inherit;
            top: 2%;
            left: 0%;

        }
        .block-box-login{
            margin-top: 15%;
        }
        .omb_login .omb_socialButtons .omb_btn-facebookcustom {
            background: #1972e6;
            width: fit-content;
            margin-top: 12px;
            padding-right: 0px;
        }
        .facebook-img{
            margin-left: 32%;
        }
    }
    @media screen and (max-width: 412px) {
        .block-box {
            .box-detail {
                .box-item {
                    .item {
                        &.title {
                            .title3 {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .custometitlelink{
            width: 42%;
            // background-color: #fff;
            margin-top: 1%;
            margin-left: 28%;
            text-align: center;
            padding: 1%;
            border-radius: 5px;
            color: #fff;
        }


        .customlink{
            position: inherit;
            top: 2%;
            left: 0%;

        }
        .block-box-login{
            margin-top: 15%;
        }
        .omb_login .omb_socialButtons .omb_btn-facebookcustom {
            background: #1972e6;
            width: fit-content;
            margin-top: 12px;
            padding-right: 0px;
        }
        .facebook-img{
            margin-left: 32%;
        }
    }
    @media screen and (max-width: 360px) {
        .block-box {
            .box-detail {
                .box-item {
                    .item {
                        &.title {
                            .title3 {
                                font-size: 14px;
                            }
                            .text-detail {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .custometitlelink{
            width: 42%;
            // background-color: #fff;
            margin-top: 1%;
            margin-left: 28%;
            text-align: center;
            padding: 1%;
            border-radius: 5px;
            color: #fff;
        }


        .customlink{
            position: inherit;
            top: 2%;
            left: 0%;

        }
        .omb_login .omb_socialButtons .omb_btn-facebookcustom {
            background: #1972e6;
            width: fit-content;
            margin-top: 12px;
            padding-right: 0px;
        }
        .block-box-login{
            margin-top: 15%;
        }
        .facebook-img{
            margin-left: 32%;
        }
    }
    @media screen and (max-width: 335px) {
        .block-title.title2 {
            padding: 20px 0 5px 2px !important;
        }
        .block-box {
            .box-detail {
                height: 55px !important;
                .box-item {
                    .item {
                        height: 55px !important;
                        &.title {
                            .title2 {
                                font-size: 14px;
                            }
                            .title3 {
                                font-size: 14px;
                            }
                            .text-detail {
                                display: none !important;
                            }
                        }
                        img {
                            width: 25px !important;
                        }
                    }
                }
            }
        }

        .custometitlelink{
            width: 42%;
            // background-color: #fff;
            margin-top: 1%;
            margin-left: 28%;
            text-align: center;
            padding: 1%;
            border-radius: 5px;
            color: #fff;
        }


        .customlink{
            position: inherit;
            top: 2%;
            left: 0%;

        }
        .omb_login .omb_socialButtons .omb_btn-facebookcustom {
            background: #1972e6;
            width: fit-content;
            margin-top: 12px;
            padding-right: 0px;
        }
        .block-box-login{
            margin-top: 15%;
        }

        .facebook-img{
            margin-left: 32%;
        }
    }
    .not-copy {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
}

@media (min-width: 576px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        // margin-left: 13%;
    }
    .content-position {
        justify-content: center;
    }

    .custometitlelink{
        width: 42%;
        // background-color: #fff;
        margin-top: 1%;
        margin-left: 28%;
        text-align: center;
        // padding: 1%;
        border-radius: 5px;
        color: #fff;
    }
    .omb_login .omb_socialButtons .omb_btn-facebookcustom {
        background: #1972e6;
        width: fit-content;
        margin-top: 12px;
        // padding-right: 0px;
    }
    .facebook-img{
        // margin-left: 32%;
    }
    // .customlink{
    //     position: inherit;
    //     top: 2%;
    //     left: 0%;

    // }
}

.omb_login .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
    opacity: 0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #1972e6;
    // height: 100%;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
    background: #2ece06;
}

.omb_login .omb_socialButtons .omb_btn-mysisbot {
    background: #fff;
    // height: 100%;
}
.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}


.omb_login .omb_socialButtons .omb_btn-mysisbotcustom {
    // background: #fff;
    width: fit-content;
    // height: 100%;
}
.omb_login .omb_socialButtons .omb_btn-mysisbotdes {
    // background: #fff;
    width: fit-content;
    margin-top: 0px;
    padding-top: 0px;
    // height: 100%;
}

.omb_login .omb_socialButtons .omb_btn-facebookcustom {
    background: #1972e6;
    width: fit-content;
    margin-top:12px;
    // height: 100%;
}

.omb_login .omb_socialButtons .omb_btn-facebookdes {
    // background: #1972e6;
    width: fit-content;
    color:#fff;
    padding-left: 5px;
    padding-top: 0px;
    // height: 100%;
}
.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    // width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    // width: 2em;
}

.omb_login .omb_loginForm .help-block {
    color: red;
}

.custometitlelink{
    width: 15%;
    // background-color: #fff;
    margin-top: 1%;
    margin-left: 9%;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    color: #fff;
}

.customlink{
    position: inherit;
    right: 10%;
    top: 13%;
}

.icon-bank .box-bank :hover{
    -webkit-filter: brightness(90%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}


.icon-bank .box-bank {
    width: 100%;
}
// .icon-bank .box-bank hr{
//     margin-right: 10%;
// }
@media (min-width: 1900px) {
    /* For desktop: */
    .icon-bank .col-xxl-1 {width: 8.33% !important;}
    .icon-bank .col-xxl-2 {width: 16.66%!important;}
    .icon-bank .col-xxl-3 {width: 25%!important;}
    .icon-bank .col-xxl-4 {width: 33.33%!important;}
    .icon-bank .col-xxl-5 {width: 41.66%!important;}
    .icon-bank .col-xxl-6 {width: 50%!important;}
    .icon-bank .col-xxl-7 {width: 58.33%!important;}
    .icon-bank .col-xxl-8 {width: 66.66%!important;}
    .icon-bank .col-xxl-9 {width: 75%!important;}
    .icon-bank .col-xxl-10 {width: 83.33%!important;}
    .icon-bank .col-xxl-11 {width: 91.66%!important;}
    .icon-bank .col-xxl-12 {width: 100%!important;}

    .icon-bank .box-bank hr{
        margin-right: 10%;
    }
    .icon-bank .box-bank .item-box-bank{
        border: #eee 1px solid;
        border-radius: 5px;
        &:hover{
            background-color: #eee;
        }
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 1200px) and (max-width: 1899.98px) {
    /* For desktop: */
    .icon-bank .col-l-1 {width: 8.33% !important;}
    .icon-bank .col-l-2 {width: 16.66%!important;}
    .icon-bank .col-l-3 {width: 25%!important;}
    .icon-bank .col-l-4 {width: 33.33%!important;}
    .icon-bank .col-l-5 {width: 41.66%!important;}
    .icon-bank .col-l-6 {width: 50%!important;}
    .icon-bank .col-l-7 {width: 58.33%!important;}
    .icon-bank .col-l-8 {width: 66.66%!important;}
    .icon-bank .col-l-9 {width: 75%!important;}
    .icon-bank .col-l-10 {width: 83.33%!important;}
    .icon-bank .col-l-11 {width: 91.66%!important;}
    .icon-bank .col-l-12 {width: 100%!important;}

    .icon-bank .box-bank hr{
        margin-right: 10%;
    }

    .icon-bank .box-bank .item-box-bank{
        border: #eee 1px solid;
        border-radius: 5px;
        &:hover{
            background-color: #eee;
        }
    }

}

