<div class="freeze-container">
    <header class="freeze-header">
        <h2 class="freeze-title">แจ้งอายัดบัญชีด้วยตัวเอง</h2>
        <div class="freeze-controls">
            <button class="sort-button" (click)="sortBanksList()">เรียงจาก <span><img src="assets/icon/arrowupdown.svg"
                        alt="arrowupdown" class="sorticon"></span></button>
            <div class="input-container">
                <input type="text" placeholder="ค้นหารายการที่ต้องการ" class="search-input"
                    (input)="searchBanksList($event)">
                <img src="assets/icon/search.svg" alt="search" class="icon-search">
            </div>
        </div>
    </header>

    <div class="freeze-form">
        <div class="freeze-content">
            <div class="bank-list">
                <div class="bank-item fade-animation" *ngFor="let bank of paginatedBanks[currentPage]">
                    <img [src]="bank.ImageUrl" [alt]="bank.ContactBankName" class="bank-logo">
                    <div class="bank-details">
                        <h4>{{ bank.ContactBankName }}</h4>
                        <p>{{ bank.ContactDescription }}</p>
                    </div>
                    <a [href]="'tel:' + bank.ContactBankPhone" class="call-button">
                        <img src="assets/icon/callringing.svg" alt="call" class="call-icon">
                    </a>
                </div>
            </div>

            <!-- แสดง Pagination เฉพาะเมื่อมีมากกว่า 1 หน้า -->
            <footer class="pagination-controls" *ngIf="paginatedBanks.length > 1">
                <div class="dot-controls">
                    <span *ngFor="let page of paginatedBanks; let i = index" class="dot"
                        [class.active]="i === currentPage" (click)="navigateToPage(i)">
                    </span>
                </div>
                <div class="button-controls">
                    <button class="prev-button" (click)="prevPage()" [disabled]="currentPage === 0">&larr;</button>
                    <button class="next-button" (click)="nextPage()"
                        [disabled]="currentPage === paginatedBanks.length - 1">
                        &rarr;
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>