<div class="block-content-detail not-copy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="block-title-box">
                    <div class="title-th">การรับแจ้งความทางออนไลน์คดีอาชญากรรมทางเทคโนโลยี</div>
                    <div class="title-th">สำนักงานตำรวจแห่งชาติ</div>
                </div>
            </div>
            <div class="col-12">
                <div class="block-while-box">
                    <div class="block-icon">
                        <div class="text-foget-pass">เปลี่ยนรหัสผ่าน</div>
                        <div class="text-detail-foget-pass">คุณสามารถเปลี่ยนหัสผ่านของคุณได้ที่นี่</div>
                    </div>
                    <div class="form">
                        <form id="forgot-password-form" role="form" autocomplete="off">
                            <div class="new-pass">
                                <label for="inputPassword5" class="form-label">รหัสผ่านใหม่:<span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text icon-span"><i
                                                class="fa fa-user-lock color-blue"></i></span>
                                    </div>
                                    <input #password type="password" id="inputPassword5" name="USER_PASSWORD" class="form-control" placeholder="กรอกรหัสผ่านใหม่">
                                </div>
                            </div>
                            <div class="confirm-new-pass">
                                <label for="inputPassword5" class="form-label text-left">ยืนยันรหัสผ่านใหม่:<span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text icon-span"><i
                                                class="fa fa-user-lock color-blue"></i></span>
                                    </div>
                                    <input #password_again type="password" id="inputPassword5" name="USER_PASSWORD_AGAIN" class="form-control" placeholder="กรอกยืนยันรหัสผ่านใหม่">
                                </div>
                            </div>
                            <div class="block-reset-pass">
                                <dx-button class="btns-send-reset-pass" text="เปลี่ยนรหัสผ่าน" (onClick)="onSubmit(password.value, password_again.value)">
                                </dx-button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>