<div class="scrollSecurity">
     <div class="boxSecurity">

          <div class="headerBox">
               <label class="header" for="">บริการเสริมความปลอดภัย</label>
               <div class="scrollBtnContainer">
                    <div class="left" (mousedown)="onMouseDown($event, 'left')" (click)="scrollLeftSmoothly()">
                         &#8592;
                    </div>

                    <div class="right" (mousedown)="onMouseDown($event, 'right')" (click)="scrollRight()">
                         &#8594;
                    </div>
               </div>
          </div>


          <div class="contentSecurity" #contentSecurity (scroll)="onScroll($event)">
               <div *ngFor="let item of detailSecurity">
                    <div class="boxContent" (click)="onSwitchService(item.ServiceId)" *ngIf="item.ServiceSeq < 4">
                         <img [src]="item.ImageUrl" class="imageNews">
                         <label class="descSecurity">{{ item.ServiceDescription }}</label>
                    </div>

                    <div class="boxContentRow" (click)="onSwitchService(item.ServiceId)" *ngIf="item.ServiceSeq >= 4">
                         <img [src]="item.ImageUrl" class="imageNews">
                         <label class="descSecurity">{{ item.ServiceDescription }}</label>
                    </div>
               </div>
          </div>

          <div class="progressContainer">
               <div class="progressBar" [style.width.%]="scrollProgress"></div>
          </div>
     </div>
</div>