.scroll-container {
     background-color: #fff;
     display: flex;
     overflow-x: auto;
     overflow: hidden;
     height: 100vh;
     width: 100vw;
     cursor: grab;
     scroll-behavior: smooth;

     &.active {
          cursor: grabbing;
     }

     .background-container {
          display: flex;
          flex-direction: row;
          flex: 0 0 auto;
          width: 200vw;
          height: 100%;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;
          /* เพื่อให้ content อยู่เหนือภาพ */
     }

     .box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          position: relative;
          /* ทำให้ content อยู่เหนือ background */
          z-index: 10;
          /* ให้ content อยู่เหนือ background */
     }

     .content {
          position: absolute;
          top: 35%;
          left: 2%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .text-main,
          .text-second,
          .text-third {
               letter-spacing: 0.5px;
          }

          .text-main {
               font-size: 1.5vw;
               font-weight: 600;
               color: #ff5a01;
               margin: 0;
          }

          .text-second {
               font-size: 3vw;
               font-weight: 700;
               color: #273880;
               margin: 0;
          }

          .text-third {
               font-size: 1vw;
               font-weight: 600;
               color: #000000;
               margin: 0;
          }
     }

     .protected-cyber {
          position: relative;
          top: 0vw;
          left: 40vw;

          img {
               width: 15vw;
               height: 15vw;
               object-fit: contain;
          }

          .odd-number,
          .even-number {
               display: flex;
               flex-direction: column;
               margin: 0vw 3vw;
          }

          .title-cyber {
               font-size: 1.3vw;
               font-weight: 600;
               color: #273880;
          }

          .description-cyber {
               font-size: .9vw;
               font-weight: 500;
               color: #000000;
               overflow: overlay;
               white-space: break-spaces;
               width: 260px;
          }
     }
}