<div class="block-content-detail not-copy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="block-title-box">
                    <div class="title-th">การรับแจ้งความทางออนไลน์คดีอาชญากรรมทางเทคโนโลยี</div>
                    <div class="title-th">สำนักงานตำรวจแห่งชาติ</div>
                    <!-- <div style="color: #fff;display: flex;justify-content: center;"><p>live on azure</p></div> -->
                </div>
            </div>
            <div class="col-12">
                <div class="block-while-box">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="username">เบอร์โทรศัพท์หรืออีเมล</label>
                            <input #username type="text" class="form-control" placeholder="กรุณากรอกเบอร์โทรศัพท์หรืออีเมลของท่าน" id="username" (keyup.enter)="Login(username.value,password.value)">
                        </div>
                        <div class="form-group">
                            <label for="password">รหัสผ่าน</label>
                            <input #password type="password" class="form-control" placeholder="กรุณากรอกรหัสผ่าน" id="password" (keyup.enter)="Login(username.value,password.value)">
                        </div>
                        <div class="block-forget-password text-right">
                            <span class="text-link" (click)="SelectForget()">ลืมรหัสผ่าน?</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="block-login">
                                    <dx-button class="btns-login" icon="assets/image/police/desktop/logout.png" text="เข้าสู่ระบบ" (onClick)="Login(username.value,password.value)"></dx-button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="block-login">
                                    <dx-button class="btns-login"   (onClick)="loginThaiID()" style="background-color: #030751;">เข้าสู่ระบบด้วย <img class="img-thaId" src="assets/icon/ThaID.png"/></dx-button>
                                </div>
                            </div>
                        </div>
                      
                   

                        <div class="block-line">
                            <div class="draw-line">
                                <span class="text-line">หรือ</span>
                            </div>
                        </div>
                        <div class="block-register">
                            <dx-button class="btns-register" text="คลิกเพื่อลงทะเบียน" (onClick)="SelectRegister()"></dx-button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-12 mt-2 mb-5">
                <div class="block-while-box-2">
                    <div class="bank-item fade-animation ">
                        <img src="assets/icon/ThaID.png" alt="ThaId" class="bank-logo">
                        <div class="bank-details">
                            <h4>ยืนยันตัวตนปลอดภัย ด้วย ThaID ลงทะเบียนได้ทุกที่ ไม่ต้องเดินทาง<br>
                                เข้าถึงบริการออนไลน์ของตำรวจได้สะดวก</h4>
                            <p>สำนักงานตำรวจแห่งชาติ ขอเชิญประชาชนลงทะเบียนใช้งาน Thai Police Online (www.thaipoliceonline.go.th) <br>
                                ผ่านแอป ThaID เพื่อเข้าถึงบริการออนไลน์ของตำรวจได้ง่ายขึ้น</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>


<dx-popup [width]="1200" [height]="600" [showTitle]="true" title="แจ้งเตือนจากระบบ" [closeOnOutsideClick]="true" [showCloseButton]="true" [visible]="true" [(visible)]="popupConsentVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div class="row">
                <div class="col-sm-12 customtext text-center">
                    <h4>ท่านเคยแจ้งความออนไลน์ไว้แล้วหรือไม่ กรณีต้องการเพิ่มเติมข้อมูล </h4>
                    <h4></h4>
                    <br>
                    <h4>ให้แก้ไขเพิ่มเติมใน case id เดิมของท่าน</h4>
                </div>
                <!-- <div class="col-sm-12 customtext text-left" style="margin-bottom:1rem;">
                    <dx-form id="form" [formData]="submission">
                        <dxi-item itemType="group" [colSpan]="3">
                            <div class="dx-field"></div>
                            <div class="dx-field-value">
                                <dx-radio-group [items]="ways" valueExpr="id" displayExpr="text"
                                    [(value)]="submission.ways" layout="horizontal"
                                    (onValueChanged)="onWaysValueChanged($event)">
                                </dx-radio-group>
                            </div>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="3">
                            <div class="dx-field">
                                <div class="dx-field-label" *ngIf="_isShow">ได้รับเลขอ้างอิงจากธนาคารแล้ว : </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="submission.FREEZE_ACT_BANK_TRACK_NO" [maxLength]="20"
                                        [showClearButton]="true" placeholder="กรุณาระบุ"
                                        [(visible)]="_isShow"></dx-text-box>
                                </div>
                            </div>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="3">
                            <div class="dx-field">
                                <div class="dx-field-label" *ngIf="_isShow">ติดต่อธนาคาร : </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="submission.FREEZE_ACT_BANK_NAME" [showClearButton]="true"
                                        [maxLength]="200" placeholder="กรุณาระบุ" [(visible)]="_isShow"></dx-text-box>
                                </div>
                            </div>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="3">
                            <div class="dx-field">
                                <div class="dx-field-label" *ngIf="_isShow">ทางช่องทางได : </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="submission.FREEZE_ACT_WAYS" [showClearButton]="true"
                                        [maxLength]="200" placeholder="กรุณาระบุ" [(visible)]="_isShow"></dx-text-box>
                                </div>
                            </div>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="3">
                            <div class="dx-field">
                                <div class="dx-field-label" *ngIf="_isShow">เมื่อวันที่ : </div>
                                <div class="dx-field-value">
                                    <dx-date-box [(value)]="submission.FREEZE_ACT_DATE" type="date"
                                        [showClearButton]="true" placeholder="กรุณาเลือก" [(visible)]="_isShow">
                                    </dx-date-box>
                                </div>
                            </div>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="3">
                            <div class="dx-field">
                                <div class="dx-field-label" *ngIf="_isShow">เวลา : </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="submission.FREEZE_ACT_TIME" [showClearButton]="true"
                                        [maxLength]="200" placeholder="กรุณาระบุ" [(visible)]="_isShow"></dx-text-box>
                                </div>
                            </div>
                        </dxi-item>
                    </dx-form> -->
                <div class="col-sm-12  text-center d-flex justify-content-center py-3" style="margin-top: 1rem;">
                    <img src="assets/icon/264235.jpg" class="img-fluid" max-width="600" height="auto">
                </div>
                <!-- </div> -->
                <!-- <br> -->
                <div class="col-sm-12 customtext text-center" style="margin-bottom:1rem;">
                    <dxi-item itemType="group" [colSpan]="3">
                        <dx-button stylingMode="contained" text="ลงทะเบียน" type="default" [width]="120" (onClick)="onSkip($event)">
                        </dx-button>
                        &nbsp;&nbsp;
                        <dx-button stylingMode="contained" text="ข้ามขั้นตอน" type="default" [width]="120" (onClick)="onSkip($event)">
                        </dx-button>
                    </dxi-item>
                </div>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup [fullScreen]="isfullScreen" class="popup attactment" [width]="1000" [height]="700" [showTitle]="false" title="แจ้งเตือน" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="showpopupweb" [showCloseButton]="true">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view [showScrollbar]="'always'" style="height: calc(100% - 45px);background-color: #2D437C;">
            <div class="mt-5" style="display: flex;justify-content: center">
                <img src="assets/icon/warning-home.png" style="width:100px;height: 100px;" alt="warning-home" class="img-fluid">
            </div>
            <div style="text-align: center;margin: 20px;">
                <h3 style="color: #fff;">ระบบรับแจ้งความออนไลน์</h3>
                <h1 class="mt-1" style="color: #fff;"><b style="background: linear-gradient(to right, red 0%, red 100%);
                    background-size: 100% 5px;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    padding-bottom: 20px;
                ">แจ้งปิดปรับปรุงระบบ</b></h1>
            </div>
            <div style=" text-align: center; margin-top: 1%; background-color: #2D437C;  padding: 1% 2% 1% 2%;">
                <h4 class="mt-1" style="color: #fff;line-height: 40px;">
                    เนื่องจากระบบอยู่ระหว่างการปรับปรุง จึงขออภัยในความไม่สะดวก <br>
                    <!-- ขอให้เจ้าหน้าที่ทุกท่านรอสักครู่ และขอบคุณที่ให้ความร่วมมือ -->
                </h4>
            </div>
        </dx-scroll-view>
        <div class="text-right btn-dx">
            <!-- <button class="btn btn-cancle" (click)="closepopup()">ปิด</button>&nbsp; -->
        </div>
    </div>
</dx-popup>