.icon-information-edit {
    cursor: pointer;
}

.icon-information-edit-img {
    vertical-align: middle;
    width: 30px;
}

.icon-information-edit-img:hover {
    opacity: 0.75;
    transform: scale(1.5);
}