<footer class="footer-block">
    <div class="container-fluid">
        <div class="row align-items-center d-flex justify-content-between">
            <div class="col-12 col-md-8 block-left">
                <div class="container-logo">
                    <img src="assets/icon/Emblem_of_Royal_Thai_Police 1.png" alt="logo">
                    <img src="assets/icon/Cyber-White.png" alt="logo">
                </div>
                <div class="container-text">
                    <span class="text-main">สำนักงานตำรวจแห่งชาติ</span>
                    <span class="text-main">กองบัญชาการตำรวจสืบสวนสอบสวนอาชญากรรมทางเทคโนโลยี</span>
                    <div class="d-flex flex-row align-items-center">
                        <img src="assets/icon/location-05.png" alt="logo" width="20">
                        <div class="d-flex flex-column mx-2 my-2">
                            <span class="text-second">
                                อาคารเฉลิมพระเกียรติสมเด็จพระบรมโอรสาธิราชฯ สยามมกุฎราชกุมารพระชนมพรรษา 60 พรรษา
                            </span>
                            <span class="text-second">
                                ชั้น 6 เมืองทองธานี ถนนป๊อปปูล่า ตำบลบ้านใหม่ อำเภอปากเกร็ด จังหวัดนนทบุรี
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <img src="assets/icon/telephone.png" alt="logo" width="20">
                        <div class="d-flex flex-column mx-2 my-2">
                            <span class="text-second">
                                ติดต่อหน่วยงาน 0 2504 4850 l จันทร์ - ศุกร์ : 08:30 - 16:30
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-column mx-2 mt-5">
                            <span class="text-second">
                                © สงวนลิขสิทธิ์ 2566 <b>สำนักงานตำรวจแห่งชาติ</b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 block-right text-md-start text-left">
                <span class="text-footer">
                    สายด่วน 1441
                </span>
                <div class="d-flex flex-column">
                    <span class="text-social">ติดตามโซเซียมิเดีย</span>
                    <div class="d-flex flex-row">
                        <img src="assets/icon/facebook.png" alt="logo" class="mx-1" width="30">
                        <!-- <img src="assets/icon/instagram.png" alt="logo" class="mx-1" width="30">
                        <img src="assets/icon/tiktok.png" alt="logo" class="mx-1" width="30"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>