<div class="footer-block">
     <div class="container-fluid">
         <div class="row">
             <div class="col-12 col-sm-8 block-left">
                 <span class="text-footer">© สงวนลิขสิทธิ์ 2566 <b>สำนักงานตำรวจแห่งชาติ</b></span>
             </div>
             <div class="col-12 col-sm-4  block-right">
                 <span class="text-footer"> <span style="color: #F3CE7A;">สายด่วน :</span> 1441 </span>
                 <!-- <span class="text-footer"> <span style="color: #F3CE7A;">ปรึกษา-ขอคำแนะนำ :</span> 081 866 3000</span> -->
             </div>
         </div>
     </div>
 </div>