<footer class="footer-block">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 block-left">
                <span class="text-footer">© สงวนลิขสิทธิ์ 2566 <b>สำนักงานตำรวจแห่งชาติ</b></span>
            </div>
            <div class="col-12 col-md-4 block-right text-md-end text-center">
                <span class="text-footer">
                    <span class="highlight-text">สายด่วน :</span> 1441
                </span>
            </div>
        </div>
    </div>
</footer>