/* Footer */
.footer-block {
    background-color: #002855;
    /* สีพื้นหลัง */
    color: #ffffff;
    /* สีข้อความ */
    padding: 15px 0;
    /* ระยะห่างภายใน */
    font-size: 14px;
    /* ขนาดข้อความ */
    line-height: 1.5;
    /* ความสูงของบรรทัด */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    /* เพิ่มเงาด้านบน */
    width: 100%;
    /* เต็มความกว้าง */
    position: relative;

    z-index: 0;
    /* ให้ติดล่างสุด */
}

/* ไฮไลต์ข้อความ */
.highlight-text {
    color: #F3CE7A;
    font-weight: bold;
}

.block-left,
.block-right {
    padding: 0vw 6vw;
    /* ระยะห่างซ้าย-ขวา */
}

.block-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-right {
    text-align: right;
    /* จัดข้อความชิดขวา */
}

.container-text {
    display: flex;
    flex-direction: column;


    .text-main {
        font-size: 1.4vw;
        margin: 0px 10px;
    }
}

.text-footer{
    font-size: 2vw;
    font-weight: 600;
}

.container-logo {
    position: relative;
    bottom: 80px;
    img {
        width: 4vw;
    }
}

.text-social {
    font-size: 1vw;
    margin: 10px 0px;
}

::ng-deep .text-link {
    cursor: pointer;
}

@media (max-width: 576px) {

    .block-left,
    .block-right {
        text-align: center;
        /* จัดข้อความให้อยู่ตรงกลางในหน้าจอเล็ก */
    }
}