<div class="desktop-sidebar" [ngClass]="SidebarSize()">
    <div *ngIf="isDrawerOpen" class="menu-header text-link mb-4 not-copy" (click)="GoUrl()">
        <div class="logo">
            <img class="full" src="assets/image/police/desktop/logo-full.png" alt="logo">
        </div>
        <div class="text title">ระบบรับแจ้งความออนไลน์</div>
        <!-- <div class="text title">คดีอาชญากรรมทางเทคโนโลยี</div>
        <div class="text">Cyber Crime Case Management System</div> -->
    </div>
    <div *ngIf="!isDrawerOpen" class="menu-header mini text-link not-copy" (click)="GoUrl()">
        <div class="logo">
            <img class="mini" src="assets/image/police/desktop/logo-mini.png" alt="logo">
        </div>
        <div class="text title">PCT</div>
    </div>
    <!-- <div *ngIf="isDrawerOpen" class="menu-search">
        <dx-text-box placeholder="Search..."></dx-text-box>
    </div> -->
    <div class="div-banner">
        <div style="margin-top: 10px;">
            <div class="text-center" style="color:#2E4765!important;display: block;">
                <span style="font-weight: bold;
                font-size: 14px;">เวอร์ชั่น {{versionControl}}</span>
            </div>
        </div>
    </div>
    <div class="menu-content mt-4 not-copy" [ngClass]="SidebarSize()">
        <dx-tree-view [dataSource]="listMneu" dataStructure="plain" parentIdExpr="parentId" keyExpr="id" selectionMode="single" [focusStateEnabled]="false" expandEvent="click" (onItemClick)="SelectMenu($event)" itemTemplate="menuList" [expandAllEnabled]="true"
            id="gridHeight">

            <div *dxTemplate="let item of 'menuList'">
                <i class="dx-icon {{item.icon}}"></i>
                <span class="menu-text">{{item.text}}</span>
                <!-- <span class="badge badge-warning notify-text">200</span> -->
            </div>
        </dx-tree-view>
    </div>
    <div *ngIf="isDrawerOpenReload && !isDrawerOpen" class="menu-open" (click)="DrawerMenu()">
        <div class="icon">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
    </div>
    <div *ngIf="isDrawerOpenReload && isDrawerOpen" class="menu-close" (click)="DrawerMenu()">
        <div class="icon">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
    </div>
</div>
