<div id="police-index-page">
     <header-re-design></header-re-design>
     <div class="block-content">
          <div class="news-container">
               <div class="newsHeader">
                    <div class="breadcrumbs">หน้าแรก > ข่าวประชาสัมพันธ์และ เตือนภัยไซเบอร์</div>
                    <label class="titleNews">ข่าวประชาสัมพันธ์และเตือนภัยไซเบอร์</label>
               </div>

               <div class="tabs-container">
                    <!-- Tabs Header -->
                    <div class="tabs-header">
                         <button class="tab-label" [class.active]="activeTab === 'all'"
                              (click)="selectTab('all')">ทั้งหมด</button>
                         <button class="tab-label" [class.active]="activeTab === 1"
                              (click)="selectTab(1)">ข่าวประชาสัมพันธ์</button>
                         <button class="tab-label" [class.active]="activeTab === 2"
                              (click)="selectTab(2)">เตือนภัยไซเบอร์</button>
                         <button class="tab-label" [class.active]="activeTab === 3"
                              (click)="selectTab(3)">กลโกงออนไลน์</button>
                    </div>

                    <!-- Tabs Content -->
                    <div class="tab-content" *ngIf="activeTab === 'all'">
                         <section class="newsCard">
                              <div class="newsItem fade-animation" *ngFor="let news of newsData">
                                   <img [src]="news.ImageUrl" [alt]="news.NewsTitle" class="newsImage">
                                   <div class="newsDetails">
                                        <label class="newsCategory">{{ news.CategoryName }}</label>
                                        <label class="newsTitle">{{ news.NewsTitle }}</label>
                                        <label class="newsDescription">{{ news.NewsDescription }}</label>
                                        <div class="newsDate">
                                             <img src="assets/icon/calendar.png" alt="calendar" class="calendar-icon">
                                             <label style="margin-bottom: 0;">{{ news.CreateDate | thaiDate}}</label>
                                        </div>
                                   </div>
                              </div>
                         </section>
                    </div>
                    <div class="tab-content" *ngIf="activeTab === 1">
                         <section class="newsCard">
                              <div class="newsItem fade-animation" *ngFor="let news of news1">
                                   <img [src]="news.ImageUrl" [alt]="news.NewsTitle" class="newsImage">
                                   <div class="newsDetails">
                                        <label class="newsCategory">{{ news.CategoryName }}</label>
                                        <label class="newsTitle">{{ news.NewsTitle }}</label>
                                        <label class="newsDescription">{{ news.NewsDescription }}</label>
                                        <div class="newsDate">
                                             <img src="assets/icon/calendar.png" alt="calendar" class="calendar-icon">
                                             <label>{{ news.CreateDate }}</label>
                                        </div>
                                   </div>
                              </div>
                         </section>
                    </div>
                    <div class="tab-content" *ngIf="activeTab === 2">
                         <section class="newsCard">
                              <div class="newsItem fade-animation" *ngFor="let news of news2">
                                   <img [src]="news.ImageUrl" [alt]="news.NewsTitle" class="newsImage">
                                   <div class="newsDetails">
                                        <label class="newsCategory">{{ news.CategoryName }}</label>
                                        <label class="newsTitle">{{ news.NewsTitle }}</label>
                                        <label class="newsDescription">{{ news.NewsDescription }}</label>
                                        <div class="newsDate">
                                             <img src="assets/icon/calendar.png" alt="calendar" class="calendar-icon">
                                             <label>{{ news.CreateDate }}</label>
                                        </div>
                                   </div>
                              </div>
                         </section>
                    </div>
                    <div class="tab-content" *ngIf="activeTab === 3">
                         <section class="newsCard">
                              <div class="newsItem fade-animation" *ngFor="let news of news3">
                                   <img [src]="news.ImageUrl" [alt]="news.NewsTitle" class="newsImage">
                                   <div class="newsDetails">
                                        <label class="newsCategory">{{ news.CategoryName }}</label>
                                        <label class="newsTitle">{{ news.NewsTitle }}</label>
                                        <label class="newsDescription">{{ news.NewsDescription }}</label>
                                        <div class="newsDate">
                                             <img src="assets/icon/calendar.png" alt="calendar" class="calendar-icon">
                                             <label>{{ news.CreateDate }}</label>
                                        </div>
                                   </div>
                              </div>
                         </section>
                    </div>
               </div>

               <!-- <div class="view-more">
                    <button>ดูข่าวเพิ่มเติม</button>
               </div> -->
          </div>
     </div>
     <button class="to-top-btn" (click)="scrollToTop()">&#8679;</button>
</div>
<footer-re-design></footer-re-design>