<div id="police-index-page">
  <header-re-design></header-re-design>
  <div class="block-content">
    <div class="qa-container">
      <div class="qa-header">
        <div class="breadcrumbs">
          <span style="color: #343434; cursor: pointer;" (click)="ToMain()">หน้าแรก</span> <span style="color: #FF5A01;">&gt;
            คำถามที่พบบ่อย</span>
        </div>
        <h1>คำถามที่พบบ่อย</h1>
      </div>
      <hr class="qa-divider">
      <div class="qa-content">
        <div class="qa-nav-list">
          <div class="input-container">
            <input type="text" placeholder="ค้นหารายการที่ต้องการ" class="search-input" (keyup)="searchFaqList($event)">
            <img src="assets/icon/search.svg" alt="search" class="icon-search">
          </div>
          <div *ngFor="let faqs of faq">
            <label (click)="scrollTo(faqs.FAQ_ID)" [class.active]="activeFaq === faqs.FAQ_ID">{{ faqs.FAQ_QUESTION }}</label>
          </div>
        </div>
        <div class="qa-content-main">
          <section class="qa-item">
            <div *ngFor="let faqs of faq" [id]="'faq-' + faqs.FAQ_ID" [class.active]="faqs.FAQ_ID === activeFaq">
              <p class="qa-pointtext">คำถาม</p>
              <header class="qa-header-sec">{{ faqs.FAQ_QUESTION }}</header>
              <p class="qa-pointtext">คำตอบ</p>
              <!-- <p>คุณสามารถลงทะเบียนเข้าสู่ระบบได้ 2 ช่องทางดังนี้:</p> -->
              <div class="qa-channel">
                <div class="qa-channel-item">
                  <!-- <div class="qa-channel-number">{{faqs.FAQ_SEQ}}</div> -->
                  <p>{{ faqs.FAQ_ANSWER }}
                  </p>
                  
                </div>
                <!-- <div class="qa-channel-item">
                <div class="qa-channel-number">2</div>
                <p>ผ่านระบบ ThaiD: ใช้บริการลงทะเบียนผ่าน ThaiD เพื่อการยืนยันตัวตนที่ปลอดภัยและรวดเร็ว</p>
              </div> -->
              </div>
              <hr class="qa-divider">
            </div>
            <!-- <p><strong>เลือกช่องทางที่สะดวกสำหรับคุณเพื่อเริ่มต้นใช้งาน!</strong></p> -->
            <!-- <button class="regisbtn" (click)="openLink('/login')">ลงทะเบียนที่นี่</button> -->
          </section>

          <!-- <section class="qa-item">
            <p class="qa-pointtext">คำถาม</p>
            <header class="qa-header-sec">เมื่อตกเป็นเหยื่อต้องดำเนินอย่างไร?</header>
            <p class="qa-pointtext">คำตอบ</p>
            <p>หากคุณตกเป็นเหยื่อของการฉ้อโกงหรือการแฮกข้อมูล ให้ดำเนินการดังนี้เพื่อป้องกันความเสียหายเพิ่มเติมและ
              แก้ไขสถานการณ์:</p>
              <div class="qa-channel">
                <div class="qa-channel-wrapper">
                    <div class="qa-channel-item">
                        <div class="qa-channel-number">1</div>
                        <p>ตั้งสติ: ให้หยุดคิดและพยายามควบคุมสติ เพื่อประเมินสถานการณ์ว่าคุณอาจเสียหายอะไรบ้าง และตัดสินใจ
                            ดำเนินการในขั้นตอนต่อไปอย่างรอบคอบ</p>
                    </div>
            
                    <div class="qa-channel-item">
                        <div class="qa-channel-number">2</div>
                        <p>ติดต่อธนาคารเพื่อขออายัดบัญชี: หากการฉ้อโกงเกี่ยวข้องกับบัญชีธนาคารหรือบัตรเครดิต ให้รีบติดต่อ
                            ธนาคารที่เกี่ยวข้องทันที เพื่อขออายัดบัญชีหรือบัตร และป้องกันการสูญเสียเงินเพิ่มเติม
                           <br> <span class="c-text" [routerLink]="['/']" fragment="requestFreeze">ติดต่อธนาคารของท่านได้ที่นี่</span>
                        </p>
                    </div>
            
                    <div class="qa-channel-item">
                        <div class="qa-channel-number">3</div>
                        <p>ติดต่อสายด่วน 1441 หรือหน่วยงานที่เกี่ยวข้อง: สายด่วนศูนย์รับเรื่องร้องเรียน 1441 สามารถช่วยคุณใน
                            การให้คำปรึกษาและช่วยประสานงานไปยังหน่วยงานที่เกี่ยวข้อง</p>
                    </div>
            
                    <div class="qa-channel-item">
                        <div class="qa-channel-number">4</div>
                        <p>เข้าแจ้งความออนไลน์: หากไม่สะดวกเดินทางไปสถานีตำรวจ คุณสามารถใช้บริการแจ้งความออนไลน์
                            ผ่านลิงก์ด้านล่างเพื่อให้มีหลักฐานทางกฎหมายที่สามารถใช้ติดตามคดีได้</p>
                    </div>
            
                    <div class="qa-channel-item">
                        <div class="qa-channel-number">5</div>
                        <p>ติดตามผลการแจ้งความ: หลังจากแจ้งความแล้วคุณสามารถตรวจสอบสถานะหรือผลการดำเนินการ
                            ของคดีผ่านช่องทางด้านล่างเพื่อให้แน่ใจว่าคดีของคุณได้รับการดูแลและดำเนินการอย่างเหมาะสม</p>
                    </div>
                </div>
            </div>
            <p><strong>เลือกช่องทางการดำเนินการ</strong></p>
            <div class="button-control">
              <button class="regisbtn"(click)="TelLink('tel:1441')">สายด่วน 1441</button>
              <button class="jbtn" (click)="OnIssueOnline()">แจ้งความออนไลน์</button> 
              <button class="cbtn">ติดต่อทางศูนย์ให้คำปรึกษา</button>
            </div> 
          </section> -->
        </div>
      </div>
    </div>
    <button class="to-top-btn" (click)="scrollToTop()">&#8679;</button>

  </div>
</div>
<footer-re-design></footer-re-design>