// to-top-btn
.to-top-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #ff5a01;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* ซ่อนปุ่มไว้ก่อน */
}

.to-top-btn.show {
    display: block; /* แสดงปุ่มเมื่อมีการเลื่อนลง */
    z-index: 9999;
}