:host {
    .text-bank-tranfer-title {
        padding-left: 3px;
    }
    .text-break {
        white-space: normal;
    }
    .text-download {
        cursor: pointer;
        color: #333a71;
        text-decoration: underline;
    }
    .text-download:hover {
        opacity: 0.75;
    }
    #block-multi-view {
        .tab-title {
            font-size: 18px;
            color: #2f2b66;
        }
        ::ng-deep {
            .dx-icon.fa.fa-plus {
                color: #fff !important;
            }
            .conten-block {
                margin-top: 5px;
                .content-title {
                    text-align: left;
                    padding: 0px 0 20px 0;
                    // margin-bottom: -35px;
                    // font-size: 18px;
                    // color: #2f2b66;
                    // font-weight: bold;
                }
                // .content-end-line {
                //     margin: auto;
                //     width: 95%;
                //     border-bottom: 1px solid #dddddd;
                //     margin-top: 40px;
                // }
                ::ng-deep .dx-button-mode-contained {
                    background-color: #fff;
                    border-color: #414141;
                    color: #020202;
                }

                ::ng-deep .dx-button {
                    border-radius: 3px;
                    border-width: 2px;
                    border-style: solid;
                }
            }
        }
        .block-damage-type {
            margin: 20px 0 0 0;
            .title {
                font-size: 18px;
                font-weight: bold;
                padding: 0 0 10px 0;
            }
            .block {
                padding: 17px 10px 10px 10px;
                min-height: 100px;
                border-radius: 8px;
                // ::ng-deep{
                //     .dx-checkbox-checked .dx-checkbox-icon::before{
                //     }
                // }
            }
            .left {
                background: #eaf6ff;
                margin: 10px;
            }
            .right {
                background: #fff4db;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        .block-damage-type-title {
            margin: 20px 0 0 0;
            .title {
                font-size: 18px;
                font-weight: bold;
                padding: 0 0 10px 10px;
            }
            .block {
                padding: 17px 10px 10px 10px;
                min-height: 50px;
                border-radius: 8px;
                // ::ng-deep{
                //     .dx-checkbox-checked .dx-checkbox-icon::before{
                //     }
                // }
            }
            .left {
                background: #374784;
                color: #ffffff;
            }
        }
        .block-detail-damage {
            margin: 15px 0 15px 0;
            ::ng-deep {
                #table-block {
                    margin-top: 10px;
                    .item-add-data {
                        text-align: right;
                        .btn-add-data {
                            width: 188px;
                            height: 36px;
                            border-radius: 6px;
                            background: #477bee;
                            color: #ffffff;
                        }
                        .btn-add-data:hover {
                            opacity: 0.75;
                        }
                    }
                    .dx-datagrid .dx-datagrid-headers {
                        display: none;
                    }
                    .dx-datagrid-borders .dx-datagrid-rowsview,
                    .dx-datagrid-headers + .dx-datagrid-rowsview {
                        border: unset;
                    }
                    .dx-datagrid-pager {
                        border: unset;
                    }
                    .card {
                        margin-top: 20px;
                        border: 1px solid #c4c4c4 !important;
                    }
                    .card-header.block-other {
                        height: 110px;
                    }
                    .card-header {
                        padding: 0;
                        background-color: #f6f7f9;
                        color: #000000;
                        display: inline-block;
                        min-height: 85px;
                        width: 100%;
                        // border: 1px solid #c4c4c4;
                        .block {
                            display: inline-block;
                        }
                        .block-center {
                            padding-top: 14px;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            .block-number {
                                position: absolute;
                                width: 36px;
                                height: 36px;
                                border-radius: 36px;
                                background-color: #2f2b66;
                                padding-top: 1px;
                                text-align: center;
                                left: 20px;
                                // top: 0;
                                margin: 0;
                                top: 50%;
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                span {
                                    font-size: 26px;
                                    color: #ffffff;
                                }
                            }
                            .block-centent {
                                margin: 0 0 0 75px;
                                .text-title {
                                    font-size: 15px;
                                }
                                .text-detail-block {
                                    font-size: 16px;
                                    margin-top: 5px;
                                    .text {
                                        display: inline-block;
                                    }
                                    .text-center {
                                        margin-left: 33px;
                                    }
                                    .title {
                                        color: #2f2b66;
                                        font-weight: bold;
                                    }
                                    .detail {
                                        padding-left: 5px;
                                    }
                                }
                            }
                            .block-icon-right-edit {
                                // position: absolute;
                                width: 36px;
                                height: 36px;
                                // border-radius: 36px;
                                // background-color: #2f2b66;
                                padding-top: 1px;
                                text-align: center;
                                right: 5px;
                                // top: 0;
                                margin: 0;
                                top: 50%;
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                img {
                                    width: 36px;
                                    height: 36px;
                                    // font-size: 26px;
                                    // color: #ffffff;
                                }
                            }
                            .block-icon-right-del {
                                // position: absolute;
                                width: 36px;
                                height: 36px;
                                // border-radius: 36px;
                                // background-color: #2f2b66;
                                padding-top: 1px;
                                text-align: center;
                                right: 65px;
                                // top: 0;
                                margin: 0;
                                top: 50%;
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                img {
                                    width: 36px;
                                    height: 36px;
                                    // font-size: 26px;
                                    // color: #ffffff;
                                }
                            }
                            .block-icon-right {
                                position: absolute;
                                width: 36px;
                                height: 36px;
                                border-radius: 36px;
                                background-color: #2f2b66;
                                padding-top: 1px;
                                text-align: center;
                                right: 20px;
                                // top: 0;
                                margin: 0;
                                top: 50%;
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                span {
                                    font-size: 26px;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                    .block-table-item {
                        margin-top: 15px;
                        .dx-datagrid .dx-datagrid-headers {
                            display: unset;
                        }
                        .dx-datagrid .dx-row-alt > td,
                        .dx-datagrid .dx-row-alt > tr > td {
                            background-color: unset;
                        }
                        .dx-datagrid-table
                            .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused)
                            > td:not(.dx-focused) {
                            background-color: unset;
                        }
                        .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
                        .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td,
                        .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
                        .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
                            background-color: unset;
                        }
                        .dx-button {
                            border: unset !important;
                        }
                    }
                }
                .add-data {
                    text-align: right;
                    margin-top: 20px;
                    margin-bottom: -10px;
                    .btn-add-data {
                        width: 123px;
                        height: 44px;
                        border-radius: 6px;
                        background: #ffd84f;
                        color: #000000;
                    }
                    .btn-add-data:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
        .user-case-myself {
            padding: 12px;
            height: 140px;
            border-radius: 8px;
            background: linear-gradient(97.57deg, #ff4e4e 0%, #f3c830 100%);
        }
        .user-case-other-user {
            padding: 12px;
            height: 140px;
            border-radius: 8px;
            background: linear-gradient(97.57deg, #509fde 0%, #708bed 100%);
        }
        .user-case-block {
            margin-top: 20px;
            position: relative;
            .text-title {
                color: #ffffff;
                font-size: 20px;
                font-weight: bold;
            }
            .text {
                color: #ffffff;
                font-size: 14px;
                padding-top: 5px;
            }
            .left-block {
                position: absolute;
                width: 90px;
                bottom: 17px;
                right: 15px;
            }
            .right-block {
                position: absolute;
                width: 88px;
                bottom: 20px;
                right: 14px;
            }
        }
        .user-case-block.right {
            padding-left: 15px;
        }
        .user-case {
        }
        .padding-left-block {
            padding-left: 33px;
        }
        .not-copy {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .block-click {
            cursor: pointer;
        }
        .block-click:hover {
            opacity: 0.75;
        }
    }
    .list-samary-damage {
        text-align: right;
        font-size: 18px;
        color: #374784;
        .samary-damage {
            padding: 12px 5px 12px 5px;
            width: 98%;
            margin: auto;
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
        }
    }
    .list-samary-damage-all {
        margin: 10px 0 10px 0;
        float: right;
        font-size: 18px;
        color: #374784;
        .samary-damage {
            min-width: 300px;
            padding: 12px 20px 12px 20px;
            border-radius: 8px;
            width: auto;
            background-color: #fffae9;
        }
    }
    .block-btn-footer {
        margin-top: 110px !important;
    }
}

// ::ng-deep .dx-popup-wrapper   {
//     .st-villain-bg {
//         padding: 0 1rem ;
//         background-color: #337ab785!important;
//     }
//     .st-villain-bg-first {
//         padding: 1rem 1rem 0 ;
//         background-color: #337ab785;
//     }
//     .st-villain-bg-last {
//         padding: 0 1rem 1rem ;
//         background-color: #337ab785;
//     }

//     .st-sufferer-bg{
//         padding:  0 1rem;
//         background-color: #f5626729;
//     }
//     .st-sufferer-bg-first {
//         padding: 1rem 1rem 0 ;
//         background-color: #f5626729;
//     }
//     .st-sufferer-bg-last {
//         padding: 0 1rem 1rem ;
//         background-color: #f5626729;
//     }
// }

#popup-add-damage {
    .text-break {
        white-space: normal;
    }
    .text-download {
        cursor: pointer;
        color: #333a71;
        text-decoration: underline;
    }
    .text-download:hover {
        opacity: 0.75;
    }
    .text-head {
        font-size: 16px;
        padding: 10px 0 10px 0;
    }
    .block-dropzone {
        // width: 95%;
        // margin: 0 auto;
        .dropzone {
            display: table;
            width: 100%;
            height: 160px;
            background: #ffffff;
            // border: 2px dashed #DBDBDB;
            border: 2px dashed #2f2b66;
            border-radius: 6px;
            text-align: center;
            padding-top: 55px;
            .dropzone-text {
                position: relative;
                img {
                    position: absolute;
                    top: -2px;
                    height: 16px;
                    left: -24px;
                }
            }
        }
    }
    .block-uploaded-file {
        .block-file {
            border: 2px dashed #e4e4e4;
            // border: 2px dashed #2F2B66;
            border-radius: 8px;
            .icon-file {
                width: 30px;
            }
            .nopading {
                padding: 0;
            }
            .block-remove-file {
                padding: 0 0 0 15px;
            }
            .detail-center {
                padding: 0 0 0 9px;
            }
        }
        .block-file > .row {
            margin: 6px;
        }
    }
    .text-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    .centered {
        font-family: sans-serif;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }
    .btn-upload {
        background-color: #65a3e0 !important;
        box-shadow: 0 14px 26px -12px rgb(206 206 206 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%),
            0 8px 10px -5px rgb(218 218 218 / 20%) !important;
    }
    .btn-upload:hover {
        opacity: 0.8;
        background-color: #65a3e0 !important;
        box-shadow: 0 14px 26px -12px rgb(206 206 206 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%),
            0 8px 10px -5px rgb(218 218 218 / 20%) !important;
    }
    ::ng-deep {
        .title-att-file {
            margin: 20px 0px 20px 0px;
            .dx-field-item-content-location-right {
                margin-left: 5px !important;
            }
            .dx-field-item-label-text {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
    .remove-img-list {
        cursor: pointer;
        width: 16px;
        height: 16px;
        padding-right: 22px;
    }
    .remove-img-list:hover {
        opacity: 0.8;
    }
    .table-doc {
        margin-top: 30px;
        .table-add-item {
            margin: 20px 0 0 0;
            padding: 20px;
            border: 2px dashed #dbdbdb;
            border-radius: 8px;
            .btn-submit-item {
                text-align: right;
            }
            .text-link {
                cursor: pointer;
                color: #333a71;
                text-decoration: underline;
            }
            .text-link:hover {
                opacity: 0.75;
            }
        }
    }
    .add-data {
        text-align: right;
    }
    .add-data .btn-add-data {
        width: 188px;
        height: 36px;
        border-radius: 6px;
        background: #477bee;
        color: #ffffff;
    }
    .add-data .btn-add-data:hover {
        opacity: 0.75;
    }
    ::ng-deep {
        .dx-radiobutton .dx-item-content {
            font-size: 16px;
        }
    }
}

::ng-deep .damage .dx-datagrid-headers {
    background-color: #fffffff7 !important;
    border: unset !important;
}
.block-icon-right {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    /* background-color: blue; */
    color: #fff;
    background: #334763;
}
::ng-deep .dx-popup-title.dx-toolbar {
    padding: 6px 20px;
    overflow: visible;
    box-shadow: none;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    // background: #2f2b66;
    /* margin-top: 0px; */
}
::ng-deep .damage .dx-datagrid-headers {
    background-color: #fffffff7 !important;
    border: unset !important;
}
.status_damage {
    margin-top: 120px;
    background-color: #fffae9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #aaaaaa8c;
    margin-bottom: -80px;
    margin-left: 10px;
    margin-right: 10px;
}
::ng-deep .dx-datagrid-headers + .dx-datagrid-rowsview {
    border-top: 1px solid #fff !important;
}

.bnt-botton {
    margin-top: -40px;
    justify-content: right;
    margin-right: 10px;
}
::ng-deep .time-damage .dx-texteditor-buttons-container {
    display: flex;
    width: auto;
    flex-grow: 0;
    flex-basis: content;
    // width: 0px;
    // visibility: hidden;
    align-items: center;
}
::ng-deep .time-damage .dx-datebox.dx-auto-width .dx-texteditor-input {
    padding-right: 0px;
}
// ::ng-deep .damage1 .dx-layout-manager .dx-label-h-align .dx-field-item-label .dx-field-item-label-content {
//     display: block;
//     visibility: hidden;
// }
// .collapsible {
//     background-color: #5586df;
//     color: white;
//     cursor: pointer;
//     padding: 18px;
//     width: 100%;
//     border: none;
//     text-align: left;
//     outline: none;
//     font-size: 15px;
// }

// .active,
// .collapsible:hover {
//     background-color: rgb(46, 95, 187);
// }

// .content {
//     padding: 0 18px;
//     display: none;
//     overflow: hidden;
//     background-color: #f1f1f1;
// }
// button.active:before {
//     right: 0;
//     position: fixed;
//     margin-top: -5px;
//     font-size: 20px;
//     margin-right: 40px;
//     background-color: #fff;
//     color: #1c2f52;
//     width: 25px;
//     height: 25px;
//     border-radius: 20px;
//     text-align: center;
//     content: "\f106";
//     font-family: "FontAwesome";
//     font-weight: bold;
// }
// button:before {
//     right: 0;
//     position: fixed;
//     margin-top: -5px;
//     font-size: 20px;
//     margin-right: 40px;
//     background-color: #fff;
//     color: #1c2f52;
//     width: 25px;
//     height: 25px;
//     border-radius: 20px;
//     text-align: center;
//     content: "\f107";
//     font-family: "FontAwesome";
//     font-weight: bold;
// }
::ng-deep .timeicon .dx-dropdowneditor-icon::before {
    content: "\f017";
    position: absolute;
    display: block;
    width: 18px;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -9px;
    font-family: "FontAwesome";
    font-weight: bold;
}



// uploadfile custom
.block-dropzone {
    // width: 95%;
    // margin: 0 auto;
    .dropzone {
        display: table;
        width: 100%;
        height: 160px;
        background: #ffffff;
        // border: 2px dashed #DBDBDB;
        border: 2px dashed #2F2B66;
        border-radius: 6px;
        text-align: center;
        padding-top: 55px;
        .dropzone-text {
            position: relative;
            img {
                position: absolute;
                top: -2px;
                height: 16px;
                left: -24px;
            }
        }
    }
}
.block-uploaded-file {
    .block-file {
        border: 2px dashed #E4E4E4;
        // border: 2px dashed #2F2B66;
        border-radius: 8px;
        .icon-file {
            width: 30px;
        }
        .nopading {
            padding: 0;
        }
        .block-remove-file {
            padding: 0 0 0 15px;
        }
        .detail-center {
            padding: 0 0 0 9px;
        }
    }
    .block-file>.row {
        margin: 6px;
    }
}
