:host {
    .footer-block {
        background-color: #0B2652;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 99;
        min-height: 40px;
        * {
            font-size: 16px;
            color: #ffffff;
        }
        .block-left,
        .block-right {
            padding-top: 10px;
        }
        // .block-right {
        //     text-align: right;
        //     padding-bottom: 10px;
        // }
        .block-right {
            text-align: right;
            padding-bottom: 10px;
        }
        @media screen and (max-width: 574.98px) {
            .block-right {
                text-align: left;
            }
        }
    }
}
