.containerSecurity {
     background-color: #f1f1f1;
     display: flex;
     flex-direction: column;
     // padding: 2vw 3vw;
     padding: 35px 50px 50px 50px;

     .textSecurity {
          font-size: 2vw;
          font-weight: 600;
          color: #273880;
          margin: 10px 0;
     }
}

.boxSecurity {
     display: flex;
     gap: 1.5vw;
     overflow-x: auto;
     overflow: hidden;
     width: 100%;
     max-width: 100vw;
     white-space: nowrap;
     cursor: grab;
     scroll-behavior: smooth;
     touch-action: pan-x;
     -webkit-overflow-scrolling: touch;

     &.active {
          cursor: grabbing;
     }

     .iconSecurity,
     .iconSecuritys {
          flex: 0 0 18vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #273880;
          border-radius: 6px;
          padding: 1.5vw;
          height: 10vw;
          width: 20vw;
          white-space: normal;
          scroll-snap-align: center;
          // backdrop-filter: blur(10px);
     }

     .iconSecurity {
          flex-direction: column;
          text-align: center;

          img {
               width: 70%;
               margin-bottom: 1vw;
               filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
          }

          .descSecurity {
               font-size: 1vw;
               font-weight: 600;
               color: #fff;
               text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }
     }

     .iconSecuritys {
          flex-direction: row;
          padding: 1.5vw;

          img {
               width: 3.5vw;
               filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
          }

          .titleSecurity {
               font-size: 1vw;
               font-weight: 700;
               color: #fff;
               margin: 0vw 1vw;
               text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }

          .descSecurity {
               font-size: 1vw;
               font-weight: 500;
               color: #fff;
               margin: 0vw 1vw;
               text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          }
     }
}