<div class="containerSecurity">
     <div class="textSecurity">บริการเสริมความปลอดภัย</div>
     <div class="boxSecurity">
          <ng-container *ngFor="let item of detailSecurity">
               <div class="iconSecurity" (click)="onSwitchService(item.ServiceId)" *ngIf="item.ServiceSeq < 4">
                    <img [src]="item.ImageUrl" class="imageNews">
                    <label class="descSecurity">{{ item.ServiceDescription }}</label>
               </div>
               <div class="iconSecuritys" (click)="onSwitchService(item.ServiceId)" *ngIf="item.ServiceSeq >= 4">
                    <div>
                         <img [src]="item.ImageUrl" alt="icon">
                    </div>
                    <div *ngIf="item.ServiceSeq === 4">
                         <label class="titleSecurity">Line Chat</label>
                         <label class="descSecurity">{{ item.ServiceDescription }}</label>
                    </div>
                    <div *ngIf="item.ServiceSeq === 5">
                         <label class="titleSecurity">Chat Bot</label>
                         <label class="descSecurity">{{ item.ServiceDescription }}</label>
                    </div>
               </div>
          </ng-container>
     </div>
</div>