<div class="containerSecurity">
     <div class="textSecurity">บริการเสริมความปลอดภัย</div>
     <div class="boxSecurity">
          <ng-container *ngFor="let item of detailSecurity">
               <div class="iconSecurity" *ngIf="item.id <= 3">
                    <img [src]="item.image" alt="icon">
                    <label class="descSecurity">{{ item.description }}</label>
               </div>
               <div class="iconSecuritys" *ngIf="item.id >= 4">
                    <div>
                         <img [src]="item.image" alt="icon">
                    </div>
                    <div>
                         <label class="titleSecurity">{{ item.title }}</label>
                         <label class="descSecurity">{{ item.description }}</label>
                    </div>
               </div>
          </ng-container>
     </div>
</div>