<div class="block-content">
    <div class="title">
        <div class="title-left">ประวัติการนัดหมาย</div>
    </div>
  
    <div class="block-main">
        <div class="container-fluid">
            <div class="row"> 
                <div class="col-12 ">
                    <br />
                    <div style="display: flex; justify-content:center;">
                        <div class="panel panel-default " style="width: 100%;">
                            <div id="history-table" class="myContent" >
                                <dx-data-grid  style="max-width: 100%!important;" #grid [dataSource]="_dataSource" [showColumnLines]="false" [wordWrapEnabled]="true" [showRowLines]="true" [columnAutoWidth]="true" 
                                    [columnHidingEnabled]="false" [showBorders]="false" [rowAlternationEnabled]="true" [showColumnLines]="true"
                                    [hoverStateEnabled]="true" [selectedRowKeys]="[]" noDataText="ไม่มีข้อมูล" [remoteOperations]="false">
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-load-panel text="กำลังโหลดข้อมูล..."></dxo-load-panel>
                                    <dxo-search-panel [visible]="true" [width]="200" placeholder="ค้นหา..."></dxo-search-panel>
                                    <dxo-editing mode="cell" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
                                    </dxo-editing>
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
                                    </dxo-pager>
                                    <dxi-column dataField="" caption="รายงาน" [width]="100" alignment="center"
                                    [allowSorting]="false" cellTemplate="cellTemplateReport"></dxi-column>
                                <div *dxTemplate="let cellValue of 'cellTemplateReport'">
                                    <div class="table-icon-edit" (click)="report(cellValue)">
                                        <img src="assets/icon/icon-report.png" alt="Report" width="25px" height="25px">
                                    </div>
                                </div>

                                    <dxi-column  [allowSearch]="false"  dataField="" [width]="80" caption="ลำดับ" alignment="center" cellTemplate="cellTemplate"></dxi-column>
                                  
                                    <dxi-column  [allowSearch]="true"  dataField="TRACKING_CODE" [width]="130" caption="เลขรับแจ้งความ" alignment="center"></dxi-column>
                                    <dxi-column  [allowSearch]="true"  dataField="APP_PERSONAL_FULLNAME" [width]="200" caption="ชื่อพนักงานสอบสวน" alignment="center"></dxi-column>
                                    <dxi-column  [allowSearch]="true"  dataField="APPOINTMENT_PERSONAL_TEL_NO" [width]="150" caption="เบอร์ติดต่อ" alignment="center"></dxi-column>
                                    <dxi-column  [allowSearch]="true"  dataField="INVESTIGATE_OFFICER_NAME" [width]="200" caption="ชื่อพนักงานสืบสวน" alignment="center"></dxi-column>
                                    <dxi-column  [allowSearch]="true"  dataField="INVESTIGATE_OFFICER_PHONE" [width]="150" caption="เบอร์ติดต่อ" alignment="center"></dxi-column>
                                    <dxi-column  [allowSearch]="true"  dataField="ORGANIZE_NAME_THA" [width]="300" caption="สถานที่นัดหมาย" alignment="center"></dxi-column>
                                    <dxi-column dataField="" caption="วันเวลานัดหมาย" [width]="250" alignment="center" [allowSorting]="true" cellTemplate="cellTemplateDate"></dxi-column>
                                    
                                    <div *dxTemplate="let cellValue of 'cellTemplateDate'">
                                        <p>{{ConvertDateFullMonth(cellValue.data.APPOINTMENT_DATE)}} | เวลา {{ConvertDateToMomentTime(cellValue.data.APPOINTMENT_DATE)}} น.</p>
                                    </div>
                                    
                                    <div *dxTemplate="let cell of 'cellTemplate'">
                                        {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}
                                    </div>
                                </dx-data-grid>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กำลังโหลดข้อมูล..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>
