<div class="conten-block">
    <div class="content-title">ข้อมูลผู้เสียหาย</div>
    <div class="content-form">
        <dx-form #formInformer1 [colCount]="2" labelLocation="top">
            <dxi-item template="temptitle" [colSpan]="1" [isRequired]="formValidate">
                <dxo-label text="คำนำหน้า" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกคำนำหน้า">
                </dxi-validation-rule>
            </dxi-item>
            <div *dxTemplate="let data of 'temptitle'">
                <dx-radio-group [readOnly]="formReadOnly" [dataSource]="cmstitle" layout="horizontal" valueExpr="TITLE_ID" displayExpr="TITLE_NAME" [(value)]="formData.TITLE_ID" (onValueChanged)="ChangeRadioTitle($event)"></dx-radio-group>
            </div>
            <dxi-item template="tempothertitle" [colSpan]="1" *ngIf="checkothertitle">
                <dxo-label text="คำนำหน้าอื่นๆ" [showColon]="false"></dxo-label>
            </dxi-item>
            <div *dxTemplate="let data of 'tempothertitle'">
                <dx-text-box [readOnly]="formReadOnly" [(value)]="formData.TITLE_NAME"></dx-text-box>
            </div>
            <dxi-item template="tempcitizen" [colSpan]="1" [isRequired]="formValidate">
                <dxo-label text="เลขบัตรประจำตัวประชาชน" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกเลขบัตรประจำตัวประชาชน">
                </dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="13" message="กรุณากรอกครบ 13 หลัก">
                </dxi-validation-rule>
                <dxi-validation-rule type="custom" message="เลขบัตรประจำตัวประชาชนไม่ถูกต้อง" [validationCallback]="citizenPattern">
                </dxi-validation-rule>
            </dxi-item>
            <div *dxTemplate="let data of 'tempcitizen'">
                <dx-text-box id="ctllcitizen" [readOnly]="formReadOnly" (keypress)="CheckNumber($event)" (paste)="PasteCheckNumber($event)" [maxLength]="13" [(value)]="formData.CASE_INFORMER_CITIZEN_NUMBER"></dx-text-box>
                <dx-tooltip target="#ctllcitizen" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                    <div *dxTemplate="let data of 'content'">
                        <p>หมายเหตุ: ระบุเลขบัตรประชาชน 13 หลัก</p>
                    </div>
                </dx-tooltip>
            </div>
            <dxi-item template="temp1" [colSpan]="1" [isRequired]="formValidate">
                <dxo-label text="ชื่อ" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกข้อมูลชื่อ">
                </dxi-validation-rule>
                <dxi-validation-rule type="custom" [validationCallback]="NamePattern" message="ไม่ต้องระบุคำนำหน้านาม">
                </dxi-validation-rule>

            </dxi-item>
            <div *dxTemplate="let data of 'temp1'">
                <dx-text-box id="ctlfname" (keypress)="NameValidator($event)" [readOnly]="formReadOnly" [(value)]="formData.CASE_INFORMER_FIRSTNAME"></dx-text-box>

                <dx-tooltip target="#ctlfname" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                    <div *dxTemplate="let data of 'content'">
                        <p>หมายเหตุ: ไม่ต้องระบุคำนำหน้า ตัวเลข ช่องว่างหรืออักษรพิเศษ</p>
                    </div>
                </dx-tooltip>
            </div>
            <dxi-item template="temp2" [colSpan]="1" [isRequired]="formValidate">
                <dxo-label text="นามสกุล" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกข้อมูลนามสกุล">
                </dxi-validation-rule>
            </dxi-item>
            <div *dxTemplate="let data of 'temp2'">
                <dx-text-box id="ctllname" (keypress)="NameValidator($event)" [readOnly]="formReadOnly" [(value)]="formData.CASE_INFORMER_LASTNAME"></dx-text-box>
                <dx-tooltip target="#ctllname" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                    <div *dxTemplate="let data of 'content'">
                        <p>หมายเหตุ: ไม่ต้องระบุ ตัวเลข หรืออักษรพิเศษ</p>
                    </div>
                </dx-tooltip>
            </div>
            <dxi-item template="temp3" [colSpan]="1" [isRequired]="formValidate">
                <dxo-label text="เพศ" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกข้อมูลเพศ">
                </dxi-validation-rule>
            </dxi-item>
            <div *dxTemplate="let data of 'temp3'">
                <dx-radio-group [readOnly]="formReadOnly" [dataSource]="gender" layout="horizontal" valueExpr="GENDER_TYPE" displayExpr="GENDER_DETAIL" [(value)]="checkedRadioGender" (onValueChanged)="ChangeRadioGender($event)"></dx-radio-group>
            </div>
            <dxi-item template="temp4" [isRequired]="formValidate" [colSpan]="1">
                <dxo-label text="วัน/เดือน/ปี เกิดของผู้เสียหาย" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกข้อมูลวันเกิด">
                </dxi-validation-rule>
            </dxi-item>
            <div *dxTemplate="let data of 'temp4'">
                <app-date-combo-picker *ngIf="loadDateBox" [disabled]="formReadOnly" [timezone]="'UTC+7'" [minDate]="minBirthDate" [maxDate]="maxBirthDate" [(date)]="formData.CASE_INFORMER_DATE"></app-date-combo-picker>

            </div>
            <dxi-item template="temp7" [colSpan]="1" [isRequired]="formValidate">
                <dxo-label text="เบอร์โทรศัพท์มือถือ" [showColon]="false"></dxo-label>
                <dxi-validation-rule type="required" message="กรุณากรอกข้อมูลเบอร์โทรศัพท์มือถือ">
                </dxi-validation-rule>
                <dxi-validation-rule type="custom" message="หมายเลขโทรศัพท์ 10 หลัก" [validationCallback]="PhoneNumberPattern">
                </dxi-validation-rule>
            </dxi-item>
            <div *dxTemplate="let data of 'temp7'">
                <dx-text-box id="ctfPhone" [readOnly]="formReadOnly" [(value)]="formData.INFORMER_TEL" [maxLength]="10" (keypress)="CheckNumber($event)" (paste)="PasteCheckNumber($event)"></dx-text-box>
                <dx-tooltip target="#ctfPhone" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                    <div *dxTemplate="let data of 'content'">
                        <p>ระบุหมายเลขโทรศัพท์จำนวน 10 หลักติดกันโดยไม่ต้องมีขีดคั่น ช่องว่าง หรือตัวอักษรพิเศษ ตัวอย่าง 0819999999</p>
                    </div>
                </dx-tooltip>
            </div>
            <dxi-item template="temp9" [colSpan]="1">
                <dxo-label text="Email" [showColon]="false"></dxo-label>
                <ng-container *ngIf="formData.INFORMER_EMAIL">
                    <dxi-validation-rule type="custom" [validationCallback]="EmailPatternCharacters" message="Email จะต้องไม่มีเครื่องหมาย &, =, ', +, (,), <, >, * ฯลฯ"></dxi-validation-rule>
                    <dxi-validation-rule type="custom" [validationCallback]="EmailPatternDot" message="Email มีจุด (.) ติดกันมากกว่า 1 จุด"></dxi-validation-rule>
                    <dxi-validation-rule type="custom" [validationCallback]="EmailPatternNameLength" message="กรุณาตรวจสอบชื่อผู้ใช้งาน"></dxi-validation-rule>
                    <dxi-validation-rule type="custom" [validationCallback]="EmailPatternAtSign" message="กรุณาใส่เครื่องหมาย @"></dxi-validation-rule>
                    <dxi-validation-rule type="email" message="กรุณาตรวจสอบชื่อ domain"></dxi-validation-rule>
                </ng-container>
            </dxi-item>
            <div *dxTemplate="let data of 'temp9'">
                <dx-text-box id="ctrlEmail" [readOnly]="formReadOnly" [(value)]="formData.INFORMER_EMAIL"></dx-text-box>
                <dx-tooltip target="#ctrlEmail" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                    <div *dxTemplate="let data of 'content'">
                        <p>อีเมลสามารถมีตัวอักษร (a-z), ตัวเลข (0-9) และจุด (.) ได้ แต่ต้องไม่มีเครื่องหมาย &, =, ', +, (,),
                            <,>, * ฯลฯ</p>
                    </div>
                </dx-tooltip>
            </div>
        </dx-form>
    </div>
    <div class="conten-block">
        <div class="content-title">ที่อยู่ตามบัตรประจำตัวประชาชน</div>
        <div class="content-form">
            <dx-form #formInformer2 [colCount]="3" labelLocation="top">
                <dxi-item template="temp1" [colSpan]="1" [isRequired]="formValidate">
                    <dxo-label text="บ้านเลขที่/ ซอย/ หมู่ที่/ ถนน" [showColon]="false"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณากรอกบ้านเลขที่/ ซอย/ หมู่ที่/ ถนน">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp1'">
                    <dx-text-box id="ctrlCardAddress" [readOnly]="formReadOnly" [(value)]="formData.CASE_INFORMER_CARD_ADDRESS_NO"></dx-text-box>
                    <dx-tooltip target="#ctrlCardAddress" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                        <div *dxTemplate="let data of 'content'">
                            <p>ตัวอย่าง 84/4</p>
                        </div>
                    </dx-tooltip>
                </div>
                <dxi-item template="temp2" [isRequired]="formValidate">
                    <dxo-label text="จังหวัด" [showColon]="false">
                    </dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือกจังหวัด">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp2'">
                    <dx-select-box #selectcardProvice [dataSource]="province" displayExpr="PROVINCE_NAME_THA" valueExpr="PROVINCE_ID" searchExpr="PROVINCE_NAME_THA" [searchEnabled]="true" placeholder="จังหวัด" [showClearButton]="true" (onValueChanged)="OnSelectcardProvicePresent($event)"
                        [readOnly]="formReadOnly" [(value)]="formData.INFORMER_CARD_PROVINCE">
                    </dx-select-box>
                </div>
                <dxi-item template="temp3" [isRequired]="formValidate">
                    <dxo-label text="อำเภอ/เขต" [showColon]="false"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือกอำเภอ/เขต">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp3'">
                    <dx-select-box #selectCardDistrict [dataSource]="cardAddress.district" displayExpr="DISTRICT_NAME_THA" valueExpr="DISTRICT_ID" searchExpr="DISTRICT_NAME_THA" [searchEnabled]="true" placeholder="อำเภอ/เขต" [disabled]="cardAddress.disableDistrict" (onValueChanged)="OnSelectDistrictCard($event)"
                        [readOnly]="formReadOnly" [(value)]="formData.INFORMER_CARD_DISTRICT_ID" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <dxi-item template="temp4" [isRequired]="formValidate">
                    <dxo-label text="ตำบล/แขวง" [showColon]="false"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือกตำบล/แขวง">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp4'">
                    <dx-select-box #selectCardSubDistrict [dataSource]="cardAddress.subDistrict" displayExpr="SUB_DISTRICT_NAME_THA" valueExpr="SUB_DISTRICT_ID" searchExpr="SUB_DISTRICT_NAME_THA" [searchEnabled]="true" placeholder="ตำบล" [disabled]="cardAddress.disableSubDistrict"
                        (onValueChanged)="OnSelectSubDistrictCard($event)" [readOnly]="formReadOnly" [(value)]="formData.INFORMER_CARD_SUB_DISTRICT_ID" [showClearButton]="true">
                    </dx-select-box>
                </div>

            </dx-form>
        </div>
    </div>
    <div class="conten-block">
        <dx-check-box *ngIf="!formReadOnly" text="ใช้ข้อมูลที่อยู่ตามบัตรประจำตัวประชาชน" [(value)]="checkboxaddresscard" (onValueChanged)="onvaluecheckaddresscard($event)"></dx-check-box>
        <div class="content-title">ที่อยู่ปัจจุบันผู้เสียหาย</div>
        <div class="content-form">
            <dx-form #formInformer2address [colCount]="3" labelLocation="top">
                <dxi-item template="temp1" [colSpan]="1" [isRequired]="formValidate">
                    <dxo-label text="บ้านเลขที่/ ซอย/ หมู่ที่/ ถนน" [showColon]="false"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณากรอกบ้านเลขที่/ ซอย/ หมู่ที่/ ถนน">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp1'">
                    <dx-text-box id="ctrlAddress" [readOnly]="formReadOnly" [(value)]="formData.CASE_INFORMER_ADDRESS_NO"></dx-text-box>
                    <dx-tooltip target="#ctrlAddress" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top" [hideOnOutsideClick]="false">
                        <div *dxTemplate="let data of 'content'">
                            <p>ตัวอย่าง 84/4</p>
                        </div>
                    </dx-tooltip>
                </div>
                <dxi-item template="temp2" [isRequired]="formValidate">
                    <dxo-label text="จังหวัด" [showColon]="false">
                    </dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือกจังหวัด">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp2'">
                    <dx-select-box #selectPresentProvice [dataSource]="province" displayExpr="PROVINCE_NAME_THA" valueExpr="PROVINCE_ID" searchExpr="PROVINCE_NAME_THA" [searchEnabled]="true" placeholder="จังหวัด" [showClearButton]="true" (onValueChanged)="OnSelectProvicePresent($event)"
                        [readOnly]="formReadOnly" [(value)]="formData.INFORMER_PROVINCE">
                    </dx-select-box>
                </div>
                <dxi-item template="temp3" [isRequired]="formValidate">
                    <dxo-label text="อำเภอ/เขต" [showColon]="false"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือกอำเภอ/เขต">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp3'">
                    <dx-select-box #selectPresentDistrict [dataSource]="presentAddress.district" displayExpr="DISTRICT_NAME_THA" valueExpr="DISTRICT_ID" searchExpr="DISTRICT_NAME_THA" [searchEnabled]="true" placeholder="อำเภอ/เขต" [disabled]="presentAddress.disableDistrict"
                        (onValueChanged)="OnSelectDistrictPresent($event)" [readOnly]="formReadOnly" [(value)]="formData.INFORMER_DISTRICT_ID" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <dxi-item template="temp4" [isRequired]="formValidate">
                    <dxo-label text="ตำบล/แขวง" [showColon]="false"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือกตำบล/แขวง">
                    </dxi-validation-rule>
                </dxi-item>
                <div *dxTemplate="let data of 'temp4'">
                    <dx-select-box #selectPresentSubDistrict [dataSource]="presentAddress.subDistrict" displayExpr="SUB_DISTRICT_NAME_THA" valueExpr="SUB_DISTRICT_ID" searchExpr="SUB_DISTRICT_NAME_THA" [searchEnabled]="true" placeholder="ตำบล" [disabled]="presentAddress.disableSubDistrict"
                        (onValueChanged)="OnSelectSubDistrictPresent($event)" [readOnly]="formReadOnly" [(value)]="formData.INFORMER_SUB_DISTRICT_ID" [showClearButton]="true">
                    </dx-select-box>
                </div>
                <!--            <dxi-item template="temp5" [isRequired]="formValidate">-->
                <!--                <dxo-label text="รหัสไปรษณีย์"></dxo-label>-->
                <!--                <dxi-validation-rule type="required" message="กรุณาเลือก">-->
                <!--                </dxi-validation-rule>-->
                <!--            </dxi-item>-->
                <!--            <div *dxTemplate="let data of 'temp5'">-->
                <!--                <dx-select-box #selectPresentPostcode [dataSource]="presentAddress.postcode" valueExpr="POSTCODE_ID" [disabled]="presentAddress.disablepostcode" displayExpr="POSTCODE_CODE" placeholder="รหัสไปรษณีย์" searchExpr="POSTCODE_CODE" [searchEnabled]="true" (onValueChanged)="OnSelectPostCodePresent($event)"-->
                <!--                    [showClearButton]="true" [readOnly]="formReadOnly" [(value)]="formData.INFORMER_POSTCODE_ID">-->
                <!--                </dx-select-box>-->
                <!--            </div>-->
            </dx-form>
        </div>
        <!-- <div class="content-end-line"></div> -->
    </div>
</div>

<div class="text-right btn-footer">
    <dx-button *ngIf="formType==='add'" class="btn btn-back" text="ย้อนกลับ" (onClick)="Back($event)">
    </dx-button>
    <dx-button *ngIf="formType==='edit'" class="btn btn-back" text="ย้อนกลับ" (onClick)="BackToList($event)">
    </dx-button>
    &nbsp;
    <dx-button class="btn btn-submit" text="ถัดไป" (onClick)="SubmitForm($event)"></dx-button>
</div>


<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>