// color palette
$red: #A62E30;
$red-dark: #B33C39;
$red-light: #FFE7E7;
$orange: #E36B3F;
$orange-light: #E7873E;
$green: #68A53D;
$blue-dark: #253553;
$facebook: #5D7DB3;
$youtube: #DF573B;
$feed: #DD8A47;
$white: #ffffff;
$grey1: #f4f4f4;
$grey2: #E6E6E6;
$grey3: #d6d9db;
$grey4: #e3e6e0;
$grey5: #8e8e8e;
$grey6: #666666;
$grey7: #545757;
$grey8: #333333;
$grey9: #464646;
$grey10: #C4C4C4;
$grey11: #E3E3E3;
$grey12: #A39C9C;