@font-face {
    font-family: 'Kanit-Light';
    src: url('/assets/fonts/Kanit/Kanit-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('/assets/fonts/Kanit/Kanit-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('/assets/fonts/Kanit/Kanit-Bold.ttf') format("truetype");
}