<div class="w-100 myFooter" style="background-color: #333;">
    <div class="">
        <div class="row">

            <div class="col-md-12">
                <div class="footer-social-link d-flex">
                    <div class="col-md-8 d-block">
                        <div style="font-size: 10px;">© สงวนลิขสิทธิ์ 2021 สำนักงานตำรวจแห่งชาติ
                        </div>
                        <!-- <span>กองบัญชาการตำรวจสืบสวนอาชญากรรมทางเทคโนโลยี</span><br>
                        <span>อาคารเฉลิมพระเกียตรสมเด็จพระบรมโอสาธิราชฯ สยามมงกุฎราชกุมารพระชนมพรรษา 60 พรรษา (อาคาร 30
                            ชั้น) ชั้นที่ 4</span><br>
                        <span>เมืองทองธานี ถนนป๊อปปูล่า ตำบลบ้านใหม่ อำเภอปากเกร็ด จังหวัดนนทบุรี 1120</span> -->
                    </div>
                    <div class="col-md-4 d-flex" style="padding: 10px; bottom: 10px; color: #fff; justify-content: right; padding-top: 22px;">
                        <div style="font-size: 10px; padding-right: 5px;">ติดต่อผู้ดูแลระบบ: pct@police.go.th</div>
                        <!-- <div style="font-size: 10px; padding-left: 5px;">สายด่วน: 1599</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
