<div class="frame-desktop">
     <label class="textCaseOnline">แจ้งความออนไลน์</label>
     <label class="caseTechnology">คดีอาชญากรรมทางเทคโนโลยี</label>

     <div class="box-frame-text-button">
          <div class="caseOnline">แจ้งความออนไลน์</div>
          <div class="tel1441">สายด่วน 1441</div>
     </div>
</div>

<div class="frame-mobile">
     <!-- <label class="textCaseOnline">แจ้งความออนไลน์</label>
     <label class="caseTechnology">คดีอาชญากรรมทางเทคโนโลยี</label> -->

     <div class="box-frame-text-button">
          <div class="caseOnline">
               <img src="assets/icon/white1.png" alt="">
               แจ้งความออนไลน์
          </div>
          <div class="tel1441">
               <img src="assets/icon/white2.png" alt="50">
               สายด่วน 1441
          </div>
     </div>
</div>