<div class="block-content-detail not-copy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="block-title-box">
                    <div class="title-th">การรับแจ้งความทางออนไลน์คดีอาชญากรรมทางเทคโนโลยี</div>
                    <div class="title-th">สำนักงานตำรวจแห่งชาติ</div>
                </div>
            </div>
            <div class="col-12">
                <div class="block-while-box">
                    <div class="block-icon">
                        <i class="icon fa fa-lock"></i>
                        <div class="text-foget-pass">ลืมรหัสผ่าน?</div>
                        <div class="text-detail-foget-pass">คุณสามารถเปลี่ยนรหัสผ่านของคุณได้ที่นี่</div>
                    </div>
                    <div class="card card-mail-box-top">
                        <div class="card-body">
                            <div class="text-title">เลือกช่องทางยืนยันตัวตนเพื่อเปลี่ยนรหัสผ่าน</div>
                            <dx-radio-group layout="horizontal" (onContentReady)="setDetault($event)"
                                [dataSource]="choiceOTP" valueExpr="id" displayExpr="txt" [(value)]="choiceSelect">
                            </dx-radio-group>
                            <!-- <div *ngIf="choiceSelect === 2" class="sub-text">กรุณาตรวจสอบอีเมลของท่าน</div>
                            <div *ngIf="choiceSelect === 2" class="sub-text text-danger">หากไม่พบอีเมลใน Inbox กรุณาตรวจสอบใน Junk Mail</div>
                            <div *ngIf="!_sendOTP" class="text-center" style="margin-top: 10px;">
                                <dx-button type="default" hint="รับรหัส" text="รับรหัส" (onClick)="sendOTP()">
                                </dx-button>
                            </div> -->
                        </div>
                    </div>
                    <div class="form" style="margin-top: 20px;">
                        <div *ngIf="choiceSelect === 1">
                            <form id="forgot-password-form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text icon-span">
                                                <i class="icon-send fa fa-envelope"></i></span>
                                        </div>
                                        <input #email id="email" name="USER_EMAIL" placeholder="กรอกอีเมลผู้ใช้งาน"
                                            class="form-control" type="email" (keyup.enter)="onForget(email.value)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <dx-button class="btns-send-forget-pass" icon="fa fa-paper-plane" text="ส่งอีเมล"
                                        (onClick)="onForget(email.value)"></dx-button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="choiceSelect === 2">
                            <form id="forgot-password-form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text icon-span">
                                                <i class="icon-send fa fa-phone"></i></span>
                                        </div>
                                        <input #tel id="tel" name="USER_TEL" placeholder="กรอกเบอร์โทรศัพท์"
                                            maxlength="10"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                            class="form-control" type="email" (keyup.enter)="sendSMS(tel.value)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <dx-button [disabled]="btnSend" class="btns-send-forget-pass"
                                        icon="fa fa-paper-plane" text="ส่ง SMS" (onClick)="sendSMS(tel.value)">
                                    </dx-button>
                                    <span [hidden]="!btnSend">ส่งอีกครั้งได้อีก </span>
                                    <countdown [hidden]="!btnSend" [config]="config"></countdown>
                                </div>
                            </form>
                            <dx-form *ngIf="btnSend" labelLocation="top" [colCount]="1" style="margin-top: 10px;margin-bottom: 10px;">
                                <dxi-item template="otpnumber">
                                    <dxo-label text="รหัส OTP"></dxo-label>
                                    <dxi-validation-rule type="required" message="กรุณากรอกรหัส OTP">
                                    </dxi-validation-rule>
                                </dxi-item>
                                <div *dxTemplate="let data of 'otpnumber'">
                                    <dx-text-box placeholder="รหัส OTP 6 หลัก" [maxLength]="6" [showClearButton]="true"
                                        [(value)]="otpnumber">
                                    </dx-text-box>
                                </div>
                            </dx-form>
                            <dx-button *ngIf="btnSend" class="btns-send-forget-pass" (onClick)="confirmOTP()">
                                <i class="fa fa-save icon-style-button"></i> ยืนยัน
                            </dx-button>
                        </div>
                        <div>
                            <dx-button class="btns-back-login" text="กลับ" (onClick)="login()"></dx-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [visible]="_isLoading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" message="กรุณารอสักครู่..." shadingColor="rgba(0, 0, 0, 0.2)">
</dx-load-panel>
