.container-desktop {
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: start;
     width: 100%;

     img {
          width: 13vw;
          height: 100%;
          margin: 10px 0px;
     }

     .textFirst {
          font-size: 1.5vw;
          font-weight: 500;
          letter-spacing: .2vw;
          color: #fff;
          margin: 5px 0px
     }

     .textSecond {
          font-size: 5vw;
          font-weight: 700;
          letter-spacing: .2vw;
          color: #fff;
          margin: 2px 0px
     }

     .textThird {
          font-size: 2vw;
          font-weight: 600;
          letter-spacing: .2vw;
          color: #fff;
          margin: 2px 0px 25px 0px;
     }

     .buttonTestOnilne {
          padding: 1vw 4vw;
          font-size: 1.5vw;
          font-weight: 500;
          color: #fff;
          border-radius: 12px;
          background-color: #FF5A01;
          cursor: pointer;
     }
}

.container-mobile {
     display: none;
}


@media screen and (max-width: 495px) {

     .container-desktop {
          display: none;
     }

     .container-mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          img {
               width: 45vw;
               height: 100%;
               margin: 10px 0px;
          }

          .textFirst {
               font-size: 4vw;
               font-weight: 500;
               letter-spacing: .2vw;
               color: #fff;
               margin: 5px 0px
          }

          .textSecond {
               font-size: 10vw;
               font-weight: 700;
               letter-spacing: .2vw;
               color: #fff;
               margin: 2px 0px
          }

          .textThird {
               font-size: 6vw;
               font-weight: 600;
               letter-spacing: .2vw;
               color: #fff;
               margin: 2px 0px 25px 0px;
          }

          .buttonTestOnilne {
               padding: 2vw 4vw;
               font-size: 5vw;
               font-weight: 500;
               color: #fff;
               border-radius: 12px;
               background-color: #FF5A01;
               cursor: pointer;
          }
     }

}

@media screen and (max-width: 575px) {
     .container-desktop {
          display: none;
     }

     .container-mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          img {
               width: 45vw;
               height: 100%;
               margin: 10px 0px;
          }

          .textFirst {
               font-size: 4vw;
               font-weight: 500;
               letter-spacing: .2vw;
               color: #fff;
               margin: 5px 0px
          }

          .textSecond {
               font-size: 10vw;
               font-weight: 700;
               letter-spacing: .2vw;
               color: #fff;
               margin: 2px 0px
          }

          .textThird {
               font-size: 6vw;
               font-weight: 600;
               letter-spacing: .2vw;
               color: #fff;
               margin: 2px 0px 25px 0px;
          }

          .buttonTestOnilne {
               padding: 2vw 4vw;
               font-size: 5vw;
               font-weight: 500;
               color: #fff;
               border-radius: 12px;
               background-color: #FF5A01;
               cursor: pointer;
          }
     }
}

@media screen and (max-width: 768px) {
     .container-desktop {
          display: none;
     }

     .container-mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          img {
               width: 40vw;
               height: 100%;
               margin: 10px 0px;
          }

          .textFirst {
               font-size: 4vw;
               font-weight: 500;
               letter-spacing: .2vw;
               color: #fff;
               margin: 5px 0px
          }

          .textSecond {
               font-size: 8vw;
               font-weight: 700;
               letter-spacing: .2vw;
               color: #fff;
               margin: 2px 0px
          }

          .textThird {
               font-size: 4vw;
               font-weight: 600;
               letter-spacing: .2vw;
               color: #fff;
               margin: 2px 0px 25px 0px;
          }

          .buttonTestOnilne {
               padding: 2vw 4vw;
               font-size: 4vw;
               font-weight: 500;
               color: #fff;
               border-radius: 12px;
               background-color: #FF5A01;
               cursor: pointer;
          }
     }
}