<div class="containerDesktop"  #containerDesktop [ngClass]="{'slideRight': isVisible}">
     <img src="assets/image/logo/logo_VA.png" alt="">
     <label for="" class="textFirst">
          สร้างความปลอดภัยเสริมภูมิคุ้มกัน
     </label>
     <label for="" class="textSecond">
          ไซเบอร์วัคซีน
     </label>
     <label for="" class="textThird">
          รู้ทันภัยไซเบอร์จากมิจฉาชีพออนไลน์
     </label>
     <div class="buttonTestOnilne">
          แบบทดสอบความรู้กลโกงออนไลน์
     </div>
</div>