<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <dx-scroll-view [showScrollbar]="'always'">
            <responsive-helper></responsive-helper>
            <app-main-re-design></app-main-re-design>
            <app-protect-cyber></app-protect-cyber>
            <app-security-service></app-security-service>
            <app-formationnews></app-formationnews>
            <app-requestfreeze></app-requestfreeze>
            <app-faq></app-faq>
        </dx-scroll-view>
    </div>
</div>
<footer-re-design></footer-re-design>