<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <dx-scroll-view [showScrollbar]="'always'">
            <responsive-helper></responsive-helper>
            <app-main-re-design data-section="home"></app-main-re-design>
            <div class="row" style="padding: 10px 10px 10px 10px;background-color: white;">
                <div class="col-md-4 col-sm-12 p-0">
                    <img style="width: 100%; height: auto;cursor: pointer;" class="logoCyberCatPages" src="assets/icon/bg/Artboard 7.png" alt="" (click)="LinkCyberCat()">
                </div>
                <div class="col-md-4 col-sm-12 p-0">
                     <img style="width: 100%; height: auto;cursor: pointer;" class="logoCyberEyePages" src="assets/icon/bg/Artboard 7 copy.png" alt="" (click)="LinkCyberEye()">
                </div>
                <div class="col-md-4 col-sm-12 p-0">
                    <box-senior-cyber [types]="'seniorPages'"></box-senior-cyber>
                </div>
            </div>
            
            <ng-container *ngIf="isMobile; else tabletOrDesktop">
                <app-protect-cyber-mobile data-section="cyber-security"></app-protect-cyber-mobile>
                <app-security-service-mobile></app-security-service-mobile>
                <app-news-cyber-mobile data-section="news"></app-news-cyber-mobile>
            </ng-container>

            <ng-template #tabletOrDesktop>
                <ng-container *ngIf="isTablet; else desktopView">
                    <app-protect-cyber-tablet data-section="cyber-security"></app-protect-cyber-tablet>
                    <app-security-service-tablet></app-security-service-tablet>
                    <app-news-cyber-tablet data-section="news"></app-news-cyber-tablet>
                </ng-container>
            </ng-template>

            <ng-template #desktopView>
                <app-protect-cyber data-section="cyber-security"></app-protect-cyber>
                <app-security-service [types]="'main'"></app-security-service>
                <app-news-cyber data-section="news"></app-news-cyber>
            </ng-template>

            <app-requestfreeze data-section="freeze-account"></app-requestfreeze>
            <app-phoneappcom></app-phoneappcom>
            <app-faq data-section="faq"></app-faq>
        </dx-scroll-view>
    </div>
    <!-- <app-totopbtn></app-totopbtn> -->
</div>
<footer-re-design></footer-re-design>