<!-- <section style="position: relative;
height: 100vh;
background-image: url('assets/image/bg-police-online-desktop.png');
background-repeat: no-repeat;
background-size: cover"> -->
<div id="police-index-page">
    <header-re-design></header-re-design>
    <div class="block-content">
        <dx-scroll-view [showScrollbar]="'always'">
            <app-main-re-design></app-main-re-design>
            <!-- <app-requestfreeze></app-requestfreeze> -->
            <app-faq></app-faq>
        </dx-scroll-view>
    </div>
</div>
<footer-re-design></footer-re-design>