.btn {
    text-decoration: none !important;
}

.btn-success {
    background-color: #00690e;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    padding-top: 5px;
}

.click-tracking {
    font-size: 10px;
    width: 100px;
    white-space: normal;
}